<template>
  <div class="block-info">
    <div class="client-input-group">
      <label class="input-label">The original password:</label>
      <div class="">
        <input class="input-form" type="text"
               placeholder="The original password"
               :class="{'error-input': old_password_error}"
               v-model="old_password"/>
        <p v-if="old_password_error" class="error-text">This field is required, or does not match the original password</p>
      </div>
    </div>
    <div class="client-input-group">
      <label class="input-label">New Password:</label>
        <div class="">
          <input class="input-form" type="text"
                 placeholder="New Password"
                 :class="{'error-input': new_password_error}"
                 @change="isNewPassword"
                 v-model="new_password"/>
          <p v-if="new_password_error" class="error-text">This field is required.</p>
        </div>
    </div>
    <div class="client-input-group">
      <label class="input-label">Confirm Password:</label>
      <div class="">
        <input class="input-form" type="text"
               placeholder="Confirm Password"
               :class="{'error-input': confirm_new_password_error}"
               @change="isConfirmNewPassword"
               v-model="confirm_new_password"/>
        <p v-if="confirm_new_password_error" class="error-text">This field is required and should be match to the new password</p>
      </div>
    </div>

    <div class="shipping-item-btn-block shipping-item-btn-block--form" style="margin-top: 40px">
      <button type="button" class="btn btn-green btn-shipping btn-shipping--big btn-form" @click="onSaveNewPassword">Save</button>
      <button type="button" class="btn btn-grey btn-shipping btn-shipping--big btn-shipping--grey m-l-10" @click="onCancelChangePassword">Cancel</button>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';
  import {apiURL} from '@/../config';

  export default {
    name: "account-change-password",
    components: {},
    props: [],
    data() {
      return {
        old_password: '',
        old_password_error: false,
        new_password: '',
        new_password_error: false,
        confirm_new_password: '',
        confirm_new_password_error: false,
        hasError: false,
      }
    },
    watch: {},
    methods: {
      isNewPassword: function() {
        this.new_password_error = !(this.new_password !== this.old_password);

      },
      isConfirmNewPassword: function() {
        this.confirm_new_password_error = !(this.new_password === this.confirm_new_password);
      },
      cleanForm: function() {
        this.old_password = '';
        this.new_password = '';
        this.confirm_new_password = '';
      },
      validateForm: function () {
        this.hasError = false;
        if (this.old_password == '') {
          this.old_password_error = true;
          this.hasError = true;
        }
        this.isNewPassword();
        this.isConfirmNewPassword();
      },
      onSaveNewPassword: function () {
        this.validateForm();
        if (!this.hasError) {
          axios({
            method: 'put',
            url: apiURL + '/api/user/change-password',
            headers: {
              Authorization: 'Bearer ' + this.$cookie.get('user_token'),
            },
            data: {
              old_password : this.old_password,
              new_password : this.new_password,
              confirmed_new_password : this.confirm_new_password
            }
          })
            .then(response => {
              this.cleanForm();
              this.$emit('saveNewPassword');
            })
            .catch(error => {
              this.old_password_error=true;
            });
        }
      },
      onCancelChangePassword: function() {
        this.cleanForm();
        this.$emit('cancelChangePassword');
      }
    },
    mounted() {
    }
  }
</script>

<style scoped>

</style>
