<template>
    <div class="reward-coupon">
        <div class="left-block-coupon">
            <div class="coupon-amount">
                <span>{{coupon.type}}</span>
                <span>{{coupon.amount}}</span>
            </div>
        </div>
        <div class="right-block-coupon">
            <div class="coupon-info">
                <p class="description">{{coupon.description}}</p>
            </div>
            <div class="coupon-code">
                <span id="code">{{coupon.code}}</span>
                <button id="copyBtn" @click="copyCode()"><img src="../../../../../../static/img/icons/copy.svg"/></button>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'Coupon',
    props: ['coupon'],
    data(){
        return {

        }
    },
    methods: {
        copyCode() {
            // navigator.clipboard.writeText(this.coupon.code);
            this.$copyText(this.coupon.code).then(function (e) {
            }, function (e) {
                alert('Can not copy');
            })
        }
    },
    computed: {
        date() {
            return this.coupon.date_of_create.slice(0,10).replace(/-/g, '/');
        }
    }
}
</script>