<template>
    <div class="container-arrow">	
        <div class="wrapper-arrow">	
            <div class="arrow-steps clearfix">
                <div class="step" 
                     v-for="(reward,i) in rewards" 
                     :key="i"
                     :class="reward.current ? 'current' : ''" >
                    <span>{{reward.number}}</span>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'progressArrow',
    props: ['stamps'],
    data(){
        return {
            rewards: [
                {
                    number: '1',
                    current: false
                },
                {
                    number: '2',
                    current: false
                },
                {
                    number: '3',
                    current: false
                },
                {
                    number: '4',
                    current: false
                },
                {
                    number: '5',
                    current: false
                }
            ]
        }
    },
    watch: {
        stamps(){
            for(let i = 0; i <= this.stamps-1; i++){
                this.rewards[i].current = true;
            }
        }
    }
}
</script>