<template>
  <div>
    <section class="header_top__block">
      <div class="header_top__number">
        <a href="tel:(703) 724-4000">Call Us (703) 724-4000</a>
      </div>
      <div class="header_top_contact">
        <button @click="openPopUp()">Contact Us</button>
      </div>
    </section>

    <header class="header">
      <div class="header__block header__block--left">
        <a class="header__logo" href="/">
          <img src="/static/img/header/logo.svg"/>
          <img class="dark-logo" src="/static/img/header/logo-black.svg"/>
        </a>
        <a class="header__link" href="/shop">Shop</a>
        <a class="header__link" href="/about">About</a>
        <a class="header__link" href="/executive-physical">Executive Physical</a>
        <a class="header__link" href="/preventative-care">Preventative care</a>
        <a class="header__link" href="/services">Services</a>

      </div>
      <div class="header__block header__block--right">
        <a class="header__link" :href="accountLink"><span>Account</span> <user-icon class="font-fix"></user-icon></a>
        <div class="cart-block">
          <a @click="openCartSlider" class="header__link"><span>Cart</span> <shopping-cart-icon class="font-fix"></shopping-cart-icon></a>
          <span v-if="this.$root.cartCount > 0" class="cart-count">{{ this.$root.cartCount }}</span>
        </div>
        <a href="tel:(703) 724-4000" class="header__btn btn-phone">(703) 724-4000</a>
        <button @click="openPopUp()" class="header__btn btn-contact">Contact Us</button>

        <button @click="openMenu" class="btn btn__menu">
          <img src="/static/img/header/header-menu.svg"/>
          <img class="dark-menu" src="/static/img/header/header-menu-black.svg"/>
        </button>
      </div>
    </header>
    <LeftMenu v-if="isMenuOpen" @closed="closeMenu"/>
    <div v-if="this.$root.openCartMenu.background" class="cart-slider-block client-page">
      <cart-slider v-show="this.$root.openCartMenu.menu"></cart-slider>
    </div>
  </div>
</template>
<script>

  import LeftMenu from "../general/Menu";
  import ShoppingCartIcon from "vue-feather-icons/icons/ShoppingCartIcon";
  import UserIcon from "vue-feather-icons/icons/UserIcon";
  import CartSlider from "../shop/components/cart-slider";

  export default {
    components: {
      CartSlider,
      LeftMenu,
      ShoppingCartIcon,
      UserIcon},
    name: 'MainHeader',
    data() {
      return {
        isMenuOpen: false,
        accountLink: '',
      }
    },
    methods: {
      openMenu() {
        this.isMenuOpen = true;
      },
      openPopUp() {
        this.$emit('openpopup', {});
      },
      closeMenu() {
        this.isMenuOpen = false;
      },
      openCartSlider: function(){
        this.$root.openCartMenu.background = true;
        this.$root.openCartMenu.menu = true;
      }
    },
    mounted() {
      this.accountLink = this.$cookie.get('user_token') ? '/shop/account' : '/shop/login';
    }
  };

</script>
