<template>
  <div class="block-info">
    <div class="double-block-info left-position">
      <div class="left-block">
        <user-icon class="font-fix"></user-icon>
      </div>
      <div class="right-block">
        <p class="text-big">{{ userName }}</p>
      </div>
    </div>
    <div class="double-block-info left-position">
      <div class="left-block">
        <mail-icon class="font-fix"></mail-icon>
      </div>
      <div class="right-block">
        <p class="text-regular">{{ userEmail }}</p>
      </div>
    </div>
    <div class="double-block-info left-position">
      <div class="left-block">
        <phone-icon class="font-fix"></phone-icon>
      </div>
      <div class="right-block">
        <p class="text-regular">{{ userPhone }}</p>
      </div>
    </div>
    <button class="btn btn-grey btn-grey--smal btn-shipping btn-shipping--small btn-shipping--grey m-l-50" @click="onEdit">Edit</button>

  </div>
</template>

<script>
  import {UserIcon, MailIcon, PhoneIcon} from 'vue-feather-icons'

  import axios from 'axios';
  import {apiURL} from '@/../config';

  export default {
    name: "personal-info",
    components: {
      UserIcon, MailIcon, PhoneIcon
    },
    props: ['isChangeUser'],
    data(){
      return {
      }
    },
    watch: {
      isChangeUser: function(val){
        this.getUserInfo();
      }
    },
    computed: {
      userName: function() {
        return (this.$store.state.user) ? (this.$store.state.user.first_name + ' ' + this.$store.state.user.last_name) : '';
      },
      userEmail: function() {
        return (this.$store.state.user) ? this.$store.state.user.email : '';
      },
      userPhone: function() {
        return (this.$store.state.user) ? this.$store.state.user.phone : '';
      }
    },
    methods: {
      onEdit: function () {
        let user = {
          first_name: this.$store.state.user.first_name,
          last_name: this.$store.state.user.last_name,
          email: this.$store.state.user.email,
          phone: this.$store.state.user.phone
        };
        this.$emit('editPersonalInfo', user);
      },
    },
  }
</script>

<style scoped>

</style>
