$color-blue: #455C6F;
$color-blue-1: #344654;
$color-blue-2: rgba(69, 92, 111, 0.9);
$color-blue-3: #1B242C;
$color-blue-4: #1A242C;

$color-light-blue: #6EF1F9;

$color-white: #fff;
$color-white-1: rgba(255, 255, 255, 0.3);
$color-white-2: rgba(255, 255, 255, 0.4);
$color-white-3: rgba(255, 255, 255, 0.2);
$color-white-4: rgba(255, 255, 255, 0.5);


$box-shadow: 0px 5px 20px rgba(34, 45, 54, 0.3);
$box-shadow-1: 0px 0px 12px rgba(0, 0, 0, 0.1);

$transition-speed: 0.4s;

$Montserrat: Montserrat, sans-serif;

$white: #FFFFFF;
$grey: #F0F0F0;
$cyan: #50bbb7;
$black: #22252A;

$color: #455C6F;
$color-1: #50BBB7;
$color-2: #22252A;

//$box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
$bg-box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.15);


@import "mixin";
@import "general";
@import "shop/cart_slider";
@import "shop/shop_coupon";
@import "home";
@import "terms";
@import "footer";
@import "peptides";
@import "vitamin";

@import "login";

@import "media";

@import "landing";