<template>
  <div class="admin-page service">
    <admin-menu class="service-active" :class="this.$root.hideMenu ? 'w-70' : 'w-240'"></admin-menu>

    <div class="admin-content">
      <AdminHeader :class="this.$root.hideMenu ? 'w-70' : 'w-240'"></AdminHeader>
      <div class="admin-main-section">

        <h1 class="page-title">Services</h1>

        <div class="admin-main-block">
          <div class="admin-main-block-header">
            <div class="left-block">
              <h3 class="admin-main-title">Service List</h3>
            </div>
            <div class="right-block">
              <a href="/admin/service/add" class="btn btn-round btn-button--green m-l">
                <plus-icon class="font-fix"></plus-icon>
                <span>Add service</span>
              </a>
            </div>
          </div>
          <div class="admin-table">
            <table>
              <thead>
                <tr>
                  <th class="table-header-th">
                    <a @click="sortById">Service ID
                      <i class="fa"
                         :class="{'fa-sort': sort != 'id',
                         'active fa-sort-down': sort == 'id' && idSort=='ASC',
                         'active fa-sort-up': sort == 'id' && idSort=='DESC'}"></i>
                    </a>
                  </th>
                  <th class="table-header-th">
                    <a @click="sortByName">Service title
                      <i class="fa"
                         :class="{'fa-sort': sort != 'name',
                         'active fa-sort-down': sort == 'name' && nameSort=='ASC',
                         'active fa-sort-up': sort == 'name' && nameSort=='DESC'}"></i>
                    </a>
                  </th>
                  <th class="table-header-th">Service URL</th>
                  <th class="table-header-th">Status</th>
                  <th class="table-header-th table-td-right last">Actions</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="service in serviceList">
                  <td class="table-td-left item-id">{{ service.id }}</td>
                  <td class="table-td-left"> {{ service.name }}</td>
                  <td class="table-td-left"><a :href="'/service/'+service.slug">Link</a></td>
                  <td class="table-td-left">{{service.published}}</td>
                  <td class="table-td-right last">
                    <a :href="'/admin/service/' + service.id" class="btn btn-action m-r-10">
                      <edit-icon class="font-fix"></edit-icon>
                    </a>
                    <a class="btn btn-action" @click="onDelete(service.name, service.id)">
                      <trash-2-icon class="font-fix"></trash-2-icon>
                    </a>
                  </td>
                  <td></td>
                </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>

    <delete-modal v-show="isModalDeleteVisible"
                  :modalConfig="modalDeleteConfig"
                  :onSubmit="onDeleteService"
                  @close="isModalDeleteVisible = false; modalDeleteConfig=null"></delete-modal>
  </div>
</template>

<script>
  import AdminMenu from "../general/AdminMenu";
  import AdminHeader from "../general/AdminHeader";
  import Search from "../general/Search";
  import {EditIcon, Trash2Icon, ChevronDownIcon, GridIcon, PlusIcon} from 'vue-feather-icons';
  import Pagination from "../general/Pagination";
  import FilterCategory from "../components/filter-category.vue";
  import DeleteModal from "../components/modals/delete.vue";

  import axios from 'axios';
  import {apiURL} from '@/../config';


  export default {
    title: "services",
    components: {
      DeleteModal,
      AdminHeader, AdminMenu, Search, Pagination,
      EditIcon, Trash2Icon, ChevronDownIcon, GridIcon, PlusIcon,
      FilterCategory
    },
    data: function () {
      return {
        apiURL: apiURL,
        activeShow: false,
        activeBtn: false,
        selected: [],
        itemsText: '0 item selected:',
        totalRecords: 0,
        serviceList: [],
        page: 1,
        limit: 10,
        sort: 'id',
        order: 'ASC',
        idSort: 'ASC',
        nameSort: false,
        priceSort: false,
        isModalDeleteVisible: false,
        modalDeleteConfig: null,
        isModalChooseCategoriesVisible: false,
        filterByCategory: '',
        criteria: '',
        filter: 'all'
      }
    },
    computed: {
      selectAll: {
        get: function () {
          return this.serviceList ? this.selected.length == this.serviceList.length : false;
        },
        set: function (value) {
          let selected = [];

          if (value) {
            this.serviceList.forEach(function (serviceList) {
              selected.push(serviceList.id);
            });
          }

          this.selected = selected;
          this.itemsText = !selected.length ? '0 item selected:'
            : ((selected.length == 1) ? '1 item selected:' : selected.length + ' items selected:') ;
          this.activeBtn = this.selected.length ? true : false;
        }
      }
    },
    methods: {
      onDelete: function(title, id){
        this.modalDeleteConfig = {
          title: 'Delete Service',
        };
        if (id) {
          this.modalDeleteConfig.id = id;
          this.modalDeleteConfig.description = 'The "'+title+'" service will be deleted. Are you sure?';
        } else if (this.selected.length > 0) {
          this.modalDeleteConfig.id = this.selected;
          this.modalDeleteConfig.description = 'The '+this.selected.length+' services will be deleted. Are you sure?';
        }
        this.isModalDeleteVisible = true;
      },
      onDeleteService: function(data) {
        let url, body = {};
        if (data.res.length && data.res.length > 0) {
          axios({
            method: 'delete',
            url: apiURL + '/api/admin/service/selected',
            headers: {
              Authorization: 'Bearer ' + this.$cookie.get('user_token'),
            },
            data: {delete: data.res}
          })
            .then(response => {
                console.log(response);
              this.isModalDeleteVisible = false;
              this.changeTable();
              this.itemsText =  '0 item selected:';
              this.selected = [];
              this.activeShow = false;
              this.activeBtn = false;
            })
            .catch(error => {
              console.log(error);
            });
        } else {
          axios({
            method: 'delete',
            url: apiURL + '/api/admin/service/' + data.res,
            headers: {
              Authorization: 'Bearer ' + this.$cookie.get('user_token'),
            },
          })
            .then(response => {
                console.log(response);
              this.isModalDeleteVisible = false;
              this.changeTable();
            })
            .catch(error => {
              console.log(error);
            });
        }

      },
      clickCheckbox: function() {
        this.activeBtn = this.selected.length ? true : false;
        this.itemsText = !this.selected.length ? '0 item selected:'
          : ((this.selected.length == 1) ? '1 item selected:' : this.selected.length + ' items selected:') ;
      },
      clickActive: function () {
        if (this.activeBtn) {
          this.activeShow = !this.activeShow;
        }
      },
      sortById: function() {
        this.sort = 'id';
        this.idSort =  this.idSort == 'ASC' ? 'DESC' : 'ASC';
        this.order = this.idSort;
        this.nameSort = false;
        this.priceSort = false;
        this.changeTable();
      },
      sortByName: function() {
        this.sort = 'name';
        this.nameSort = this.nameSort == 'ASC' ? 'DESC' : 'ASC';
        this.order = this.nameSort;
        this.idSort = false;
        this.priceSort = false;
        this.changeTable();
      },
      onChangeSearch: function(data){
        this.filter = data.filter;
        this.criteria = data.criteria;
        this.page = 1;
        this.changeTable();
      },
      changeTable: function() {
        let url = '/api/admin/services';
        axios({
          method: 'get',
          url: apiURL + url,
          headers: {
            Authorization: 'Bearer ' + this.$cookie.get('user_token'),
          },
        })
          .then(response => {
            this.serviceList = response.data;
            this.totalRecords = response.data.count;
            console.log(response);
          })
          .catch(error => {
              // console.log(error);
            document.location.replace('/admin/login');
          });
      }
    },
    mounted() {
      this.changeTable();
    },
  }

</script>

