<template>
    <div>
      <MainHeader @openmenu="openMenu" @openpopup="openPopUp"/>
      <LeftMenu v-if="isMenuOpen" @closed="closeMenu"/>
      <main class=" peptides">
        <div class="wrapper">
          <section class="section-breadcrumbs">
            <p><a href="/">Home</a> > <a href="/peptides">Peptides archive</a></p>
          </section>

          <section class="peptides-category">
            <h1 class="title-section">Peptides archive</h1>
            <h4>Below you'll find a list of all posts that have been categorized as “{{searchText}}”</h4>

            <div class="peptides-category__items">

              <div class="peptides-category__item" v-for="(item,i) in items"
                   :key="i" v-bind:style="{ height: computedHeight }" >
                <h3 v-if="item.title">{{item.title}}</h3>
                <p v-if="item.subtitle">{{item.subtitle}}</p>
                <div class="peptides-category__item__tags">
                  <div href="#" class="peptides-category__item__tag no-link" v-for="(tag) in item.tag">{{tag}}</div>
                  <a :href="'/peptides/category/' + tag_categories.id" class="peptides-category__item__tag" v-for="(tag_categories,j) in item.categories"
                     :key="j" >{{tag_categories.name}}</a>
                </div>
                <a :href="'/peptides/detail/' + item.id" class="peptides-category__item__link">Learn More</a>
              </div>

            </div>
          </section>
        </div>
      </main>

      <AppFooter />
      <transition name="fade">
      <ContactUs v-if="isPopUpOpen" @closed="closePopUp"></ContactUs>
      </transition>
    </div>
</template>

<script>
  import MainHeader from '../general/MainHeader';
  import LeftMenu from '../general/Menu';
  import AppFooter from '../general/Footer';

  import axios from 'axios';

  import {apiURL} from '@/../config'
  import ContactUs from "../modals/ContactUs";

export default {

  name: 'peptides_category',
  data: () => ({
    isMenuOpen: false,
    isPopUpOpen: false,
    heightMax: '250px',
    heightMaxNew: '280px',
    searchText: '',
    items: {}
  }),


  mounted() {
      if (this.$route.params.id == 'all') {
        this.searchText = 'All peptides';
        axios
          .get(apiURL + '/api/public/peptide')
          .then(response => {
            this.items = response.data;
          })
          .catch(error => {
            console.log(error);
            this.errored = true;
          });
          // .finally(() => (this.loading = false));
      } else {
        axios
          .get(apiURL + '/api/public/peptide/category/' + this.$route.params.id)
          .then(response => {
            this.searchText = response.data.name;
          })
          .catch(error => {
            console.log(error);
            this.errored = true;
          });
          // .finally(() => (this.loading = false));

        axios
          .get(apiURL + '/api/public/peptide-category/' + this.$route.params.id)
          .then(response => {
            this.items = response.data;
            this.changeHeight();
          })
          .catch(error => {
            console.log(error);
            this.errored = true;
          });
          // .finally(() => (this.loading = false));
      }
  },
  computed: {
    computedHeight: function () {
      return this.heightMax;
    }
  },
  methods: {
      openPopUp() {
          this.isPopUpOpen = true;
      },
      closePopUp() {
          this.isPopUpOpen = false;
      },

    changeHeight: function () {
      this.heightMax = this.heightMaxNew;
    },
      openMenu() {
         this.isMenuOpen = true;
      },
      closeMenu() {

       this.isMenuOpen = false;
      }

  },
  components: {
    ContactUs,
    MainHeader,
    LeftMenu,
    AppFooter
  }
}
</script>
