<template>
  <div id="admin">
    <router-view/>
  </div>
</template>

<script>
  import axios from 'axios';
  import {apiURL} from '@/../config';

  export default {
    name: 'AdminLayout',
    data() {
      return {}
    },
    beforeRouteEnter(from, to, next) {
      document.title = from.meta.title;
      if (from.meta.guest) {
        next();
      } else {
        let name = 'user_token';
        let matches = document.cookie.match(new RegExp(
          "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
        ));
        let token = matches ? decodeURIComponent(matches[1]) : undefined;

        axios({
          method: 'get',
          url: apiURL + '/api/user',
          headers: {
            Authorization: 'Bearer ' + token,
          },
        })
          .then(response => {
            let data = response.data;
            if (data.role == "Admin"){
              next();
            } else {
              next('/admin/login');
            }
          })
          .catch(error => {
            next('/admin/login');
          });
      }
    }
  }
</script>

<style lang="scss">
  @import '../../../../style/fonts.scss';
  @import '../../../../style/stylesheet.scss';
  @import '../../../../style/main.scss';
  @import '../../../../style/admin/admin';
</style>
