.shop-category {
  position: relative;
  padding-bottom: 413px;
  @media screen and (max-width: 1170px){
    padding-bottom: 520px;
  }

  @media screen and (max-width: 800px){
    padding-bottom: 500px;
  }

  @media screen and (max-width: 768px){
    padding-bottom: 0;
  }

  &>footer{
    position: absolute;
    bottom: 0;
    @media screen and (max-width: 768px){
      position: relative;
    }
  }
  .cat-image {
    width: 100%;
    height: 150px;
  }
  .shop-title {
    padding-top: 30px;
  }
  .products-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 30px;
    @media screen and (max-width: 1320px) {
      margin-right: 0;
      margin-left: 0;
    }
    .product-item {
      position: relative;
      padding-bottom: 40px;
      margin-bottom: 30px;
      margin-right: 15px;
      margin-left: 15px;
      flex-basis: calc(25% - 30px);
      align-items: center;
      display: flex;
      flex-direction: column;
      text-align: center;
      min-height: 475px;
      @media screen and (max-width: 955px) {
        flex-basis: calc(33.333% - 30px);
      }
      @media screen and (max-width: 750px) {
        flex-basis: calc(50% - 30px);
      }
      @media screen and (max-width: 495px) {
        flex-basis: calc(100% - 30px);
      }
      .product-item--image{
        margin-bottom: 12px;
        display: flex;
        height: 285px;
        overflow: hidden;
        justify-content: center;
        align-items: stretch;
        a{
          display: block;
          overflow: hidden;
          img{
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
      }
      .product-item--description {
        padding-bottom: 24px ;
        justify-content: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .shop-sub-title {
          width: 100%;
          padding-bottom: 4px;
        }
      }
      .btn-add-block{
        position: absolute;
        bottom: 0;
      }
      .price {
        padding-bottom: 16px;
      }
      .btn {
        width: 200px;
      }
    }
  }
}
