.checkout-page {
  position: relative;
  padding-bottom: 413px;
  @media screen and (max-width: 1170px){
    padding-bottom: 520px;
  }

  @media screen and (max-width: 800px){
    padding-bottom: 500px;
  }

  @media screen and (max-width: 768px){
    padding-bottom: 0;
  }

  &>footer{
    position: absolute;
    bottom: 0;
    @media screen and (max-width: 768px){
      position: relative;
    }
  }

  .shop-title {
    text-align: center;
    @media screen and (max-width: 1024px){
      border: 1px solid #E9E9F0;
      padding: 14px 0;
      font-weight: 600;
      line-height: 20px;
      font-size: 18px;
    }
  }
  .checkout-title {
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    font-size: 20px;
    color: $color-black-5;
  }
  .checkout-price {
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    font-size: 14px;
    color: $color-black-5;
    text-align: right;
  }
  .double-block {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    @media screen and (max-width: 1024px) {
      flex-wrap: wrap;
      padding-top: 0;
    }

    .left-side {
      flex-basis: calc(100% - 420px);
      margin-right: 20px;
      box-sizing: border-box;
      height: 100%;
      @media screen and (max-width: 1024px) {
        flex-basis: 100%;
        margin-right: 0;
        width: 100%;
      }
      .checkout-section {
        padding: 32px;
        @media screen and (max-width: 1024px){
          padding: 20px 16px;
          margin-bottom: 20px;
        }
        .checkout-block {
          .c-tiile {
            display: flex;
            align-items: center;
            .round {
              text-align: center;
              background: #50BBB7;
              border-radius: 50%;
              width: 40px;
              font-style: normal;
              font-weight: 600;
              line-height: 20px;
              font-size: 20px;
              color: #fff;
              height: 40px;
              padding: 10px;
              margin-right: 15px;
            }
          }

        }
      }
    }
    .right-side {
      width: 400px;
      background: #F1F1F5;
      border: 1px solid #CBD8E3;
      box-sizing: border-box;
      border-radius: 8px;
      height: 100%;
      @media screen and (max-width: 1024px) {
        flex-basis: 100%;
        width: 100%;
        border: 0;
        border-radius: 0;
      }
      .checkout-section {
        padding: 24px;
        .checkout-table {
          width: 100%;
          margin-top: 24px;
          thead {
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
            font-size: 14px;
            color: #AEB5BB;
            text-align: justify;
            border-bottom: 1px solid #CBD8E3;
          }
          tbody {
            tr:last-child {
              border-bottom: 1px solid #CBD8E3;
            }
            td {
              vertical-align: middle;
              padding: 8px 0;
              img {
                border: 1px solid #CBD8E3;
                box-sizing: border-box;
                width: 40px;
                vertical-align: middle;
              }
              .checkout-title {
                line-height: 24px;
                font-size: 14px;
              }
              .checkout-subtitle {
                font-style: normal;
                font-weight: normal;
                line-height: 14px;
                font-size: 12px;
                color: #455C6F;
              }

            }
            .checkout-quantity {
              text-align: center;
              font-style: normal;
              font-weight: normal;
              line-height: 24px;
              font-size: 14px;
              color: $color-black-5;
            }

          }
        }
        .checkout-coast {
          border-bottom: 1px solid #CBD8E3;
          .cp-block {
            display: flex;
            justify-content: space-between;
            padding: 16px 0;
            .cp-text {
              font-style: normal;
              font-weight: normal;
              line-height: 24px;
              font-size: 14px;
              color: $color-black-5;
              &.big {
                font-weight: 600;
                line-height: 24px;
                font-size: 18px;
              }
            }
            .cp-price {
              font-style: normal;
              font-weight: 600;
              line-height: 24px;
              font-size: 16px;
              color: $color-black-5;
              &.big {
                font-weight: 600;
                line-height: 24px;
                font-size: 24px;
              }
            }
          }
        }

        .cp-keep {
          margin-top: 16px;
          text-align: center;
          padding: 12px;
        }
      }
    }
  }



  @media screen and (max-width: 1290px) and (min-width: 1025px) {
    &>.wrapper{
      padding: 0 30px;
    }
  }
  @media screen and (max-width: 1024px) {
    .shop-main-section{
      padding: 0;
    }
    .client-input-group{
      justify-content: flex-start;
    }
    .border-block{
      border-radius: 0;
      border: 0;
    }
  }

  .account-info{
    .profile-btn-block{
      @media screen and (max-width: 1024px){
        flex-direction: row;
      }
    }
    .btn-grey{
      color: #8FA0AE;
      width: auto;
    }

    .btn-shipping--small{
      font-weight: 600;
      padding: 6px 24px;
      font-size: 12px;
      line-height: 16px;
    }
    .shipping-item-btn-block--form{
      @media screen and (max-width: 1024px) {
        justify-content: flex-start;

        .btn-shipping{
          width: 170px;
          //&.m-l-10{
          //  margin-left: 10px;
          //  width: calc(50% - 10px);
          //}
        }
      }
      @media screen and (max-width: 600px) {
        .btn-shipping{
          width: 50%;
          &.m-l-10{
            margin-left: 10px;
            width: calc(50% - 10px);
          }
        }
      }
    }
    @media screen and (max-width: 1024px) {
      .account-info--header{
        border: 1px solid #E9E9F0;
        padding: 14px 0;
        font-weight: 600;
        line-height: 20px;
        font-size: 18px;
      }
    }

    .btn-shipping-back{
      display: none;
      border: none;
      background: #fff;
      position: absolute;
      left: 6px;
      top: 10px;
      @media screen and (max-width: 1024px) {
        display: block;
      }
    }
  }

  .checkout-button-block{
    padding: 20px 32px 30px 32px;
    @media screen and (max-width: 1024px) {
      display: none;
    }
  }


  .thanks-pade{
    padding: 80px;
    text-align: center;
    position: relative;
    @media screen and (max-width: 1024px){
      padding: 80px 20px 20px 20px;
      height: calc(100vh - 112px);
    }
    p{
      font-family: $font-montserrat;
      font-size: 16px;
      line-height: 24px;
    }
    .check{
      margin: 0 auto;
      width: 64px;
      height: 64px;
      background: #50BBB7;
      color: #fff;
      border-radius: 50%;
      .check--icon{
        width: 50px;
        height: 50px;
        margin: 7px;
      }
    }
    .title{
      font-weight: 700;
      margin: 32px 0 40px;
      font-size: 36px;
      line-height: 40px;
      color: #344654;
    }
    .btn-ok{
      display: inline-block;
      margin-top: 64px;
      width: 120px;
      @media screen and (max-width: 1024px){
        width: calc(100% - 32px);
        position: absolute;
        bottom: 20px;
        left: 0;
        margin: 0 16px;
      }
    }
  }

}
