//=========Header==========
.shop-header {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  align-items : center;
  height: 80px;
  @media screen and (max-width: 1024px) {
    height: 56px;
    background: #F1F1F5;
  }
  .header-block-left, .header-block-right{
    display: flex;
    align-items : center;
  }
}

.font-fix {
  vertical-align: middle;
}

//===========End Header================

.open-shom-menu{
  background: rgba(52, 70, 84, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
}
//===============Menu=====================
.page-loader{
  position: fixed;
  z-index: 9999;
  background: rgba(107, 107, 107, 0.4);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content : center;
}

.shop-menu {
  background: #455C6F;
  height: 56px;
  z-index: 10;
  &-block{
    display: flex;
    align-items : center;
    flex-wrap : nowrap;
    justify-content : space-between;
  }
  .menu-link{
    padding-left: 20px;
    font-family: $font-montserrat;
    font-weight: 600;
    line-height: 18px;
    font-size: 14px;
    text-align: right;
    color: #FFFFFF;
    &:hover{
      cursor: pointer;
    }
  }
  .product-category{
    width: 320px;
    position: relative;
    @media screen and (max-width: 1024px){
      width: 100%;
    }
    &-title{
      background: #50BBB7;
      font-weight: 600;
      line-height: 24px;
      font-size: 18px;
      font-family: $font-montserrat;
      color: #FFFFFF;
      display: flex;
      flex-wrap : nowrap;
      justify-content : space-between;
      align-items : center;
      height: 56px;
      padding: 0 16px;
      &:hover{
        cursor: pointer;
      }
    }
    &-list{
      width: 320px;
      background: #ffffff;
      position: absolute;
      @media screen and (max-width: 1024px){
        width: 100%;
      }
      li{
        font-weight: 600;
        line-height: 24px;
        font-size: 14px;
        font-family: $font-montserrat;
        border-bottom: 1px solid #E9E9F0;
        .btn{
          font-weight: 600;
          color: #455C6F;
          padding: 16px;
        }
        &:last-child{
          border: none;
        }
        &:hover{
          background: rgba(233, 233, 240, 0.7);
        }
      }
    }
  }
  .search-block{
    position: relative;
    width: calc(100% - 600px);
    @media screen and (max-width: 1024px){
      display: none;
    }
    .search-block-input{
      input{
        width: 100%;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 32px;
        line-height: 18px;
        font-size: 16px;
        padding: 11px 36px 11px 16px;
        border: none;
        color: #fff;
        &::placeholder{
          color:rgba(255, 255, 255, 0.2);
        }
      }
      .search-icon{
        position: absolute;
        right: 10px;
        top: 8px;
        color: #fff;
      }
    }
    .search-block-result{
      position: absolute;
      background: #ffffff;
      width: 100%;
      top: 48px;
      padding: 16px 0;
    }

  }
  .account-block{
    position: relative;
    @media screen and (max-width: 1024px){
      display: none;
    }
    &-menu{
      position: absolute;
      top: 40px;
      right: 0;
      z-index: 10;
      background: #fff;
      border-radius: 6px;
      box-shadow: 0 4px 16px rgba(5, 41, 72, 0.15), 0 0 3px rgba(5, 41, 72, 0.1);
      padding: 10px 0;
    }
  }
  .cart-block{
    position: relative;
    @media screen and (max-width: 1290px){
      margin-right: 30px;
    }
    @media screen and (max-width: 1024px){
      display: none;
    }
    .cart-count{
      position: absolute;
      font-size: 14px;
      line-height: 14px;
      font-weight: 600;
      background: $color-green-5;
      color: $color-white;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      display: block;
      text-align: center;
      padding: 3px 0;
      top: -10px;
      right: -10px;
    }
  }
}

.d-f {
  display: flex;
}
.m-l-50{
  margin-left: 50px;
}
.m-l-10{
  margin-left: 10px;
}
.block-info{
  margin: 15px 0 40px;
  @media screen and (max-width: 600px){
    width: 100%;
  }

  .phone-input {
    position: relative;
    .mask {
      font-size: 14px;
      line-height: 20px;
      position: absolute;
      left: 15px;
      bottom: 0;
      transform: translateY(-50%);
    }
  }

}

.shop-page {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 100%;

  .wrapper{
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
}

.main-shop-header{
  z-index: 11;
  background: #fff;
  @media screen and (max-width: 1290px) and (min-width: 1025px) {
    .wrapper{
      padding: 0 30px;
    }
  }
  @media screen and (max-width: 1024px) {
    background: #F1F1F5;
  }

  .search-block{
    display: none;
    position: relative;
    background: #F1F1F5;
    @media screen and (max-width: 1024px) {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
    }

    height: 56px;

    .search-block-input{
      width: 100%;
      margin-right: 20px;
      input{
        width: 100%;
        padding: 10px 15px;
        font-family: $font-montserrat;
        line-height: 20px;
        font-size: 16px;
        border: none;
        border-radius: 32px;
      }
      .search-icon{
        display: none;
      }
    }

    .search-block-result{
      position: absolute;
      width: 100%;
      top: 56px;
      background: #F1F1F5;
    }

  }
}

.shop-main-section {
  padding: 60px 0;
}

.shop-title {
  font-style: normal;
  text-align: center;
  font-weight: 600;
  line-height: normal;
  font-size: 36px;
  color: $color-black-5;
}

.shop-sub-title {
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 18px;
  color: $color-black-5;
  &.thin{
    font-weight: 400;
  }
  &.small {
    font-weight: normal;
    font-size: 14px;
  }
}

.tab {
  font-variant-numeric: tabular-nums;
  -moz-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
}

.price {
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 24px;
  color: $color-black-5;
}

.old-price {
  font-size: 18px;
  text-decoration-line: line-through;
  opacity: 0.5;
}

.vue-star-rating-rating-text {
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 18px;
  color: $color-black-5;
  margin-top: 0 !important;
  margin-bottom: 1px;
}

.small-text {
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;
  text-align: right;
  color: #455C6F;
}
.border-block{
  border-radius: 8px;
  background: #FFFFFF;
  border: 1px solid #CBD8E3;
}
.client-input-group{
  display: flex;
  align-items: center;
  flex-wrap : nowrap;
  margin-bottom: 20px;
  @media screen and (max-width: 1024px){
    justify-content: center;
  }
  @media screen and (max-width: 600px){
    flex-direction: column;
    flex-wrap: wrap;
    &.client-double-input-group{
      flex-direction: row;
    }
    &>div{
      width: 100%;
      padding: 0 16px;
    }
  }
  .input-label{
    width: 165px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    font-size: 14px;
    text-align: right;
    margin-right: 20px;
    color: #455C6F;
    @media screen and (max-width: 600px){
      text-align: left;
      width: 100%;
      margin-bottom: 10px;
      padding-left: 16px;
      margin-right: 0;
    }
  }
  .input-form {
    border: 1px solid #CBD8E3;
    box-sizing: border-box;
    border-radius: 4px;
    width: 350px;
    height: 40px;
    padding-left: 15px;
    font-family: $font-montserrat;
    line-height: 20px;
    font-size: 14px;
    &::placeholder {
      color: #AEB5BB;
    }
    &.error-input{
      border-color: red;
    }
    &:disabled{
      background: #F1F1F5;
    }
    @media screen and (max-width: 786px){
      font-size: 16px;
      line-height: 16px;
    }
    @media screen and (max-width: 600px){
      width: 100%;
    }
  }
  textarea{
    resize: vertical;
    padding: 10px;
    min-height: 100px;
  }
  .double-input{
    .input-form{
      width: 170px;
      @media screen and (max-width: 786px){
        font-size: 16px;
        line-height: 16px;
      }
    }
    @media screen and (max-width: 600px){
      width: 50%;
      .input-form{
        width: 100%;
        margin: 0 !important;
      }
    }
  }

  .radio {
    margin: 15px 0 40px 185px;
    @media screen and (max-width: 1024px){
      margin-left: 69px;
    }
    @media screen and (max-width: 600px){

      margin-left: 16px;
    }
    input {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }
    .radio__text {
      font-style: normal;
      font-weight: normal;
      line-height: 24px;
      font-size: 14px;
      color: #455C6F;
      padding: 0 0 0 25px;
      &::before {
        content: '';
        position: absolute;
        width: 18px;
        height: 18px;
        left: 0;
        top: 2px;
        background: #fff;
        border: 1px solid #D7E4F0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 3px;
      }
      &::after {
        content: '';
        position: absolute;
        top: 2px;
        left: 0;
        width: 18px;
        height: 18px;
        background: #15CBC4 url(/static/img/admin/pointer.png) no-repeat 3px 1px;
        opacity: 0;
        -webkit-transition: .2s;
        transition: .2s;
        border: 1px solid #15CBC4;
        border-radius: 3px;
      }
    }
    input:checked + .radio__text:after {
      opacity: 1;
    }
  }

  .input-block{
    position: relative;
    .error-text{
      position: absolute;
      font-size: 12px;
      bottom: -18px;
    }
  }
}

.onoffswitch {
  position: relative;
  width: 46px;
  .onoffswitch-checkbox {
    display: none;

    &:checked + .onoffswitch-label .onoffswitch-inner {
      margin-left: 0;
    }

    &:checked + .onoffswitch-label .onoffswitch-switch {
      right: 1px;
    }
  }

  .onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid $color-white;
    border-radius: 12px;
    position: relative;

    .onoffswitch-inner {
      display: block;
      width: 200%;
      margin-left: -100%;
      transition: margin 0.3s ease-in 0s;

      &:before, &:after {
        display: block;
        float: left;
        width: 50%;
        height: 22px;
        padding: 0;
        line-height: 22px;
        font-size: 8px;
        color: white;
        font-weight: bold;
        box-sizing: border-box;
      }

      &:before {
        content: "ON";
        padding-left: 6px;
        background-color: $color-green-1;
        color: $color-white;
      }

      &:after {
        content: "OFF";
        padding-right: 4px;
        background-color: #E1E7EC;
        color: #60676E;
        text-align: right;
      }
    }

    .onoffswitch-switch {
      display: block;
      width: 12px;
      margin: 1px;
      background: $color-white;
      position: absolute;
      top: 2px;
      bottom: 2px;
      right: 20px;
      border: 2px solid $color-white;
      border-radius: 12px;
      transition: all 0.3s ease-in 0s;
      box-sizing: content-box;
    }
  }

}

.btn {
  border-radius: 25px;
  text-decoration: none;
  text-align: center;
  width: 100%;
  border: none;
  outline: none;
  font-family: $font-montserrat;
  cursor: pointer;
  &.banner-btn {
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 22px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #3A99B4;
    background: #FFFFFF;
    border-radius: 33px;
    padding: 10px 27px;
    width: 170px;
  }
  &.btn-green {
    background: $color-green-5;
    color: $color-white;
    padding: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 18px;
    &:hover, &:active{
      background: #47a19d;
    }

    &--square{
      border-radius: 4px;
      width: auto;
      padding: 10px 30px;
    }
    &--smal{
      padding: 7px;
      font-size: 14px;
      min-width: 70px;
      max-width: 200px;
      line-height: 16px;
    }
    &--block{
      display: block;
      width: 100%;
    }
  }
  &.btn-form{
    margin-left: 185px;
  }
  &.btn-grey {
    background: #F1F1F5;
    color: $color-black-5;
    padding: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 18px;
    &--square{
      border-radius: 4px;
      width: auto;
      padding: 10px 30px
    }
    &--smal{
      min-width: 100px;
      max-width: 200px;
      font-weight: bold;
      line-height: 16px;
      font-size: 14px;
      padding: 7px;
    }
    &:hover{
      background: #dddde1;
    }
  }

  &.btn-category {
    max-width: 200px;
    padding: 7px;
  }

  &.btn-link{
    padding: 0;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 14px;
    text-align: left;
    text-decoration-line: underline;
    color: $color-green-5;
    &.btn-link--account{
      text-decoration-line: none;
      color: #455C6F;
      font-weight: normal;
      display: block;
      padding: 5px 24px;
    }
    &.btn-link--search{
      text-decoration-line: none;
      color: #455C6F;
      font-weight: normal;
      line-height: 24px;
      display: block;
      padding: 5px 24px;
      clear: both;
      border-radius: 0;
      .font-fix{
        width: 16px;
        float: right;
      }
      &:hover, &:focus, &:active{
        background: #dedee2;
      }
    }
    &.btn-link--modal{
      color: #389EF3;
      text-decoration-line: none;
      font-size: 16px;
      line-height: 20px;
      font-weight: normal;
    }
  }
  &[disabled="disabled"]{
    opacity: 0.4;
  }
}

.header-link {
  font-family: $font-montserrat;
  line-height: 18px;
  font-size: 14px;
  font-weight: 600;
  color: #455C6F;
  margin-left: 32px;
  border: none;
  display: inline-block;
  background: #fff;
  &:hover{
    cursor: pointer;
  }
  .green{
    color: #50BBB7;
  }
  .btn{
    padding-right: 30px;
    padding-left: 30px;
  }
  @media screen and (max-width: 1024px) {
    display: none;
  }
  &.mobile-link{
    display: none;
    background: #F1F1F5;
    @media screen and (max-width: 1024px) {
      display: inline-block;
      margin-left: 25px;
      padding: 0;
    }
    &.cart{
      position: relative;
      margin-right: 18px;
      .cart-count{
        position: absolute;
        font-size: 14px;
        line-height: 14px;
        font-weight: 600;
        background: $color-green-5;
        color: $color-white;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: block;
        text-align: center;
        padding: 3px 0;
        top: -6px;
        right: -8px;
      }
    }
    &.user-menu-btn{
      margin-left: 16px;
      margin-right: 16px;
    }
  }
}

.double-block-info {
  display: flex;
  justify-content: center;

  &.left-position {
    justify-content: left;
    padding-bottom: 16px;
    padding-top: 0;
    padding-left: 50px;
    .text-big {
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
      font-size: 18px;
      color: #455C6F;
    }
    .text-regular {
      font-style: normal;
      font-weight: normal;
      line-height: 24px;
      font-size: 14px;
      color: #455C6F;
    }
    .font-fix{
      width: 20px;
      height: 20px;
      vertical-align: middle;
    }

  }
  .left-block {
    text-align: right;
    padding-right: 10px;
  }
  .right-block {
    flex-direction: column;
    display: flex;
    margin-left: 15px;
    .one-row {
      display: flex;
    }
  }

}

.account-info{
  .account-info--header{
    padding: 15px 32px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    position: relative;
    .title{
      margin-bottom: 0;
    }
    @media screen and (max-width: 1024px){
      justify-content: center;
      padding: 10px 20px;
      min-height: 48px;
      .title{
        line-height: 20px;
        font-size: 18px;
        color: #455C6F;
      }
    }
  }
  .account-info--body{
    padding-left: 32px;
    padding-right: 32px;
    margin: 20px 0;
    display: flex;
    flex-wrap : wrap;
    justify-content : flex-start;
    align-items : stretch;
    @media screen and (max-width: 1024px){
      justify-content: center;
      padding-left: 6px;
      padding-right: 6px;
    }
    &.items{
      justify-content: flex-start;
      margin-right: -10px;
      margin-left: -10px;
      @media screen and (max-width: 1024px){
        margin-right: 0;
        margin-left: 0;
      }
    }

    .shipping-item{
      width: calc(100%/3 - 20px);
      border: 1px solid #CBD8E3;
      border-radius: 4px;
      padding: 24px;
      margin: 10px;
      position: relative;
      @media screen and (max-width: 1360px){
        width: calc(100%/2 - 20px);
      }
      @media screen and (max-width: 700px){
        width: calc(100% - 20px);
      }
      &:hover{
        cursor: pointer;
      }
      &.shipping-selected {
        border: 2px solid #50BBB7;
        border-radius: 4px;
      }

      .label-default{
        position: absolute;
        color: #50BBB7;
        right: 8px;
        top: 8px;
      }

      .left-position{
        padding-left: 0;
      }
    }
  }
  &.account{
    .account-info--header{
      border-bottom: 1px solid #F1F1F5;
    }
  }

  .add-new-address{
    width: auto;
    padding: 11px 32px;
    margin: 20px 32px 50px;
    font-size: 14px;
    @media screen and (max-width: 1024px){
      margin: 10px 16px 50px;
    }
    @media screen and (max-width: 700px){
      width: calc(100% - 32px);
    }
  }
  .shipping-item-btn-block{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    .btn-shipping{
      width: auto;
      font-weight: 600;
      &--small{
        padding: 6px 24px;
        font-size: 12px;
        line-height: 16px;
      }
      &--big{
        font-size: 16px;
        line-height: 24px;
        padding: 8px 32px;
      }
      &--grey{
        color: #8FA0AE;
      }
    }
    &--form{
      @media screen and (max-width: 1024px){
        justify-content: center;
        .btn-shipping{
          width: 170px;
        }
      }
      @media screen and (max-width: 600px){
        padding: 0 16px;
        .btn-form{
          margin-left: 0;
        }
        .btn-shipping{
          width: 100%;
        }
      }
    }
  }
  .btn-shipping-default{
    border: none;
    color: #50BBB7;
    text-align: right;
    font-family: $font-montserrat;
    font-weight: 600;
    line-height: 12px;
    font-size: 10px;
    margin-left: auto;
    background: #fff;
  }

  .profile-btn-block{
    @media screen and (max-width: 600px){
      flex-direction: column-reverse;
      flex-wrap: wrap;
      .btn-shipping-default{
        margin-bottom: 40px;
        margin-right: auto;
        margin-left: 0;
        text-align: left;
        width: 100%;
      }
    }
  }
  .checkout-shipping-info{
    margin-top: 20px;
    .title-billing-address{
      margin-left: 50px;
    }
  }
}

#dropin-container{
  margin-top: 24px;
  margin-bottom: 20px;
  .braintree-heading{
    color: #AEB5BB;
    font-family: $font-montserrat;
    font-weight: 600;
    line-height: 24px;
    font-size: 14px;
  }
  .braintree-options-list{
    border-radius: 6px;
    display: flex;
    justify-content: space-between;

    .braintree-option{
      width: 50%;
      border: none;
      background: #fff;
      padding: 15px;
      text-align: center;
      &:first-child{
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        border-right: 1px solid #F0F0F5;
      }
      &:last-child{
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
      }
    }
  }

  .braintree-sheet{
    border: none;
    background: #F1F1F5;
    .braintree-sheet__header{
      border: none;
      display: block;
      .braintree-sheet__header-label{
        padding: 15px;
        background: #fff;
        border-radius: 6px;
      }
      .braintree-sheet__icons{
        margin-top: 25px;
      }
    }
    .braintree-sheet__content{
      border: none;
      background: #F1F1F5;
    }

    .braintree-sheet__content--form{
      .braintree-form__label{
        color: #455C6F;
        font-family: $font-montserrat;
        font-weight: 600;
        line-height: 20px;
        font-size: 14px;
      }
      .braintree-form__field{
        .braintree-form__hosted-field{
          background: #fff;
          border-radius: 4px;
          border: 1px solid #CBD8E3;
        }
      }
    }
  }

  .braintree-method{
    border: none;
    width: 100%;
    position: relative;
    background-color: #F1F1F5;

    .braintree-method__logo{
      margin-left: 50px;
    }
    .braintree-method__check-container{
      position: absolute;
      top: 16px;
      left: 10px;
      .braintree-method__check{
        transform: scale(1);
        fill: white;
        width: 30px;
        height: 30px;
        padding: 6px;
        background-color: #fff;
      }
    }
    &.braintree-method--active{
      border: none;
      .braintree-method__check{
        background-color: #50BBB7;
      }
    }
  }
}

.title-billing-address{
  line-height: 18px;
  font-size: 16px;
  color: #455C6F;
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 40px;
  &.text-left{
    text-align: left;
  }
}


.radio + .radio {
  margin-left: 0;
}
.radio .radio__text {
  padding: 10px 0 0 25px;
}
.radio .radio__text:before, .radio .radio__text:after {
  top: 10px;
}
.checkbox,
.radio1 {
  display: none;
}
.checkbox-custom,
.radio-custom {
  width: 18px;
  height: 18px;
  border: 1px solid #455C6F;
  border-radius: 3px;
  position: relative;
  background: #FFFFFF;
}
.checkbox-custom,
.radio-custom,
.label {
  display: inline-block;
  vertical-align: middle;
  padding-left: 15px;
}
.checkbox:checked + .checkbox-custom::before,
.radio1:checked + .radio-custom::before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  background: #455C6F;
  border-radius: 2px;
}
.radio-custom,
.radio1:checked + .radio-custom::before {
  border-radius: 50%;
}

.successfully-block{
  .main-successfully-text{
    font-family: $font-montserrat;
    line-height: 22px;
    font-size: 14px;
    text-align: center;
    color: #60676E;
  }
}

.shipping-radio{
  width: 235px;
  @media screen and (min-width: 1025px) {
    margin-left: 184px;
  }
  @media screen and (max-width: 1024px) {
    margin-left: 70px;
  }
  @media screen and (max-width: 600px) {
    margin-left: 0;
  }
  & > .radio{
    margin:0;
    margin-top: 15px;
  }
}

