.shop-home {
  .shop-home-banner {
    .banner-inner {
      padding: 83px 104px;
      @media screen and (max-width: 790px){
        padding: 40px 16px;
      }
      .big-title {
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        font-size: 64px;
        color: #FFFFFF;
        padding-bottom: 18px;
        @media screen and (max-width: 790px){
          text-align: center;
        }
      }
      .small-sub {
        font-style: normal;
        font-weight: 500;
        line-height: 35px;
        font-size: 24px;
        padding-bottom: 40px;
        color: #FFFFFF;
        @media screen and (max-width: 790px){
          text-align: center;
        }
      }

    }
  }
  .shop-title {
    padding-bottom: 30px;
  }
  .shop-category .products-list {
    .product-item {
      flex-basis: calc(33.333% - 30px);
      @media screen and (max-width: 750px) {
        flex-basis: calc(50% - 30px);
      }
      @media screen and (max-width: 495px) {
        flex-basis: calc(100% - 30px);
      }
    }
  }
}
