.user-mobile-menu-block{
  z-index: 1000;
  position: fixed;
  width: 100%;
  display: block;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  @media screen and (min-width: 1025px){
    display: none;
  }
  @media screen and (max-width: 1024px){
    display: block;
  }
}

.user-mobile-menu{
  z-index: 1999;
  display: flex;
  position: fixed;
  height: 100%;
  background: #fff;
  width: 280px;
  top: 0;
  flex-direction: column;

  &--header{
    background-image: url('/static/img/shop/header-menu.png');
    background-repeat: no-repeat;
    height: 122px;
    width: 100%;
    padding: 16px;
    img{
      height: 60px;
      width: 60px;
    }
    &--text{
      color: #FFFFFF;
      line-height: 18px;
      font-size: 16px;
      font-family: $font-montserrat;
      margin-top: 5px;
      display: block;
    }
  }
  &--body{
    overflow-x: scroll;
    .menu-links-block{
      padding: 32px 16px 10px;
      .user-menu-title{
        font-family: $font-montserrat;
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
        font-weight: 600;
        color: #AEB5BB;
        margin-bottom: 20px;
       }
      .user-menu-link{
        display: flex;
        align-items: center;
        width: 100%;
        line-height: 20px;
        font-size: 14px;
        font-family: $font-montserrat;
        font-weight: 400;
        color: #344654;
        border: none;
        padding: 0;
        margin-bottom: 25px;
        background: #fff;
        &:hover{
          font-weight: 600;
        }
        .user-menu-icon{
          margin-right: 20px;
          width: 20px;
        }
      }
    }
  }
}

.user-menu-enter-active {
  animation: bounce-in .7s;
}
.user-menu-leave-active {
  animation: bounce-in .7s reverse;
}
@keyframes bounce-in {
  0% {
    left: -280px;
  }
  100% {
    left: 0;
  }
}
