@mixin transition {
  /* Firefox */
  -moz-transition: -moz-transform $transition-speed ease;
  /* WebKit */
  -webkit-transition: -webkit-transform $transition-speed ease;
  /* Opera */
  -o-transition: -o-transform $transition-speed ease;
  /* Standard */
  transition: all $transition-speed ease;
}
@mixin transition-time($time) {
  /* Firefox */
  -moz-transition: -moz-transform $time ease;
  /* WebKit */
  -webkit-transition: -webkit-transform $time ease;
  /* Opera */
  -o-transition: -o-transform $time ease;
  /* Standard */
  transition: all $time ease;
}

$color-black-1: #111;
$color-black-2: #60686E;
$color-black-3: #60676E;
$color-black-4: #222222;
$color-black-5: #344654;

$color-blue-1: #1C2B38;
$color-blue-2: #7A8CA5;
$color-blue-3: #D7E4F0;
$color-blue-4: #0CA0CF;
$color-blue-5: #1A242C;

$color-gray-1: #C9D0D6;
$color-gray-2: #E1E7EC;
$color-gray-3: #CDD6DE;
$color-gray-4: #BAC4CD;

$color-green-1: #15CBC4;
$color-green-2: #10A49E;
$color-green-3: #138F8A;
$color-green-4: rgb(163,234,230);
$color-green-5: #50BBB7;

$color-error-block: #FE0341;
$color-error-text: #E73D4A;
$color-error-hover: #84242b;
$color-successfully-block: #52CE5F;


$color-white: #fff;
$color-white-5: #F1F1F5;
$color-white-1: rgba(255, 255, 255, 0.3);
$color-white-2: rgba(255, 255, 255, 0.4);
$color-white-3: rgba(255, 255, 255, 0.2);
$color-white-4: rgba(255, 255, 255, 0.5);
$box-shadow: 0px 5px 20px rgba(34, 45, 54, 0.3);
$box-shadow-1: 0px 0px 12px rgba(0, 0, 0, 0.1);


$transition-speed-1: 0.7s;
$transition-speed: 0.7s;



html {
  overflow: auto;
  background: #ffffff;
  height: 100%;
  min-height: 100%;
}
body {
  height: 100%;
  min-height: 100%;
}
#app, #shop{
  min-height: 100%;
  height: 100%;
}
#shop {
  font-family: $font-montserrat !important;
}

#shop{
  @import "general";
  @import "home";
  @import "product";
  @import "category";
  @import "cart";
  @import "login";
  @import "popup";
  @import "account";
  @import "checkout";
  @import "user_mobile_menu";
  @import "cart_slider";
  @import "shop_coupon";
  @import "review";
}

