<template>
    <div>
        <ul>
            <li v-for="(review, i) in reviews" :key="i">
                <div class="review-container">
                <div class="review-block">
                    <p>{{review.title}}</p>
                    <p>{{review.description}}</p>
                </div>
                <div class="review-rating-block">
                    <rate-stars :stars="review.rating" :info="false" />
                </div>
                <div class="review-info-block">
                    <p>{{review.user.first_name + ' ' + review.user.last_name}}</p>
                    <a :href='"mailto:" + review.user.email'>review.user.email</a>
                    <p>Product:</p>
                    <a href="#">{{review.product_name}}</a>
                </div>
                <div class="review-status-date">
                    <div class="status-review">
                    {{review.status}}
                    </div>
                    <p>{{review.created_at}}</p>
                </div>
                </div>
                <div class="review-actions">
                <button type="button" @click="modalAnswer(review.id)">
                    Answer
                </button>
                <button type="button" @click="changeStatus('Published', review.id)">
                    Published
                </button>
                <button type="button" @click="changeStatus('Rejected', review.id)">
                    Rejected
                </button>
                <button type="button" @click="deleteReview(review.id)">
                    Delete
                </button>
                </div>
            </li>
        </ul>
    </div>
</template>
<script>
export default {
    name: 'Review',
    data() {
        return {
            reviews: {},
            options: {
                page: 1,
                limit: 10,
                filter: ''
            },
            token: '',
            // totalRecords: 0
        }
    },
    methods: {
        changeStatus(status, reviewId) {
            let data = {};
            data.status = status;
            data.id = reviewId;
            data.token = this.token;
            this.$store.dispatch('getChangeStatus', data);
        },
        deleteReview(reviewId) {
            let data = {};
            data.id = reviewId;
            data.token = this.token;
            this.$store.dispatch('deleteReview', data);
        },
        modalAnswer(id) {
            this.$emit('modalAnswer', id);
        },
        closeModal() {
            this.$emit('closeModal');
        }
    },
    mounted(){
        this.token = this.$cookie.get('user_token');
        let data = {...this.options};
        data.token = this.token;
        this.$store.dispatch('getReviewsList', data).then(()=>{
            this.reviews = this.$store.getters['getReviews'].reviews;
            // this.totalRecords = this.$store.getters['getReviews'].count;
            this.$emit('totalRecords', this.$store.getters['getReviews'].count);
        });
    }
}
</script>
