<template>
  <div class="shop-page shop-home">
    <shop-header :hideAllBlock="this.$root.openShopMenu"></shop-header>
    <shop-menu :hideAllBlock="this.$root.openShopMenu"></shop-menu>
    <div class="wrapper">
      <div class="shop-home-banner">
        <div
          class="banner-inner"
          style="background: url(/static/img/shop/bunner.png);
    background-size: cover;"
        >
          <p class="big-title">Big slogan</p>
          <p class="small-sub">И тут так мелкими буквами еще чего-то понаписано всякого</p>
          <!--<button-comp title="Кнопка" class="banner-btn"></button-comp>-->
        </div>
      </div>
      <div class="shop-main-section">
        <p class="shop-title">Top 3 products</p>
        <div class="shop-category">
          <div class="products-list">
            <div v-for="product in productList" :key="product.slug" class="product-item">
              <div class="product-item--image">
                <router-link :to="'/shop/product/' + product.slug">
                  <!--<img :src="product.image" alt="">-->
                  <img :src="product.image || '/static/img/shop/image%202.png'" alt>
                </router-link>
              </div>
              <div class="product-item--description">
                <a :href="'/shop/product/' + product.slug">
                  <p class="shop-sub-title">{{product.name}}</p>
                </a>
                <p class="shop-sub-title small">{{product.oneliner}}</p>
                <!--<rate-stars :stars="2.5"></rate-stars>-->
              </div>
              <p v-if="product.oldPrice" class="old-price">${{product.oldPrice}}</p>
              <p class="price">${{product.price}}</p>
              <div class="btn-add-block">
                <button
                  type="button"
                  class="btn btn-green btn-category"
                  @click="onAddToCart(product.id)"
                >Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <!--<div class="top-prod">-->
        <!--<a href="#"><img src="/static/img/shop/image%202.png" alt=""></a>-->
        <!--<a href="#"><img src="/static/img/shop/image%202.png" alt=""></a>-->
        <!--<a href="#"><img src="/static/img/shop/image%202.png" alt=""></a>-->
        <!--</div>-->
      </div>
    </div>
<add-to-cart-modal v-show="isAddProductToCart"
                       :product="productAddToCart"
                       @close="isAddProductToCart = false; productIdAddToCart=null;"></add-to-cart-modal>
    <AppFooter></AppFooter>
  </div>
</template>

<script>
import ShopHeader from "../general/shopHeader";
import ShopMenu from "../general/shopMenu";
import RateStars from "../components/rate-stars";
import ButtonComp from "../components/button-comp";
import AddToCart from "../components/addToCart.vue";
import AppFooter from "../../general/Footer";
import axios from "axios";
import { apiURL } from "@/../config";
import AddToCartModal from "../components/addToCartModal.vue";

export default {
  name: "home",
  components: {
    ButtonComp,
    RateStars,
    AppFooter,
    ShopMenu,
    ShopHeader,
    AddToCart,
    AddToCartModal
  },
  data: function() {
    return {
      isAddProductToCart: false,
      productAddToCart: null,
      productList: [
        // {
        //   id: 11,
        //   name: "testProduct",
        //   slug: "name-sub-2",
        //   oneliner: "oneliner",
        //   price: 20
        // },
        // {
        //   id: 12,
        //   name: "testProduct",
        //   slug: "name-sub-2",
        //   oneliner: "oneliner",
        //   price: 20
        // },
        // {
        //   id: 13,
        //   name: "testProduct",
        //   slug: "name-sub-2",
        //   oneliner: "oneliner",
        //   price: 20
        // }
      ]
    };
  },
  methods: {
    priceSet: function(data) {
      return Number.prototype.toFixed.call(parseFloat(data) || 0, 2);
    },
    onAddToCart: function(productId) {
      axios({
        method: "get",
        url: apiURL + "/api/public/product/" + productId
      })
        .then(response => {
          this.productAddToCart = response.data;
          this.isAddProductToCart = true;
        })
        .catch(error => {
          this.productAddToCart = null;
          this.isAddProductToCart = false;
        });
    },
    getProducts() {
      axios({
        method: "get",
        url: apiURL + "/api/public/products-list"
      }).then(({ data }) => {
        this.productList = data
          .map(item => {
            let i = {};
            if (item.images && item.images[0].media) {
              i.image = apiURL + item.images[0].media.filename;
            } else {
              i.image = "";
            }
            if (item.subscription_price && item.subscription_price > 0) {
              i.price = this.priceSet(item.subscription_price);
              if (
                item.subscription_price_sale &&
                item.subscription_price_sale > 0
              ) {
                i.price = this.priceSet(item.subscription_price_sale);
                i.oldPrice = this.priceSet(item.subscription_price);
              }
            } else {
              i.price = this.priceSet(item.regular_price);
              if (item.regular_sale_price && item.regular_sale_price > 0) {
                i.price = this.priceSet(item.regular_sale_price);
                i.oldPrice = this.priceSet(item.regular_price);
              }
            }
            return {
              ...i,
              id: item.id,
              slug: item.slug,
              name: item.name,
              oneliner: item.oneliner
            };
          })
          .slice(-3);
      });
    }
  },
  created() {
    this.getProducts();
  }
};
</script>

<style scoped>
</style>
