<template>
  <div class="shop-menu">
    <div class="wrapper shop-menu-block">
      <div class="product-category">
        <div class="product-category-title" @click="changeCategoryMenu">
          <span>
            <list-icon class="font-fix"></list-icon>
            <span class="m-l-10">Product Catalog</span>
          </span>
          <chevron-down-icon class="font-fix"></chevron-down-icon>
        </div>
        <ul class="product-category-list" v-if="showCategory">
          <li>
            <a :href="'/shop/category/all'" class="btn btn-link btn-link--account">Shop All</a>
          </li>
          <li v-for="(item, i) in categoryList" :key="i">
            <a :href="'/shop/category/' + item.slug" class="btn btn-link btn-link--account">{{ item.name }}</a>
          </li>
        </ul>
      </div>

      <product-search v-on:searchChange="searchChange" :openResult="isSearchResult"></product-search>

      <div class="account-block" v-if="!isActiveUser">
        <a  class="menu-link" href="/shop/login"> <user-icon class="font-fix"></user-icon> Login</a>
      </div>
      <div class="account-block" v-if="isActiveUser">
        <div class="account-block-title">
          <p class="menu-link" @click="changeAccountMenu">Account <user-icon class="font-fix"></user-icon></p>
        </div>
        <div class="account-block-menu" v-show="showAccountMenu">
          <a class="btn btn-link btn-link--account" href="/shop/account/orders">My orders</a>
          <a class="btn btn-link btn-link--account" href="/shop/account/subscription">Subscriptions</a>
          <a class="btn btn-link btn-link--account" href="/shop/account/rewards">Rewards</a>
          <a class="btn btn-link btn-link--account" href="/shop/account/shipping">Addresses</a>
          <a class="btn btn-link btn-link--account" href="/shop/account/profile">Profile</a>
          <button type="button" class="btn btn-link btn-link--account" @click="onLogOut">LogOut</button>
        </div>
      </div>
      <cart-header :desktopMenu="true"></cart-header>
    </div>
    </div>
</template>

<script>
  import axios from 'axios';
  import router from '@/router';
  import {apiURL} from '@/../config';
  import UserIcon from "vue-feather-icons/icons/UserIcon";
  import ListIcon from "vue-feather-icons/icons/ListIcon";
  import ChevronDownIcon from "vue-feather-icons/icons/ChevronDownIcon";
  import SearchIcon from "vue-feather-icons/icons/SearchIcon";
  import ProductSearch from "../components/product-search.vue";
  import CartHeader from "../components/cart-header.vue";


  export default {
    components: {
      CartHeader,
      ProductSearch,
      SearchIcon,
      ChevronDownIcon,
      ListIcon,
      UserIcon},
    name: "shopMenu",
    props: ['hideAllBlock'],
    data() {
      return {
        categoryList: [],
        showCategory: false,
        showAccountMenu: false,
        isSearchResult: false,
      }
    },
    watch: {
      hideAllBlock: function(newVal){
        if (!newVal) {
          this.showAccountMenu = false;
          this.isSearchResult = false;
          this.showCategory = false;
        }
      }
    },
    computed: {
      isActiveUser: function() {
        return this.$store.state.user;
      }
    },
    methods: {
      changeCategoryMenu: function () {
        this.showAccountMenu=false;
        this.isSearchResult=false;
        this.showCategory = !this.showCategory;
        this.$root.openShopMenu = this.showCategory;
      },
      changeAccountMenu: function () {
        this.showCategory = false;
        this.isSearchResult = false;
        this.showAccountMenu = !this.showAccountMenu;
        this.$root.openShopMenu = this.showAccountMenu;
      },
      searchChange: function(val){
        this.showCategory = false;
        this.showAccountMenu = false;
        this.isSearchResult = (val.length > 0);
        this.$root.openShopMenu = this.isSearchResult;
      },
      getCategoryList: function () {
        axios({
          method: 'get',
          url: apiURL +  '/api/public/categories'
        })
          .then(response => {
            let category = response.data;
            category.forEach(element => {
              element.slug = element.name.replace(/ /g, "-");
              this.categoryList.push(element);
            });
          })
      },
      onLogOut: function(){
        if (this.$cookie.get('user_token')) {
          this.$cookie.delete('user_token');
        }
        this.isAccountMenu = false;
        this.$root.openShopMenu = false;
        if (this.$route.name === 'checkout') {
          document.location.replace('/shop/login');
        } else {
          document.location.replace('/shop');
        }
      }
    },
    mounted() {
      this.getCategoryList();
    }
  }

</script>

<style scoped>

</style>