<template>
    <div class="review-product">
        <h2>Reviews</h2>
        <div class="wrapper-review">
            <ul>
                <li v-for="(review, i) in paginatedData" :key="i" class="review">
                    <rate-stars :stars="review.rating"></rate-stars>
                    <p class="fullname">
                        <span v-if="review.user.first_name" class="name">{{review.user.first_name + ' ' + review.user.last_name}}</span>
                        <span v-else-if="review.fake_name" class="name">{{review.fake_name}}</span>
                        <span v-else class="name"> </span>
                    </p>
                    <p class="description">{{review.description}}</p>
                    <div class="answer" v-if="review.answerAdmin">
                        <p class="answer-title">
                            Response from NextHealth:
                        </p>
                        <p class="answer-info"><span>Anonymous · Customer Service · </span><timeago :datetime="review.updated_at" :converterOptions="{ addSuffix: true }"></timeago></p>
                        <p class="answer-description">{{review.answerAdmin}}</p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="pagination" v-if="reviews.length">
            <div class="left-block">
                <p>1-{{paginatedData.length}} of {{reviews.length}} Reviews</p>
            </div>
            <div class="right-btn">
                <button type="button" @click="prevPage()" :disabled="pageNumber == 0" :class="{'btn-disabled': pageNumber == 0}">
                    <img src="../../../../../../static/arrow.svg">
                </button>
                <button type="button" @click="nextPage()" :disabled="pageNumber >= pageCount - 1" :class="{'btn-disabled': pageNumber >= pageCount - 1}">
                    <img src="../../../../../../static/arrow.svg">
                </button>
            </div>
        </div>
        <div v-else>
            <p class="no-review">There are no reviews for this product.</p>
            <button type="button" class="btn btn-link" style="display: table; width: auto; margin: 10px auto;" @click="openReview()">Write reviev</button>
        </div>
    </div>
</template>
<script>
import RateStars from "../../components/rate-stars";

export default {
    name: 'ReviewProduct',
    props: ['reviews'],
    data() {
        return {
            perPage: 5,
            pageNumber: 0
        }
    },
    methods: {
        nextPage(){
            this.pageNumber++;
        },
        prevPage(){
            this.pageNumber--;
        },
        openReview() {
            this.$emit('openReview');
        }
    },
    computed: {
        pageCount(){
            let l = this.reviews.length,
                s = this.perPage;
            return Math.ceil(l/s);
        },
        paginatedData(){
            const start = this.pageNumber * this.perPage,
                  end = start + this.perPage;
            return this.reviews.slice(start, end);
        }
    },
    components: {
        RateStars
    }
}
</script>