<template>
  <div class="popup-overlay product-page add-to-cart-modal">
    <div class="popup">
      <div class="popup-header">
        <h3 class="popup-header--title">{{ modalTitle }}</h3>
        <span class="close"><x-icon class="font-fix" @click="close"></x-icon></span>
      </div>

      <div v-if="!isResult" class="popup-body">

        <div class="radio-block" v-if="isDeliveryPeriods">
          <label  style="padding-bottom: 15px;">
            <input class="radio1" checked type="radio" name="radio-test" v-model="showDelivery" value="show">
            <span class="radio-custom"></span>
            <span class="label  drop-text small-text">Subscribe and save</span>
          </label>
          <label>
            <input class="radio1" type="radio" name="radio-test" v-model="showDelivery" value="none">
            <span class="radio-custom"></span>
            <span class="label drop-text small-text">Purchase this time only</span>
          </label>
        </div>
        <div v-if="showDelivery == 'none'" class="quantity-section">
          <p class="option-title">Quantity</p>
          <quantity :quantity="quantity" :changeQuantity="changeQuantity"></quantity>
        </div>
        <div v-if="isDeliveryPeriods && showDelivery == 'show'">
          <p class="option-title">Delivery period</p>
          <select-input :dropDownItems="deliveryPeriods" :changeItem="selectDeleveryPeriod"></select-input>
        </div>

      </div>

      <div v-if="isResult" class="popup-body result-body">
        <h4 class="result-title">THAT'S BEEN ADDED</h4>
        <a class="btn btn-green btn-green--square" href="/shop/cart">View cart</a>
        <button type="button" class="btn btn-link btn-link--modal" @click="close">Keep shopping</button>
      </div>

      <div v-if="!isResult" class="popup-bottom">
        <add-to-cart isModal="true"
                     :product-id="id"
                     :plan-id="planId"
                     :quantity="quantity"
                     @addToCart="resultAdd"
                     :isDeliveryPeriods="isDeliveryPeriods"
                     :showDelivery="showDelivery"
                     :disabled="showDelivery == 'show' && !isChange" />
      </div>
    </div>
  </div>
</template>

<script>
  import {EditIcon, XIcon, Trash2Icon} from 'vue-feather-icons';
  import SelectInput from "./select-input.vue";
  import Quantity from "./quantity.vue";

  import axios from 'axios';
  import {apiURL} from '@/../config';
  import AddToCart from "./addToCart.vue";

  export default {
    name: "add-to-cart-modal",
    props: ['product'],
    components: {
      AddToCart,
      Quantity,
      SelectInput,
      XIcon, EditIcon, Trash2Icon,
    },
    data() {
      return {
        id: null,
        quantity: 1,
        modalTitle: '',
        isChange: false,
        deliveryPeriods: [],
        isDeliveryPeriods: false,
        isRegular: false,
        showDelivery: 'show',
        planId: null,
        isResult: false,
      }
    },
    watch: {
      product: function (newVal, oldVal) {
        if (newVal) {
          this.modalTitle = newVal.name;
          this.id = newVal.id;
          if (newVal.delivery_periods && newVal.delivery_periods.length > 0) {
            newVal.delivery_periods.forEach(item =>{
              this.deliveryPeriods.push({id: item.plan.id, name: item.period + ' ' + item.unit})
            });
            this.isDeliveryPeriods = true;
            this.showDelivery = 'show';
            this.isChange = false;
          } else {
            this.showDelivery = 'none';
            this.isChange = true;
          }
        }
      },
    },
    methods: {
      close: function(){
        this.deliveryPeriods = [];
        this.isDeliveryPeriods = false;
        this.isRegular = false;
        this.showDelivery = 'show';
        this.isResult = false;
        this.quantity = 1;
        this.id = null;
        this.isChange = false;
        this.$emit('close');
      },
      selectDeleveryPeriod(id){
        this.isChange = true;
        this.planId = id;
      },
      changeQuantity(count){
        this.quantity = count;
      },
      resultAdd: function(){
        fbq('track', 'AddToCart', {
          contents: [{
            id: this.id + '',
            quantity: this.quantity,
            item_price: this.showDelivery === 'none' ? (this.product.regular_sale_price ? this.product.regular_sale_price: this.product.regular_price) : this.product.subscription_price
          }],
          content_ids: [this.id],
          content_type: this.showDelivery === 'none' ? 'product' : 'product subscribe',
          currency: 'USD',
          value: this.showDelivery === 'none' ? (this.product.regular_sale_price ? this.product.regular_sale_price: this.product.regular_price) : this.product.subscription_price
        });
        this.close();
      },
    },
  }
</script>

<style lang="scss">
.add-to-cart-modal{
  .radio-block{
    margin-bottom: 15px;
    label{
      display: block;
    }
  }
  .option-title{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
  }
  .quantity-section {
    margin: 10px 0;
    display: flex;
    justify-content : space-between;
    align-items: center;
  }
  .result-body{
    text-align: center;
    .result-title{
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      line-height: 20px;
      font-size: 14px;
      text-align: center;
      margin: 60px 0;
      color: #455C6F;
    }
    .btn-green--square{
      display: inline-block;
      margin-bottom: 20px;
    }
    .btn-link--modal{
      text-align: center !important;
    }
  }
}
</style>
