<template>
  <transition name="cart-slider-transaction" v-on:after-leave="afterLeaveCartSlider">
    <div class="cart-slider">
      <div class="cart-slider--header">
        <button @click="closeCartSlider" class="btn-close"><x-icon class="font-fix"></x-icon></button>
      </div>

      <div class="cart-slider--body">
        <div class="product-item" v-for="(product, index) in productList">
          <div class="col-image"><img :src="product.image" :alt="product.name"></div>
          <div class="col-name"><p class="product-name">{{product.name}}</p></div>
          <div class="col-quantity">
            <quantity v-if="product.quantity"
                      :quantity="product.quantity"
                      :changeQuantity="changeQuantity"
                      :productIndex="index"></quantity>
            <p v-if="!product.quantity" class="cart__info-text">Only 1 piece by subscription</p>
          </div>
          <div class="col-period">
            <span v-if="product.delivery_period" class="deliver">Deliver</span>
            <select-input v-if="product.delivery_period"
                          :changeItem="selectDeleveryPeriod"
                          :dropDownItems="product.delivery_period"
                          :productIndex="index"
                          :selected="product.delivery_period_selected"></select-input>
            <p v-if="!product.delivery_period" class="cart__info-text">One-time purchase</p>
          </div>
          <div class="col-total-price">
            <p v-if="product.quantity">$ {{ priceSet(product.price * product.quantity) }}</p>
            <p v-if="!product.quantity">$ {{ product.price }}</p>
          </div>
          <div class="col-delete">
            <button v-if="product.quantity" type="button" class="btn btn-link btn-delete" @click="deleteProduct(product.id)"><x-icon class="font-fix-cross"></x-icon></button>
            <button v-if="product.delivery_period" type="button" class="btn btn-link btn-delete" @click="deletePlan(product.id)"><x-icon class="font-fix-cross"></x-icon></button>
          </div>
        </div>
      </div>

      <div class="cart-slider--footer">
        <div class="total-section">
          <Coupon :code="coupon" @couponValue="couponValue" @activeCoupon="getDiscount" />
          <div v-if="showDiscount" class="total-block">
            <p class="total-text">Discount:</p>
            <span class="total-text big">-$ <span>{{ priceSet(discount) }}</span></span>
          </div>
          <div class="total-block">
            <p class="total-text">Subtotal:</p>
            <span class="total-text big">$ <span>{{price}}</span></span>
            <button type="button" class="btn btn-link btn-link--cart" @click="onCart()">View cart</button>
          </div>

          <div class="total-block">
            <button type="button" @click="onCheckout" class="btn btn-green">Checkout</button>
          </div>

          <div class="total-block">
            <button @click="onKeep" class="btn btn-keep">Keep shopping</button>
          </div>

        </div>
      </div>
    </div>
  </transition>
</template>

<script>
  import XIcon from "vue-feather-icons/icons/XIcon";

  import axios from 'axios';
  import {apiURL} from '@/../config';
  import Quantity from "./quantity.vue";
  import SelectInput from "./select-input.vue";
  import Coupon from "./shopCoupon";

  export default {
    name: "cart-slider",
    components: {
      SelectInput,
      Quantity,
      Coupon,
      XIcon},
    props: [],
    data() {
      return {
        productList: [],
        totalPrice: 0,
        totalPriceString: '',
        showDiscount: true,
        coupon: '',
        originalPrice: 0,
        discount: 0
      }
    },
    watch: {
      totalPrice() {
        if(this.totalPrice === 0) {
          this.$store.commit('clearCoupon');
        }
      }
    },
    methods: {
      priceSet: function (data) {
        return Number.prototype.toFixed.call(parseFloat(data) || 0, 2);
      },
      getCartToken: function(callback) {
        if (this.$cookie.get('user_token')) {
          axios({
            method: 'get',
            url: apiURL + '/api/user/assign-cart',
            headers: {
              Authorization: 'Bearer ' + this.$cookie.get('user_token'),
            },
          })
            .then(response => {
              let cart = response.data;
              this.$cookie.set('cart_token', cart.token);
              callback(cart.token);
            })
        }
      },
      getCart: function () {
        let token = this.$route.query.token ? this.$route.query.token : this.$cookie.get('cart_token');
        this.productList = [];
        this.totalPrice = 0;
        if (!token) {
          this.getCartToken(cartToken => {
            token = cartToken
          });
        }
        if (!token) {
          return;
        }

        axios({
          method: 'get',
          url: apiURL + '/api/public/cart/' + token,
        })
          .then(response => {
            let res = response.data;
            this.productList = [];
            if (res.orderDetailed && res.orderDetailed.length > 0) {
              res.orderDetailed.forEach(item => {
                let data = {};
                data.id = item.id;
                data.name = item.product.name;
                data.quantity = item.quantity;
                if (item.regular_sale_price > 0) {
                  this.totalPrice += item.regular_sale_price * item.quantity;
                  this.originalPrice += item.regular_sale_price * item.quantity;
                  data.price = this.priceSet(item.regular_sale_price);
                  data.old_price = this.priceSet(item.regular_price);
                } else {
                  this.totalPrice += item.regular_price * item.quantity;
                  this.originalPrice += item.regular_price * item.quantity;
                  data.price = this.priceSet(item.regular_price);
                  data.old_price = false;
                }
                data.delivery_period = false;
                data.image = (item.product.images) ? apiURL + item.product.images[0].media.filename : '';

                this.productList.push(data);
              });
            }
            if (res.plans && res.plans.length > 0) {
              res.plans.forEach(item => {
                let data = {};
                data.id = item.id;
                data.name = item.delivery_period.product.name;
                data.image = (item.delivery_period.product.images[0]) ? apiURL + item.delivery_period.product.images[0].media.filename : '';
                data.quantity = false;
                this.totalPrice += item.price;
                data.price = this.priceSet(item.price);
                data.old_price = null;
                data.delivery_period = [];
                data.delivery_period_selected = item.delivery_period.period + ' ' + item.delivery_period.unit;
                item.delivery_period.product.delivery_periods.forEach(period => {
                  data.delivery_period.push({id: period.plan.id, name: period.period + ' ' + period.unit});
                });

                this.productList.push(data);
              });
            }
            if(res.coupon_code) {
              this.coupon = res.coupon_code;
              this.getDiscount();
            } else {
              this.totalPriceString = this.priceSet(this.totalPrice);
            }
          })
      },
      getDiscount(){
        let userToken = this.$cookie.get('user_token');
        let cartToken = this.$cookie.get('cart_token');
        let data = {
          token: userToken,
          cartToken: cartToken
        }
        this.$store.dispatch('getDiscount', data).then(()=>{
          this.discount = this.$store.getters['getCoupon'].discount;
        });
      },
      changeQuantity: function(count, index){
        let product = this.productList[index];
        if (count > product.quantity) {
          this.addQuantity(product.id, () => {
            this.productList[index].quantity += 1;
            this.totalPrice = this.totalPrice + parseFloat(this.productList[index].price);
            this.totalPriceString = this.priceSet(this.totalPrice);
          });
        } else {
          this.removeQuantity(product.id, () => {
            this.productList[index].quantity -= 1;
            this.totalPrice = this.totalPrice - parseFloat(this.productList[index].price);
            this.totalPriceString = this.priceSet(this.totalPrice);
          });
        }
      },
      selectDeleveryPeriod: function(id, index){
        let product = this.productList[index];
        axios({
          method: 'put',
          url: apiURL + '/api/public/cart/'+this.$cookie.get('cart_token')+'/plan/'+product.id+'/update-new-plan/'+ id,
        });
      },
      addQuantity: function(id, callback) {
        axios({
          method: 'put',
          url: apiURL + '/api/public/cart/' + this.$cookie.get('cart_token') + '/product/'+ id +'/add',
        })
          .then(response => {
            callback();
          })
      },
      removeQuantity: function(id, callback) {
        axios({
          method: 'put',
          url: apiURL + '/api/public/cart/' + this.$cookie.get('cart_token') + '/product/'+ id +'/remove',
        })
          .then(response => {
            callback();
          })
      },
      deleteProduct: function(id) {
        axios({
          method: 'delete',
          url: apiURL + '/api/public/cart/'+ this.$cookie.get('cart_token') +'/' + id,
        })
          .then(response => {
            this.$root.cartCount -= 1;
            this.getCart();
          })

      },
      deletePlan: function(id) {
        axios({
          method: 'delete',
          url: apiURL + '/api/public/cart/' + this.$cookie.get('cart_token') + '/plan/'+ id,
        })
          .then(response => {
            this.$root.cartCount -= 1;
            this.getCart();
          })
      },
      couponValue(value) {
        this.coupon = value;
      },
      onCart: function(){
        document.location.replace('/shop/cart');
      },
      onCheckout:function () {
        if(this.$root.cartCount > 0) {
          this.$root.openCartMenu.menu = false;
          fbq('track', 'InitiateCheckout', {
            contents: this.productList,
            currency: 'USD',
            value: this.totalPrice
          });

          let _learnq = _learnq || [];

          _learnq.push(['track', 'Started Checkout', {
            'products' : this.productList,
            'currency' : '$',
            'value'    : this.totalPrice
          }]);
          document.location.replace('/shop/checkout');
        }
      },
      onKeep:function () {
        this.$root.openCartMenu.menu = false;
        document.location.replace('/shop');
      },
      closeCartSlider: function () {
        this.$root.openCartMenu.menu = false;

      },
      afterLeaveCartSlider: function() {
        this.$root.openCartMenu.background = false;
      }
    },
    computed: {
      price() {
        if(this.coupon){
           this.getDiscount();
        }
        return this.totalPrice > this.discount ? this.priceSet(this.totalPrice - this.discount) : '0';
      }
    },
    mounted(){
      this.getCart();
    }
  }
</script>
