<template>
  <div class="card-carousel">
    <div class="card-img">
      <img :src="currentImage" alt="">
    </div>
    <div class="thumbnails">
      <div
        v-for="(image, index) in  images"
        :key="image.id"
        :class="['thumbnail-image', (activeImage == index) ? 'active' : '']"
        @click="activateImage(index)"
      >
        <img :src="(image.thumb != '') ? apiURL + image.thumb : ''">
      </div>
    </div>
  </div>
</template>

<script>
  import {apiURL} from '@/../config';

  export default {
    name: "gallery",
    props: ['startingImage', 'images'],
    computed: {
      currentImage() {
        return (this.images.length != 0) ? apiURL + this.images[this.activeImage].big : '';
      }
    },

    data() {
      return {
        apiURL: apiURL,
        activeImage: 0,
        stopSlider: false,

      }
    },
    methods: {
      activateImage(imageIndex) {
        this.activeImage = imageIndex;
      },

    },
  }
</script>

