<template>
  <div class="block-info">
    <div class="client-input-group">
      <label class="input-label">First name</label>
      <div class="">
        <input class="input-form" type="text"
               placeholder="First name"
               @change="validateFirstName"
               :class="{'error-input': first_name_error}"
               v-model="user.first_name"/>
        <p v-if="first_name_error" class="error-text">The field is not valid.</p>
      </div>
    </div>
    <div class="client-input-group">
      <label class="input-label">Last name</label>
      <div class="">
        <input class="input-form" type="text"
               placeholder="Last name"
               @change="validateLastName"
               :class="{'error-input': last_name_error}"
               v-model="user.last_name"/>
        <p v-if="last_name_error" class="error-text">The field is not valid.</p>
      </div>
    </div>
    <div class="client-input-group">
      <label class="input-label">Email</label>
      <div class="">
        <input class="input-form" type="text"
               placeholder="Email"
               @keyup="validEmail"
               :class="{'error-input': email_error}"
               v-model="user.email"/>
        <p v-if="email_error" class="error-text" v-text="email_error_text"></p>
      </div>
    </div>
    <div class="client-input-group">
      <label class="input-label">Phone number</label>
      <div class="">
        <phone-input @input="user.phone = $event.target.value" :value="user.phone"
          @keyup="validatePhone"
          maxlength="10"
          placeholder="XXXXXXXXXX"
          :class="{'error-input' : phone_error}" />
        <p v-if="phone_error" class="error-text">The field is not valid.</p>
      </div>
    </div>
    <div class="shipping-item-btn-block shipping-item-btn-block--form profile-btn-block" style="margin-top: 40px">
      <button type="button" class="btn btn-green btn-shipping btn-shipping--big btn-form" @click="onSavePersonalInfo">Save</button>
      <button v-if="checkoutPage"
              @click="onClickCancel"
              class="btn btn-grey  btn-shipping btn-shipping--big btn-shipping--grey btn-form m-l-10">Cancel</button>
      <button type="button"
              v-if="!checkoutPage"
              class="btn btn-link btn-link--modal btn-shipping-default"
              @click="changePassword">Change password</button>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';
  import {apiURL} from '@/../config';
  import PhoneInput from '../../../lib/input/PhoneInput.vue';

  export default {
    name: "personal-info-form",
    props: ['userInfo', 'checkoutPage'],
    components: {
      PhoneInput
    },
    data(){
      return {
        user: (this.userInfo) ? this.userInfo : {
          first_name: '',
          last_name: '',
          email: '',
          phone: ''
        },
        first_name_error: false,
        last_name_error: false,
        email_error: false,
        email_error_text: 'The field is not valid.',
        phone_error: false,
        hasError: false,
      }
    },
    watch: {
      userInfo: function (val) {
        if (val) {
          this.user = val
        }
      }
    },
    methods: {
      isEmailValid() {
        return /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(this.user.email);
      },
      isPhoneValid() {
        return /^((\+)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,15}$/.test(this.user.phone);
      },
      isValidateText: function(text) {
        return /^[a-zA-Z\s]{2,40}$/.test(text)
      },
      validEmail(){
        this.email_error = !this.isEmailValid();
        if (this.email_error) {
          this.email_error_text = 'The field is not valid.';
        }
        if (!this.hasError) {
          this.hasError = this.email_error;
        }
      },
      changePassword: function () {
        this.$emit('onChangePassword');
      },
      validatePhone: function() {
        this.phone_error =  (this.user.phone == '' || !this.isPhoneValid());
        if (!this.hasError) {
          this.hasError = this.phone_error;
        }
      },
      validateFirstName: function () {
        this.first_name_error =  (this.user.first_name == '' || !this.isValidateText(this.user.first_name));
        if (!this.hasError) {
          this.hasError = this.first_name_error;
        }
      },
      validateLastName: function() {
        this.last_name_error =  (this.user.last_name == '' || !this.isValidateText(this.user.last_name));
        if (!this.hasError) {
          this.hasError = this.last_name_error;
        }
      },
      validateForm: function() {
        this.hasError = false;
        this.validateFirstName();
        this.validateLastName();
        this.validatePhone();
        this.validEmail();
      },
      onSavePersonalInfo: function () {
        this.validateForm();
        if (this.hasError) return false;
        axios({
          method: 'put',
          url: apiURL + '/api/user',
          headers: {
            Authorization: 'Bearer ' + this.$cookie.get('user_token'),
          },
          data: {
            first_name : this.user.first_name,
            last_name : this.user.last_name,
            email : this.user.email,
            phone : this.user.phone,
          }
        })
          .then(response => {
            this.$store.state.user = response.data;
            this.$emit('savePersonalInfo');
          })
          .catch(error => {
            this.hasError = true;
            this.email_error = true;
            this.email_error_text = 'This email already exists';
          });
      },

      onClickCancel: function(){
        this.$emit('savePersonalInfo');
      }

    }

  }
</script>
