<template>
  <div class="search-block">
    <button v-if="isMobile" class="header-link mobile-link user-menu-btn" @click="onOutputSearch">
      <arrow-left-icon class="font-fix"></arrow-left-icon>
    </button>
    <div class="search-block-input">
      <input type="text" placeholder="Search" v-model="searchQuery" @keyup="onChange"/>
      <search-icon class="font-fix search-icon"></search-icon>
    </div>
    <ul class="search-block-result" v-if="isSearchResult">
      <li v-for="product in productResult">
        <a class="btn btn-link btn-link--search" :href="product.link">{{ product.name }} <arrow-up-right-icon class="font-fix"></arrow-up-right-icon></a>
      </li>
    </ul>
  </div>
</template>

<script>

  import SearchIcon from "vue-feather-icons/icons/SearchIcon";
  import ArrowLeftIcon from "vue-feather-icons/icons/ArrowLeftIcon";
  import ArrowUpRightIcon from "vue-feather-icons/icons/ArrowUpRightIcon";

  import axios from 'axios';
  import {apiURL} from '@/../config';
import { setTimeout } from 'timers';

  export default {
    name: "product-search",
    components: {
      ArrowUpRightIcon,
      ArrowLeftIcon,
      SearchIcon},
    props: ['openResult', 'isMobile'],
    data() {
      return {
        searchQuery: '',
        isSearchResult: this.openResult,
        productResult: []
      }
    },
    watch: {
      openResult: function(val){
        this.isSearchResult = val;
      }
    },
    methods: {
      onChange: function() {
        this.searchProduct();
        this.$emit('searchChange', this.searchQuery);
      },
      onOutputSearch: function(){
        this.searchQuery = '';
        this.$emit('onOutputSearch')
      },
      searchProduct: function(){
        this.productResult = [];
        if (this.searchQuery != ''){
          axios({
            method: 'get',
            url: apiURL + '/api/public/products/search?criteria=' + this.searchQuery,
          })
            .then(response => {
              this.productResult = [];
              let res = response.data;
              console.log('res search',res);
              res.forEach(item => {
                this.productResult.push({link: '/shop/product/' + item.slug, name: item.name});
              });
            })
        }
      }
    },
  }
</script>
