<template>
  <div class="quantity">
    <button :disabled="disabledminusQuan" v-on:click="minusQuan">
      <minus-icon class="font-fix"></minus-icon>
    </button>
    <p class="tab">{{ quantityLocal }}</p>
    <button v-on:click="plusQuan">
      <plus-icon class="font-fix"></plus-icon>
    </button>
  </div>
</template>

<script>
  import {MinusIcon, PlusIcon} from 'vue-feather-icons'

  export default {
    name: "quantity",
    props: ['quantity', 'changeQuantity', 'productIndex'],
    components: {
      MinusIcon, PlusIcon
    },
    data: function () {
      return {
        quantityLocal: this.quantity,
        disabledminusQuan: (this.quantity <= 1),
        index: (this.productIndex || this.productIndex === 0) ? this.productIndex : null,
      }
    },
    methods: {
      minusQuan: function () {
        this.quantityLocal = (this.quantityLocal -= 1);
        this.disabledminusQuan = (this.quantityLocal > 1) ? false : true;
        this.changeQuantity(this.quantityLocal, this.index);
      },
      plusQuan: function () {
        this.quantityLocal = (this.quantityLocal += 1);
        this.disabledminusQuan = (this.quantityLocal > 1) ? false : true;
        this.changeQuantity(this.quantityLocal, this.index);
      }

    }
  }
</script>

<style lang="scss">
.quantity {
  display: flex;
  align-items: center;

  button {
    border: 1px solid #919EA9;
    box-sizing: border-box;
    border-radius: 49px;
    background: #fff;
    height: 40px;
    width: 40px;
    outline: none;
  }
  .font-fix{
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    color: #344654;
  }
  p {
    margin: 0 15px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    color: #344654;
    width: 25px;
    text-align: center;
  }

}
</style>
