<template>
  <div class="select-input">
    <div class="selected-item" @click="activeTotal = !activeTotal" :class="{'active' : activeTotal}">
      {{ selectedItem }}
      <chevron-down-icon class="font-fix icon"></chevron-down-icon>
    </div>
    <div v-show="activeTotal" class="list-item">
      <div v-for="item in dropDownItems" @click="selectEntries(item.id, item.name)">{{item.name}}</div>
    </div>
  </div>
</template>

<script>
  import {ChevronDownIcon} from 'vue-feather-icons'

  export default {
    name: "select-input",
    props: ['dropDownItems', 'changeItem', 'selected', 'productIndex'],
    components: {
      ChevronDownIcon
    },
    data: function () {
      return {
        selectedItem: (this.selected) ? this.selected : this.dropDownItems[0].name,
        activeTotal: false,
        index: (this.productIndex) ? this.productIndex : null,
      }
    },
    methods: {
      selectEntries: function (id, entries) {
        this.activeTotal = !this.activeTotal;
        this.selectedItem = entries;
        this.changeItem(id, this.index);
      }
    }
  }
</script>

<style lang="scss">
  .select-input{
    position: relative;

    .selected-item {
      min-width: 200px;
      border: 1px solid #CBD8E3;
      box-sizing: border-box;
      border-radius: 48px;
      padding: 10px 20px;
      font-size: 16px;
      color: #344654;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width: 400px){
        font-size: 12px;
        line-height: 18px;
      }
      &.active {
        border-radius: 20px 20px 0 0;
      }
    }

    .list-item {
      border: 1px solid #CBD8E3;
      box-sizing: border-box;
      border-radius: 0 0 20px 20px;
      border-top: none;
      position: absolute;
      width: 100%;
      background: #fff;
      z-index: 2;
      box-shadow: 0 4px 12px rgba(5, 41, 72, 0.1);
      &:last-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
      & > div {
        padding: 0 10px;
        font-size: 14px;
        line-height: 20px;
        @media screen and (max-width: 1024px){
          padding: 10px;
        }
        @media screen and (max-width: 600px){
          padding: 0;
        }
        @media screen and (max-width: 400px){
          font-size: 12px;
          line-height: 18px;
        }
        &:hover {
          cursor: pointer;
          background: #E1E7EC;
        }
      }
    }
  }


</style>
