<template>
  <div>
    <p class="title-billing-address text-left" style="margin-top: 0">Shipping address</p>
    <div class="double-block-info left-position">
      <div class="left-block">
        <user-icon class="font-fix"></user-icon>
      </div>
      <div class="right-block">
        <p class="text-regular" v-text="shipping.first_name +' '+shipping.last_name"></p>
      </div>
    </div>
    <div class="double-block-info left-position">
      <div class="left-block">
        <map-pin-icon class="font-fix"></map-pin-icon>
      </div>
      <div class="right-block">
        <p class="text-regular">{{ shipping.address }}</p>
        <p class="text-regular" v-text="shipping.city +' '+shipping.state"></p>
        <p class="text-regular">{{ shipping.zip }}</p>
        <p class="text-regular">{{ shipping.country }}</p>
      </div>
    </div>
    <div class="double-block-info left-position">
      <div class="left-block">
        <phone-icon class="font-fix"></phone-icon>
      </div>
      <div class="right-block">
        <p class="text-regular">{{ shipping.phone }}</p>
      </div>
    </div>
    <p class="title-billing-address text-left">Billing address</p>
    <div class="double-block-info left-position">
      <div class="left-block">
        <user-icon class="font-fix"></user-icon>
      </div>
      <div class="right-block">
        <p class="text-regular" v-text="shipping.billing_first_name +' '+shipping.billing_last_name"></p>
      </div>
    </div>
    <div class="double-block-info left-position">
      <div class="left-block">
        <map-pin-icon class="font-fix"></map-pin-icon>
      </div>
      <div class="right-block">
        <p class="text-regular">{{ shipping.billing_address }}</p>
        <p class="text-regular" v-text="shipping.billing_city +' '+shipping.billing_state"></p>
        <p class="text-regular">{{ shipping.billing_zip }}</p>
        <p class="text-regular">{{ shipping.billing_country }}</p>
      </div>
    </div>
    <div class="double-block-info left-position">
      <div class="left-block">
        <phone-icon class="font-fix"></phone-icon>
      </div>
      <div class="right-block">
        <p class="text-regular">{{ shipping.billing_phone }}</p>
      </div>
    </div>
    <div class="shipping-item-btn-block">
      <button v-if="isEdit"
              class="btn btn-grey btn-grey--smal btn-shipping btn-shipping--small btn-shipping--grey"
              @click="onClickEdit">Edit</button>
      <button v-if="isDelete"
              class="btn btn-grey btn-grey--smal m-l-10 btn-shipping btn-shipping--small btn-shipping--grey"
              @click="onClickDelete">Delete</button>
      <button v-if="isChange"
              class="btn btn-grey btn-grey--smal m-l-50 btn-shipping btn-shipping--small btn-shipping--grey"
              @click="onClickChange">Change</button>
      <button disabled="disabled" v-if="isDefault" class="btn-shipping-default">Default address</button>
    </div>
  </div>
</template>

<script>
  import {UserIcon, MapPinIcon , PhoneIcon} from 'vue-feather-icons'

  import axios from 'axios';
  import {apiURL} from '@/../config';

  export default {
    name: "shipping-address-info",
    components: {
      UserIcon, MapPinIcon , PhoneIcon
    },
    props: ['shippingAddress', 'isEdit', 'isChange', 'isDelete', 'isDefault'],
    data() {
      return {
        shipping: (this.shippingAddress) ? this.shippingAddress : {
          id: '',
          address: '',
          first_name: '',
          last_name: '',
          phone: '',
          city: '',
          state: '',
          country: '',
          zip: '',
          billing_address: '',
          billing_first_name: '',
          billing_last_name: '',
          billing_phone: '',
          billing_city: '',
          billing_state: '',
          billing_country: '',
          billing_zip: '',
        }
      }
    },
    watch: {
      shippingAddress: function (val, oldVal) {
        if (val) {
          this.shipping = val;
        }
      }
    },
    methods: {
      onClickEdit: function() {
        this.$emit('editShippingAddress', this.shipping.id);
      },
      onClickChange: function () {
        this.$emit('changeShippingAddress');
      },
      onClickDelete: function () {
        axios({
          method: 'delete',
          url: apiURL + '/api/user/address/' + this.shipping.id,
          headers: {
            Authorization: 'Bearer ' + this.$cookie.get('user_token'),
          },
        })
          .then(response => {
            this.$emit('deleteShippingAddress');
          })
          .catch(error => {
          });
      }
    }
  }
</script>


