<template>
  <div class="timer">

    <div class="block">
      <p class="digit tab">{{ days  }}</p>
      <p class="text">Days</p>
    </div>
    <div class="block">
      <p class="digit tab">{{ hours  }}</p>
      <p class="text">Hours</p>
    </div>
    <div class="block">
      <p class="digit tab">{{ minutes }}</p>
      <p class="text">Minutes</p>
    </div>
    <div class="block">
      <p class="digit tab">{{ seconds | twoDigits }}</p>
      <p class="text">Seconds</p>
    </div>
  </div>
</template>
<script>
  export default {
    mounted() {
      window.setInterval(() => {
        this.now = Math.trunc((new Date()).getTime() / 1000);
      }, 1000);
    },
    props: {
      date: {
        type: String
      }
    },
    data() {
      return {
        now: Math.trunc((new Date()).getTime() / 1000)
      }
    },
    computed: {
      dateInMilliseconds() {
        return Math.trunc(Date.parse(this.date) / 1000)
      },
      seconds() {
        return (this.dateInMilliseconds - this.now) % 60;
      },
      minutes() {
        return Math.trunc((this.dateInMilliseconds - this.now) / 60) % 60;
      },
      hours() {
        return Math.trunc((this.dateInMilliseconds - this.now) / 60 / 60) % 24;
      },
      days() {
        return Math.trunc((this.dateInMilliseconds - this.now) / 60 / 60 / 24);
      }
    },

    filters: {
      twoDigits(value) {
        if (value.toString().length <= 1) {
          return "0" + value.toString();
        }
        return value.toString();
      }
    }
  }


</script>
<style lang="scss">

  .timer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .block {
      display: flex;
      flex-direction: column;
      margin: 20px;
    }

    .text {
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 14px;
      text-align: center;
      color: #344654;
      opacity: 0.5;

    }

    .digit {
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      font-size: 48px;
      text-align: center;
      letter-spacing: -0.04em;
      color: #344654;

    }
  }

</style>
