<template>
  <transition name="user-menu">
    <div class="user-mobile-menu">
      <div class="user-mobile-menu--header">
        <img src="/static/img/shop/user.png" alt="">
        <p v-if="isActiveUser" class="user-mobile-menu--header--text">{{ userName }}</p>
        <a v-if="!isActiveUser"
           href="/shop/login"
           class="user-mobile-menu--header--text">Sign In | Register</a>
      </div>
      <div class="user-mobile-menu--body">
        <div v-if="isActiveUser" class="menu-links-block">
          <p class="user-menu-title">Shop</p>
          <a href="/shop/account/orders" class="user-menu-link">
            <img  class="user-menu-icon" src="/static/img/shop/icon/orders.svg"> Order History
          </a>
          <a href="/shop/account/subscription" class="user-menu-link">
            <img  class="user-menu-icon" src="/static/img/shop/icon/subscription.svg"> Subscriptions
          </a>
          <a href="/shop/account/rewards" class="user-menu-link">
            <img  class="user-menu-icon" src="/static/img/shop/icon/subscription.svg"> Rewards
          </a>
          <a href="/shop/account/shipping" class="user-menu-link">
            <img  class="user-menu-icon" src="/static/img/shop/icon/addresses.svg"> Addresses
          </a>
        </div>

        <div v-if="!isActiveUser" class="menu-links-block">
          <p class="user-menu-title">Shop</p>
          <a href="/shop/login" class="user-menu-link">
            <img  class="user-menu-icon" src="/static/img/shop/icon/orders.svg"> Order History
          </a>
          <a href="/shop/login" class="user-menu-link">
            <img  class="user-menu-icon" src="/static/img/shop/icon/subscription.svg"> Subscriptions
          </a>
          <a href="/shop/login" class="user-menu-link">
            <img  class="user-menu-icon" src="/static/img/shop/icon/addresses.svg"> Addresses
          </a>
        </div>

        <div class="menu-links-block">
          <p class="user-menu-title">Company</p>
          <a href="/about" class="user-menu-link">
            <img  class="user-menu-icon" src="/static/img/shop/icon/about.svg"> About
          </a>
          <a href="/executive-physical" class="user-menu-link">
            <img  class="user-menu-icon" src="/static/img/shop/icon/physical.svg"> Executive Physical
          </a>
          <a href="/services" class="user-menu-link">
            <img  class="user-menu-icon" src="/static/img/shop/icon/services.svg"> Services
          </a>
        </div>

        <div v-if="isActiveUser" class="menu-links-block">
          <p class="user-menu-title">Account</p>
          <a href="/shop/account/profile" class="user-menu-link">
            <user-icon class="user-menu-icon"></user-icon> Edit profile
          </a>
          <button class="user-menu-link" @click="onLogOut">
            <log-out-icon class="user-menu-icon"></log-out-icon>LogOut
          </button>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>

  import UserIcon from "vue-feather-icons/icons/UserIcon";
  import LogOutIcon from "vue-feather-icons/icons/LogOutIcon";

  import axios from 'axios';
  import {apiURL} from '@/../config';

  export default {
    name: "user-mobile-menu",
    components: {
      LogOutIcon,
      UserIcon},
    data() {
      return {}
    },
    computed: {
      isActiveUser: function() {
        return this.$store.state.user;
      },
      userName: function() {
        return (this.$store.state.user) ? (this.$store.state.user.first_name + ' ' + this.$store.state.user.last_name) : '';
      }
    },
    methods: {
      onLogOut: function(){
        if (this.$cookie.get('user_token')) {
          this.$cookie.delete('user_token');
        }
        this.isAccountMenu = false;
        if (this.$route.name === 'checkout') {
          document.location.replace('/shop/login');
        } else {
          document.location.replace('/shop');
        }
      }
    },
  }
</script>

