<template>
  <div>
    <MainHeader class="header-white"/>

    <main class="contact">
      <section class="contact__wrapper">
          <div class="border-block thanks-page">
              <div class="check"><check-icon class="check--icon"></check-icon></div>
              <p class="title">Thank you</p>
              <p>Thanks for your submission. We will contact you soon.
                  <a class="btn btn-ok" href="/">Go to home page.</a>
              </p>
          </div>
      </section>
    </main>

    <AppFooter/>

  </div>
</template>
<script>
    import MainHeader from '../general/MainHeader';
    import AppFooter from '../general/Footer';
    import CheckIcon from "vue-feather-icons/icons/CheckIcon";

    export default {
        name: 'thanks',
        components: {
            MainHeader,
            CheckIcon,
            AppFooter
        },
        metaInfo: {
            title: 'Contact Us - Schedule An Appointment | Maryland & Virginia | NextHealth.org',
            meta: [
                { vmid: 'description', name: 'description', content: 'Schedule a personalized preventative health care examination with us. Take control of your future health. With two locations , one in Maryland, and the other in Virginia.' },
                { vmid: 'name', name: 'robots', content: 'index, nofollow' },
            ],
        }
    }
</script>

