<template>
  <!--<link rel="stylesheet" href="/static/assets/css/style.css">-->
  <div style="background: #1A242C">
    <MainHeader @openpopup="openPopUp" />
    <div id="landing">
      <header class="Header">
        <video
          class="Header__video"
          tabindex="-1"
          src="#"
          poster="/static/img/home/intro-background.jpg"
        ></video>
        <div class="Header__overview">
          <h1 class="Header__title">
            Alternative Medicine
            <br />Naturopathic Doctor
          </h1>
          <h2 class="Header__subtitle">Predict, Prevent & Reverse Disease. Prolong Life.</h2>
          <a class="BookNow" href="#" title="Book Now">Book Now</a>
        </div>
      </header>
      <div class="container Tabs__container">
        <div class="Tabs__wrapper">
          <div class="Tabs js-Tabs">
            <button
              @click="selectTab(1,'.sw1')"
              :class="{'tns-nav-active': sel_sw1.value === 1}"
              class="Tab js-Tab"
            >
              <span class="Tab__text">Individualized Medicine</span>
            </button>
            <button
              @click="selectTab(2,'.sw1')"
              :class="{'tns-nav-active': sel_sw1.value === 2}"
              class="Tab js-Tab"
            >
              <span class="Tab__text">We Spend Time With You</span>
            </button>
            <button
              @click="selectTab(3,'.sw1')"
              :class="{'tns-nav-active': sel_sw1.value === 3}"
              class="Tab js-Tab"
            >
              <span class="Tab__text">We Rethink Medicine</span>
            </button>
          </div>
          <div class="Tab__active js-Tab__active"></div>
        </div>
      </div>
      <div class="Tabs__slider-wrapper">
        <div class="BG"></div>
        <div class="Tabs__slider js-Tabs__slider">
          <swiper :options="swiperOption2" class="sw1">
            <swiper-slide>
              <div class="Tabs__slide">
                <div class="container">
                  <div class="Tabs__slide-inner">
                    <div class="Video__wrapper">
                      <iframe
                        src="https://player.vimeo.com/video/362469171?title=0&byline=0&portrait=0"
                        frameborder="0"
                        allow="autoplay; fullscreen"
                        width="720"
                        height="405"
                        allowfullscreen
                        class="Video"
                      ></iframe>
                      <!--<video class="Video" tabindex="-1" src="https://player.vimeo.com/362469486/210c584a9e" poster="//placehold.it/720x405"></video>-->
                      <!--<button class="Video__play"><img class="Video__play-icon" src="/static/svg/play.svg" alt="Play" width="78" height="78"/></button>-->
                    </div>
                    <div class="BookNowBlock">
                      <div
                        class="BookNowBlock__description"
                      >1 If you’re frustrated by rushed doctor visits and feel like your physician just isn’t hearing you, you’re not alone. Unfortunately, conventional medicine has largely evolved into a one-size-fits-all approach. Many doctors today send you down a medical pathway that begins with a “standard workup” based on what they determine is your “primary complaint.”</div>
                      <a class="BookNow" href="#" title="Book Now">Book Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </swiper-slide>
            <swiper-slide>
              <div class="Tabs__slide">
                <div class="container">
                  <div class="Tabs__slide-inner">
                    <div class="Video__wrapper">
                      <iframe
                        src="https://player.vimeo.com/video/362468039?title=0&byline=0&portrait=0"
                        frameborder="0"
                        allow="autoplay; fullscreen"
                        width="720"
                        height="405"
                        allowfullscreen
                        class="Video"
                      ></iframe>
                      <!--<video class="Video" tabindex="-1" src="https://player.vimeo.com/362468039/5e5119ec15" poster="//placehold.it/720x405"></video>-->
                      <!--<button class="Video__play"><img class="Video__play-icon" src="/static/svg/play.svg" alt="Play" width="78" height="78"/></button>-->
                    </div>
                    <div class="BookNowBlock">
                      <div
                        class="BookNowBlock__description"
                      >2 If you’re frustrated by rushed doctor visits and feel like your physician just isn’t hearing you, you’re not alone. Unfortunately, conventional medicine has largely evolved into a one-size-fits-all approach. Many doctors today send you down a medical pathway that begins with a “standard workup” based on what they determine is your “primary complaint.”</div>
                      <a class="BookNow" href="#" title="Book Now">Book Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </swiper-slide>
            <swiper-slide>
              <div class="Tabs__slide">
                <div class="container">
                  <div class="Tabs__slide-inner">
                    <div class="Video__wrapper">
                      <iframe
                        src="https://player.vimeo.com/video/362469486?title=0&byline=0&portrait=0"
                        frameborder="0"
                        allow="autoplay; fullscreen"
                        width="720"
                        height="405"
                        allowfullscreen
                        class="Video"
                      ></iframe>
                      <!--<video class="Video" tabindex="-1" src="https://player.vimeo.com/362469171/52f83016c9" poster="//placehold.it/720x405"></video>-->
                      <!-- <button class="Video__play">
                        <img
                          class="Video__play-icon"
                          src="/static/svg/play.svg"
                          alt="Play"
                          width="78"
                          height="78"
                        />
                      </button> -->
                    </div>
                    <div class="BookNowBlock">
                      <div
                        class="BookNowBlock__description"
                      >3 If you’re frustrated by rushed doctor visits and feel like your physician just isn’t hearing you, you’re not alone. Unfortunately, conventional medicine has largely evolved into a one-size-fits-all approach. Many doctors today send you down a medical pathway that begins with a “standard workup” based on what they determine is your “primary complaint.”</div>
                      <a class="BookNow" href="#" title="Book Now">Book Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </swiper-slide>
          </swiper>
          <div class="Arrows Tabs__arrows">
            <button @click="prevSlide('.sw1')" class="Arrow Arrow--left js-Tabs__arrow--left">
              <img src="/static/svg/arrow--left.svg" alt="Left" width="8" height="14" />
            </button>
            <button @click="nextSlide('.sw1')" class="Arrow Arrow--left js-Tabs__arrow--right">
              <img src="/static/svg/arrow--right.svg" alt="Right" width="8" height="14" />
            </button>
          </div>
        </div>
      </div>
      <!--</div>-->
      <!--</div>-->
      <div class="container">
        <div class="ScheduleAnAppointmentToday">
          <h2 class="ScheduleAnAppointmentToday__title">Schedule an Appointment Today</h2>
          <p
            class="ScheduleAnAppointmentToday__description"
          >Call us at (703) 724-4000 to schedule an appointment and start down the path to optimal health and wellness.</p>
        </div>
      </div>
      <div class="OurApproach__wrapper">
        <div class="BG"></div>
        <div class="container">
          <div class="OurApproach">
            <div class="BookNowBlock">
              <div class="BookNowBlock__title">Our Approach</div>
              <div
                class="BookNowBlock__description"
              >Unlike natural medicine, which takes a holistic view of the body, conventional medicine is highly specialized. This leads to hyper-focused attention on individual organs and bodily systems instead of the whole person. Dr. Habib and his team at Next Health recognize the need to improve the annual physical model and preventive medicine in general. We provide exceptional alternative medicine services to patients throughout Maryland and Virginia. We have extensively researched breakthrough advances in medicine and created a blend of medical approaches that allow us to detect disease at a very early stage, and more importantly, to prevent disease.</div>
              <a class="BookNow" href="#" title="Book Now">Book Now</a>
            </div>
            <div class="Video__wrapper">
              <iframe
                src="https://player.vimeo.com/video/259411563"
                frameborder="0"
                allow="autoplay; fullscreen"
                width="720"
                height="405"
                allowfullscreen
                class="Video"
              ></iframe>
              <!--<video class="Video" tabindex="-1" src="https://player.vimeo.com/362468039/5e5119ec15" poster="//placehold.it/720x405"></video>-->
              <!-- <button class="Video__play">
                <img
                  class="Video__play-icon"
                  src="/static/svg/play.svg"
                  alt="Play"
                  width="78"
                  height="78"
                />
              </button> -->
            </div>
          </div>
        </div>
      </div>
      <div class="TheNextHealthWay__wrapper">
        <div class="BG"></div>
        <div class="container">
          <div class="TheNextHealthWay">
            <div class="Video__wrapper">
              <iframe
                src="https://player.vimeo.com/video/259411563"
                frameborder="0"
                allow="autoplay; fullscreen"
                width="720"
                height="405"
                allowfullscreen
                class="Video"
              ></iframe>
              <!-- <video class="Video" tabindex="-1" src="https://player.vimeo.com/362469171/52f83016c9" poster="//placehold.it/720x405"></video> -->
              <!-- <button class="Video__play"><img class="Video__play-icon" src="/static/svg/play.svg" alt="Play" width="78" height="78"/></button> -->
            </div>
            <div class="BookNowBlock">
              <div class="BookNowBlock__title">The Next Health Way</div>
              <div
                class="BookNowBlock__description"
              >Harmful signals, such as inflammation, trigger the expression of most chronic diseases years in advance. Today, too many people are aging prematurely. This leads to common diseases that used to be related mostly or exclusively to people of advanced age. Using DNA analysis, we seek out, halt, and then reverse harmful processes. People of all ages can enjoy the benefits of Dr. Habib’s integrated and holistic approach and complementary treatment methods. Dr. Habib uses the best tools at his disposal to provide precision diagnosis, primarily drug-free treatment, and outcomes that far exceed conventional medicine.</div>
              <a class="BookNow" href="#" title="Book Now">Book Now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="Blot">
        <div class="BG"></div>
        <div class="OurStrategy">
          <h2 class="OurStrategy__title">Our Strategy</h2>
          <div class="OurStrategy__road-bar"></div>
          <div class="container OurStrategySlider__wrapper">
            <div class="OurStrategySlider js-OurStrategySlider">
              <swiper :options="swiperOptionOutStrategy" class="sw2">
                <swiper-slide>
                  <div class="OurStrategySlide">
                    <div class="OurStrategySlide__number">01</div>
                    <div class="OurStrategySlide__title">Get to know you.</div>
                    <div
                      class="OurStrategySlide__description"
                    >We start by getting to know you and understanding your personal and family medical histories and your health concerns and goals. We take time with our patients-an hour per visit, on average-because we know that only with a thorough assessment can we build an effective treatment plan.</div>
                  </div>
                </swiper-slide>
                <swiper-slide>
                  <div class="OurStrategySlide">
                    <div class="OurStrategySlide__number">02</div>
                    <div class="OurStrategySlide__title">Use advanced technology and labs.</div>
                    <div
                      class="OurStrategySlide__description"
                    >We take an integrated medical approach, using conventional (allopathic) technologies and lab tests when needed. These tools can help reveal issues like inflammation and improper organ function, which can help Dr. Habib devise a tailored plan for your needs.</div>
                  </div>
                </swiper-slide>
                <swiper-slide>
                  <div class="OurStrategySlide">
                    <div class="OurStrategySlide__number">03</div>
                    <div class="OurStrategySlide__title">Build a detailed health plan.</div>
                    <div
                      class="OurStrategySlide__description"
                    >Next, we take all the information we gather during your consultation and from your lab results to develop a comprehensive treatment plan and/or prevention strategy, based on your specific needs.</div>
                  </div>
                </swiper-slide>
                <swiper-slide>
                  <div class="OurStrategySlide">
                    <div class="OurStrategySlide__number">04</div>
                    <div class="OurStrategySlide__title">Get to know you.</div>
                    <div
                      class="OurStrategySlide__description"
                    >We start by getting to know you and understanding your personal and family medical histories and your health concerns and goals. We take time with our patients-an hour per visit, on average-because we know that only with a thorough assessment can we build an effective treatment plan.</div>
                  </div>
                </swiper-slide>
                <swiper-slide>
                  <div class="OurStrategySlide">
                    <div class="OurStrategySlide__number">05</div>
                    <div class="OurStrategySlide__title">Use advanced technology and labs.</div>
                    <div
                      class="OurStrategySlide__description"
                    >We take an integrated medical approach, using conventional (allopathic) technologies and lab tests when needed. These tools can help reveal issues like inflammation and improper organ function, which can help Dr. Habib devise a tailored plan for your needs.</div>
                  </div>
                </swiper-slide>
                <swiper-slide>
                  <div class="OurStrategySlide">
                    <div class="OurStrategySlide__number">06</div>
                    <div class="OurStrategySlide__title">Build a detailed health plan.</div>
                    <div
                      class="OurStrategySlide__description"
                    >Next, we take all the information we gather during your consultation and from your lab results to develop a comprehensive treatment plan and/or prevention strategy, based on your specific needs.</div>
                  </div>
                </swiper-slide>
                <!--</div>-->
                <!--</div>-->
              </swiper>
              <div class="Arrows Tabs__arrows">
                <button @click="prevSlide('.sw2')" class="Arrow Arrow--left js-Tabs__arrow--left">
                  <img src="/static/svg/arrow--left.svg" alt="Left" width="8" height="14" />
                </button>
                <button @click="nextSlide('.sw2')" class="Arrow Arrow--left js-Tabs__arrow--right">
                  <img src="/static/svg/arrow--right.svg" alt="Right" width="8" height="14" />
                </button>
              </div>
              <!-- <div class="Arrows OurStrategy__arrows">
                <div class="Arrow Arrow--left swiper-button-next">
                  <img src="/static/svg/arrow--left.svg" alt="Left" width="8" height="14" />
                </div>
                <div class="Arrow Arrow--left swiper-button-prev">
                  <img src="/static/svg/arrow--right.svg" alt="Right" width="8" height="14" />
                </div>
              </div> -->
            </div>
          </div>
        </div>
        <div class="TypesOfMedicineWePractice">
          <div class="container">
            <h2 class="TypesOfMedicineWePractice__title">Types of Medicine We Practice</h2>
          </div>
          <div class="container">
            <div class="TypesOfMedicineWePracticeSlider js-TypesOfMedicineWePracticeSlider">
              <swiper :options="swiperOptionTypesOfMedicineWePractice" class="sw3">
                <swiper-slide>
                  <div class="TypesOfMedicineWePracticeSlide">
                    <img
                      class="TypesOfMedicineWePracticeSlide__img"
                      src="/static/svg/peel_icon.svg"
                      alt="Naturopathic Medicine"
                      width="228"
                      height="228"
                    />
                    <div class="TypesOfMedicineWePracticeSlide__title">Naturopathic Medicine</div>
                    <div
                      class="TypesOfMedicineWePracticeSlide__description"
                    >This medical approach uses traditional therapies that emphasize the body’s natural ability to heal. A combination of dietary and lifestyle changes, herbs and supplements, practitioner-guided detoxification, stress reduction techniques, manipulative therapies (chiropractic and osteopathy), and exercise therapy is used to promote health and treat illness.</div>
                  </div>
                </swiper-slide>
                <swiper-slide>
                  <div class="TypesOfMedicineWePracticeSlide">
                    <img
                      class="TypesOfMedicineWePracticeSlide__img"
                      src="/static/svg/pulse_icon.svg"
                      alt="Integrative Medicine"
                      width="228"
                      height="228"
                    />
                    <div class="TypesOfMedicineWePracticeSlide__title">Integrative Medicine</div>
                    <div
                      class="TypesOfMedicineWePracticeSlide__description"
                    >A patient-centered approach to care, integrative medicine addresses the whole person. This includes a person’s physical, mental, emotional, social, and spiritual needs as well as the environmental influences that impact health. Integrative medicine uses interventions from different scientific disciplines to heal illness and prevent disease, including conventional medicine and treatments.</div>
                  </div>
                </swiper-slide>
                <swiper-slide>
                  <div class="TypesOfMedicineWePracticeSlide">
                    <img
                      class="TypesOfMedicineWePracticeSlide__img"
                      src="/static/svg/peel_icon.svg"
                      alt="Naturopathic Medicine"
                      width="228"
                      height="228"
                    />
                    <div class="TypesOfMedicineWePracticeSlide__title">Naturopathic Medicine</div>
                    <div
                      class="TypesOfMedicineWePracticeSlide__description"
                    >This medical approach uses traditional therapies that emphasize the body’s natural ability to heal. A combination of dietary and lifestyle changes, herbs and supplements, practitioner-guided detoxification, stress reduction techniques, manipulative therapies (chiropractic and osteopathy), and exercise therapy is used to promote health and treat illness.</div>
                  </div>
                </swiper-slide>
                <swiper-slide>
                  <div class="TypesOfMedicineWePracticeSlide">
                    <img
                      class="TypesOfMedicineWePracticeSlide__img"
                      src="/static/svg/pulse_icon.svg"
                      alt="Integrative Medicine"
                      width="228"
                      height="228"
                    />
                    <div class="TypesOfMedicineWePracticeSlide__title">Integrative Medicine</div>
                    <div
                      class="TypesOfMedicineWePracticeSlide__description"
                    >A patient-centered approach to care, integrative medicine addresses the whole person. This includes a person’s physical, mental, emotional, social, and spiritual needs as well as the environmental influences that impact health. Integrative medicine uses interventions from different scientific disciplines to heal illness and prevent disease, including conventional medicine and treatments.</div>
                  </div>
                </swiper-slide>
                <!-- <div class="Arrows TypesOfMedicineWePractice__arrows">
                                    <div class="Arrow Arrow--left swiper-button-next">
                                        <img src="/static/svg/arrow&#45;&#45;left.svg" alt="Left" width="8" height="14"/>
                                    </div>
                                    <div class="Arrow Arrow--left swiper-button-prev">
                                        <img src="/static/svg/arrow&#45;&#45;right.svg" alt="Right" width="8" height="14"/>
                                    </div>
                                    <button class="Arrow Arrow&#45;&#45;left js-TypesOfMedicineWePractice__arrow&#45;&#45;left"><img src="/static/svg/arrow&#45;&#45;left.svg" alt="Left" width="8" height="14"/></button>
                                    <button class="Arrow Arrow&#45;&#45;left js-TypesOfMedicineWePractice__arrow&#45;&#45;right"><img src="/static/svg/arrow&#45;&#45;right.svg" alt="Right" width="8" height="14"/></button>
                </div>-->
              </swiper>
              <div class="Arrows Tabs__arrows">
                <button @click="prevSlide('.sw3')" class="Arrow Arrow--left js-Tabs__arrow--left">
                  <img src="/static/svg/arrow--left.svg" alt="Left" width="8" height="14" />
                </button>
                <button @click="nextSlide('.sw3')" class="Arrow Arrow--left js-Tabs__arrow--right">
                  <img src="/static/svg/arrow--right.svg" alt="Right" width="8" height="14" />
                </button>
              </div>
            </div>>
            <a class="BookNow" href="#" title="Book Now">Book Now</a>
          </div>
        </div>
        <div class="Testimonials">
          <h2 class="Testimonials__title">Testimonials</h2>
          <div class="container">
              <div class="Testimonials__inner js-Testimonials__slider">
                <swiper :options="swiperOptionTestimonials" class="sw4">
                    <swiper-slide>
                        <div class="Testimonial__slide">
                            <div class="Testimonial">
                            <img
                                class="Testimonial__avatar"
                                src="/static/img/landing/photo-1.jpg"
                                alt="Lorem I."
                                width="120"
                                height="120"
                            />
                            <div
                                class="Testimonial__description"
                            >Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur.</div>
                            <div class="Testimonial__signature">Lorem I.</div>
                            </div>
                        </div>
                    </swiper-slide>
                    <swiper-slide>
                        <div class="Testimonial__slide">
                            <div class="Testimonial">
                            <img
                                class="Testimonial__avatar"
                                src="/static/img/landing/photo-2.jpg"
                                alt="Lorem I."
                                width="120"
                                height="120"
                            />
                            <div
                                class="Testimonial__description"
                            >Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur.</div>
                            <div class="Testimonial__signature">Lorem I.</div>
                            </div>
                        </div>
                    </swiper-slide>
                    <swiper-slide>
                        <div class="Testimonial__slide">
                            <div class="Testimonial">
                            <img
                                class="Testimonial__avatar"
                                src="/static/img/landing/photo-3.jpg"
                                alt="Lorem I."
                                width="120"
                                height="120"
                            />
                            <div
                                class="Testimonial__description"
                            >Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur.</div>
                            <div class="Testimonial__signature">Lorem I.</div>
                            </div>
                        </div>
                    </swiper-slide>
                </swiper>
            </div>
          </div>
        </div>
      </div>
    </div>
    <transition name="fade">
      <ContactUs v-if="isPopUpOpen" @closed="closePopUp"></ContactUs>
    </transition>
    <AppFooter />
  </div>
</template>

<script>
import MainHeader from "../general/MainHeader";
import AppFooter from "../general/Footer";
import ContactUs from "../modals/ContactUs";
export default {
  name: "LandingPage",
  components: { AppFooter, MainHeader, ContactUs },
  data() {
    return {
      swiperOptionOutStrategy: {
        slidesPerView: 3,
        spaceBetween: 30,
        slidesPerGroup: 1,
        loop: true,
        loopFillGroupWithBlank: true,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev"
        },
        opts: {
          start: 0,
          dir: "v",
          loop: false,
          duration: 500
        },
        breakpoints: {
            // when window width is >= 320px
            560: {
                slidesPerView: 1,
                spaceBetween: 20
            },
            768: {
                slidesPerView: 2,
                spaceBetween: 30
            },
            /* // when window width is >= 640px
            768: {
                slidesPerView: 3,
                spaceBetween: 40
            } */
        }
      },
      swiperOptionTypesOfMedicineWePractice: {
        slidesPerView: 2,
        spaceBetween: 30,
        slidesPerGroup: 2,
        loop: true,
        loopFillGroupWithBlank: true,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev"
        },
        opts: {
          start: 0,
          dir: "v",
          loop: false,
          duration: 500
        },
        breakpoints: {
            // when window width is >= 320px
            560: {
                slidesPerView: 1,
                spaceBetween: 15
            }
        }
      },
      swiperOption2: {
        slidesPerView: 1,
        spaceBetween: 30,
        slidesPerGroup: 1,
        initialSlide: 0,
        loop: true,
        loopFillGroupWithBlank: true,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev"
        },
        opts: {
          start: 0,
          dir: "v",
          loop: false,
          duration: 500
        }
      },
      swiperOptionTestimonials: {
        slidesPerView: 3,
        spaceBetween: 30,
        slidesPerGroup: 1,
        initialSlide: 0,
        loop: true,
        loopFillGroupWithBlank: true,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev"
        },
        opts: {
          start: 0,
          dir: "v",
          loop: false,
          duration: 500
        },
        breakpoints: {
            // when window width is >= 320px
            560: {
                slidesPerView: 1,
                spaceBetween: 15
            },
            768: {
                slidesPerView: 2,
                spaceBetween: 15
            },
            /* 768: {
                slidesPerView: 3,
                spaceBetween: 40
            } */
        }
      },
      sel_sw1: {
        value: 1,
        min: 1,
        max: 3,
        loop: false
      },
      sel_sw2: {
        value: 3,
        min: 2,
        max: 7,
        loop: true
      },
      sel_sw3: {
        value: 1,
        min: 1,
        max: 2,
        loop: true
      },
      isPopUpOpen: false
    };
  },
  methods: {
    openPopUp() {
      this.isPopUpOpen = true;
    },
    closePopUp() {
      this.isPopUpOpen = false;
    },
    selectTab(index, el) {
      const selEl = 'sel_'+el.substr(1)
      this[selEl].value = index;
      this.switchSlide(index, el);
    },
    prevSlide(el) {
      const selEl = 'sel_'+el.substr(1)

      if(selEl !== 'sel_sw1') {
        var mySwiper = document.querySelector(el).swiper;
        mySwiper.slidePrev();
        return
      }

      if (this[selEl].value != this[selEl].min)
        this.switchSlide(--this[selEl].value, el)
    },
    nextSlide(el) {
      const selEl = 'sel_'+el.substr(1)

      if(selEl !== 'sel_sw1') {
        var mySwiper = document.querySelector(el).swiper;
        mySwiper.slideNext();
        return
      }

      if (this[selEl].value != this[selEl].max)
        this.switchSlide(++this[selEl].value, el)
    },
    switchSlide(index, el) {
      var mySwiper = document.querySelector(el).swiper;
      mySwiper.slideTo(index);
    }
  },
  metaInfo: {
    title:
      "Dr. Habib’s Preventative Care & Advanced Executive Physical Exams | NextHealth.org",
    meta: [
      { vmid: "name", name: "robots", content: "index, nofollow" },
      {
        vmid: "description",
        name: "description",
        content:
          "Preventative care has never been more important; take an extensive 6-week executive physical examination. Detect early health issues, cancer, and chornic health problems. Dr. Habib, along with advanced medical techology can help you have control of your health."
      }
    ]
  }
};
</script>


<style lang="scss">
#landing {
  .Tab {
    background-color: transparent;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    @media (max-width: 991px) {
      margin-bottom: 20px;
      padding-bottom: 2.4rem;
    }
  }
  .Tab__text {
    @media (max-width: 1600px) {
      font-size: 2.5rem;
    }
    @media (max-width: 1200px) {
      font-size: 2rem;
    }
  }
  .Tabs {
    @media (max-width: 991px) {
      flex-direction: column;
      align-items: center;
    }
  }
  .Arrows {
    position: relative;
    img {
      margin-top: 3px;
      // margin-left: 3px;
    }
  }
  .Arrow {
    border: none;
  }
}
.Tab:after {
  content: "";
  display: block;
  width: 150px;
  position: absolute;
  bottom: 6px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border: 3.5px solid #50bbb7;
  border-radius: 3.5px;
  opacity: 0;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.Tab.tns-nav-active:after {
  opacity: 1;
}
#landing .OurStrategy .Arrows {
    margin-top: 30px;
}
@media(max-width:1200px) {
    #landing .OurStrategy .OurStrategySlide__title{
        padding: 0 20px;
    }
}
@media(max-width:991px) {
    #landing .Blot .BG{
        width: 100%;
    }
    #landing .TypesOfMedicineWePracticeSlider [class].TypesOfMedicineWePracticeSlide__description{
        padding: 0 10px;
    }
    #landing .Testimonial{
        padding: 45px 30px 34px;
    }
    #landing .Testimonial__slide{
        padding: 0 10px;
    }
    #landing .Testimonials__inner{
        margin: 70px 0 0;
    }
    #landing .TypesOfMedicineWePractice .BookNow,
    #landing .TypesOfMedicineWePracticeSlider,
    #landing .OurStrategy .OurStrategySlider__wrapper{
        margin-top: 40px;
    }
    #landing .OurStrategy__road-bar{
        top: 122px;
    }
    #landing .Blot {
        margin-top: 100px;
    }
    #landing .OurStrategy .OurStrategySlide {
        padding: 90px 0px 60px;
    }
}
@media(max-width: 768px) {
    #landing .Testimonial__slide{
        padding: 0;
    }
    #landing .TypesOfMedicineWePractice__title,
    #landing .OurStrategy__title,
    #landing .TheNextHealthWay .BookNowBlock__title,
    #landing .BookNowBlock__title,
    #landing .ScheduleAnAppointmentToday__title {
        font-size: 3.5rem;
    }
    #landing .TypesOfMedicineWePracticeSlide img{
        width: 150px;
    }
}
@media(max-width:560px) {
    #landing .OurStrategy__road-bar{
        top: 110px;
    }
    #landing .OurStrategy .OurStrategySlide{
        width: 240px;
        margin: auto;
        padding-bottom: 10px;
    }
    #landing .TypesOfMedicineWePractice__title,
    #landing .OurStrategy__title,
    #landing .TheNextHealthWay .BookNowBlock__title,
    #landing .BookNowBlock__title,
    #landing .ScheduleAnAppointmentToday__title {
        font-size: 3rem;
    }
    #landing .BookNowBlock__description,
    #landing .OurStrategy .OurStrategySlide__description,
    #landing .TypesOfMedicineWePracticeSlider [class].TypesOfMedicineWePracticeSlide__description,
    #landing .Testimonial__description {
        font-size: 1.5rem;
    }
    #landing .Tabs__arrows {
        margin-top: 10px;
    }
    #landing .Tabs {
        margin-top: 60px;
    }
    #landing .Header:before {
        padding-top: 70.25%;
    }
    #landing .Header__title {
        font-size: 2.6rem;
    }
    #landing .Header .BookNow {
        margin-top: 3rem;
        line-height: 2.3;
        font-size: 1.6rem;
        width: 22rem;
    }
    #landing .BookNow:before {
        width: 18rem
    }
    #landing .Header__overview {
        top: 60%;
    }
    #landing .Header__video {
        border-radius: 0;
    }
    #landing .Tabs__slide-inner {
        padding: 30px 0 60px;
    }
    #landing .ScheduleAnAppointmentToday {
        margin-top: 60px;
    }
    #landing .Testimonials {
        margin-top: 140px;
    }
}
</style>
