<template>
  <div class="admin-login login-page">
    <div class="block-login">
      <div class="top-block">
        <a class="logo" href="/">
          <img src="/static/img/admin/logo.svg"/>
        </a>
      </div>

      <section class="form-login">
        <h2>Login to admin account</h2>
        <sign-in></sign-in>
      </section>

      <p class="copy-right">2019 © NextHealth</p>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';
  import {apiURL} from '@/../config';
  import AlertError from "../../general/alert_error";
  import SignIn from "../../general/signInForm.vue";

  export default {
    components: {
      SignIn,
      AlertError},
    name: 'Admin-Login',
  }
</script>
