<template>
  <div class="admin-login login-page">
    <div class="block-login">
      <div class="top-block">
        <a class="logo" href="/">
          <img src="/static/img/admin/logo.svg"/>
        </a>
      </div>

      <section class="form-login">
        <div class="main-block">
          <h2>Password recovery</h2>
          <reset-password></reset-password>
        </div>
      </section>

      <p class="copy-right">2019 © NextHealth</p>
    </div>
  </div>
</template>

<script>
  import ResetPassword from "../../general/resetPasswordForm.vue";

  export default {
    components: {ResetPassword},
    name: 'AdminResetPassword',
    data() {
      return {}
    },
  }
</script>
