<template>
  <div class="popup-overlay">
    <div class="popup">
      <div class="popup-header">
        <h3 class="popup-header--title">Choose categories</h3>
        <span class="close"><x-icon class="font-fix" @click="close"></x-icon></span>
      </div>

      <div class="popup-body">
        <div class="input-group choose-category">
          <select v-model="selectCategory" @change="isChange=true">
            <option disabled selected hidden value="0">Select</option>
            <option v-for="category in categoryList" :value="category.id">{{ category.name }}</option>
          </select>
        </div>
      </div>

      <div class="popup-bottom">
        <button type="button" class="btn btn-button btn-round" @click="close">Cancel</button>
        <button type="button"
                @click="onSaveData"
                class="btn btn-button btn-round btn-button--green"
                :class="{'disabled': !isChange}">Save</button>
      </div>
    </div>
  </div>
</template>

<script>
  import {EditIcon, XIcon, Trash2Icon} from 'vue-feather-icons';

  import axios from 'axios';
  import {apiURL} from '@/../config';

  export default {
    name: 'choose-categories-modal',
    components: {
      XIcon, EditIcon, Trash2Icon,
    },
    props: ['onSave'],
    data() {
      return {
        isChange: false,
        selectCategory: 0,
        categoryList: []
      }
    },
    computed: {
    },
    methods: {
      close: function(){
        this.$emit('close');
      },
      onSaveData:function(){
        this.onSave(this.selectCategory);
      },
      getCategoryList: function () {
        axios({
          method: 'get',
          url: apiURL + '/api/admin/category-select',
          headers: {
            Authorization: 'Bearer ' + this.$cookie.get('user_token'),
          },
        })
          .then(response => {
            let result = response.data;
            this.categoryList = [];
            result.forEach(item => {
              if (item.id != this.categoryId) {
                this.categoryList.push({id: item.id, name: item.name})
              }
            })
          })
          .catch(error => {
            document.location.replace('/admin/login');
          });
      },
    },
    mounted(){
      this.getCategoryList();
    }

  }
</script>

<style lang="scss">
  .choose-category{
      select{
        width: 100%;
        padding-right: 10px !important;
        background-position: right 10px center !important;
    }
  }
</style>

