<template>
  <div class="popup-overlay">
    <div class="popup category-modal">
        <div class="popup-header">
          <h3 class="popup-header--title">{{ modalTitle }}</h3>
          <span class="close"><x-icon class="font-fix" @click="onClose"></x-icon></span>
        </div>

        <div class="popup-body">

          <div class="input-group form-control">
            <p class="text-form">Category name</p>
            <input class="input-form" type="text"
                   v-model.trim="category.name"
                   :class="{'error-input': category.nameError}"
                   placeholder="Category name"
                   @keyup="onChange"/>
            <p v-if="category.nameError" class="error-text">This field is required.</p>
          </div>

          <div class="input-group form-control" v-if="showUploadBanner && (isInitial || isSaving)">
            <p class="text-form">Category banner</p>
            <form enctype="multipart/form-data" class="drop-form" novalidate>

              <div class="dropbox">
                <input type="file" :name="uploadFieldName" :disabled="isSaving"
                       @change="filesChange($event.target.files); fileCount = $event.target.files.length"
                       accept="image/*" class="input-file">
                <div class="drop-text" v-if="isInitial">
                  <img src="/static/img/admin/icons/upload.svg" alt="">
                  <p class="drop-title-one">Drag files here or click to upload</p>
                  <p class="drop-title-two">1400 x 120 px, jpg, jpeg, gif, png</p>
                </div>
                <div class="drop-text" v-if="isSaving">
                  <p class="drop-title-one">
                    Uploading Image...
                  </p>
                </div>
              </div>
            </form>
          </div>


          <!--SUCCESS-->
          <div class="input-group form-control" v-if="showUploadBanner && isSuccess">
            <p class="text-form">Category banner preview</p>
            <div class="category-image"  v-for="item in uploadedFiles">
              <img :src="item.url" class="img-responsive img-thumbnail" alt="category image">
              <div class="category-image--options">
                <span>{{ item.fileName }}</span>

                <div>
                  <a class="btn btn-action m-r-10"@click="reset()">
                    <edit-icon class="font-fix"></edit-icon>
                  </a>

                  <a class="btn btn-action" @click="reset()">
                    <trash-2-icon class="font-fix"></trash-2-icon>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <!--FAILED-->
          <div v-if="isFailed">
            <h2>Uploaded failed.</h2>
            <p>
              <a href="javascript:void(0)" @click="reset()">Try again</a>
            </p>
            <pre>{{ uploadError }}</pre>
          </div>


        </div>
        <div class="popup-bottom">
          <a class="btn btn-button btn-round" @click="onClose">Cancel</a>
          <a class="btn btn-button btn-round btn-button--green"
             :disabled="!isChangeCategory"
             @click="saveCategory">Save</a>
        </div>
    </div>
  </div>
</template>

<script>
  import {EditIcon, XIcon, Trash2Icon} from 'vue-feather-icons';

  import axios from 'axios';
  import {apiURL} from '@/../config';

  const STATUS_INITIAL = 0, STATUS_SAVING = 1, STATUS_SUCCESS = 2, STATUS_FAILED = 3;

  export default {
    name: 'category-modal',
    components: {
      XIcon, EditIcon, Trash2Icon
    },
    props: ['modalConfig'],
    data() {
      return {
        uploadedFiles: [],
        uploadError: null,
        currentStatus: null,
        uploadFieldName: 'photos',
        isChangeCategory: false,
        modalTitle: 'New category',
        mediaId: null,
        showUploadBanner: false,
        category: {
          id: null,
          name: '',
          nameError: false,
        }
      }
    },
    watch:{
      modalConfig: function (categoryId) {
        if (categoryId) {
          this.modalTitle = 'Edit category';
          this.getCategory(categoryId);
        }
      },
      category: {
        handler(newVal) {
          let re = /[^A-Z0-9]/gi;
          this.$set(this.category, 'name', newVal.name.replace(re, ' '));
        },
        deep: true
      }
    },
    computed: {
      isInitial() {
        return this.currentStatus === STATUS_INITIAL;
      },
      isSaving() {
        return this.currentStatus === STATUS_SAVING;
      },
      isSuccess() {
        return this.currentStatus === STATUS_SUCCESS;
      },
      isFailed() {
        return this.currentStatus === STATUS_FAILED;
      }
    },
    methods: {
      onChange(data){
        if (this.category.name != ''){
          this.isChangeCategory = true;
        }
      },
      onClose: function(){
        this.reset();
        this.mediaId = null;
        this.category.id = null;
        this.category.name = '';
        this.isChangeCategory = false;
        this.modalTitle = 'New category';
        this.$emit('close');
      },
      reset() {
        this.currentStatus = STATUS_INITIAL;
        this.uploadedFiles = [];
        this.uploadError = null;
      },

      filesChange(fileList) {
        if (fileList && fileList[0]) {
          this.currentStatus = STATUS_SAVING;
          this.postMedia(fileList[0]);
//          this.currentStatus = STATUS_SUCCESS;
//          this.uploadedFiles = [{url: URL.createObjectURL(fileList[0]), fileName: fileList[0].name}];
        }
      },
      saveCategory: function(){
        if (this.isChangeCategory){
          if (this.category.id) {
            this.updateCategory();
          } else {
            this.createCategory();
          }
        }
      },
      postMedia: function(file) {
        axios.post(apiURL + '/api/admin/media',
          file,
          {
            headers: {
              'Authorization': 'Bearer ' + this.$cookie.get('user_token'),
            }
          })
          .then(response => {
            this.currentStatus = STATUS_SUCCESS;
            this.uploadedFiles.push({url: URL.createObjectURL(file), fileName: file.name});
            if (this.category.name != ''){
              this.isChangeCategory = true;
            }
            this.mediaId = response.data.id
          }).catch(err => {
            this.uploadError = err.data;
            this.currentStatus = STATUS_FAILED;
          });
      },
      getCategory: function (id) {
        axios({
          method: 'get',
          url: apiURL + '/api/admin/category/' + id,
          headers: {
            Authorization: 'Bearer ' + this.$cookie.get('user_token'),
          },
        })
          .then(response => {
            let result = response.data;
            if (!result) {
              this.reset();
              this.modalTitle = 'New category';
              this.$emit('close');
              return false;
            }
            this.category.id = result.id;
            this.category.name = result.name;
            if (result.media) {
              this.currentStatus = STATUS_SUCCESS;
              this.uploadedFiles.push({url: apiURL + result.media.filename, fileName: result.media.filename});
              this.mediaId = result.media.id;
            }
          })
          .catch(error => {
            document.location.replace('/admin/login');
          });
      },
      createCategory: function(){
        axios({
          method: 'post',
          url: apiURL + '/api/admin/category',
          headers: {
            Authorization: 'Bearer ' + this.$cookie.get('user_token'),
          },
          data: {name: this.category.name, media_id: this.mediaId}
        })
          .then(response => {
            location.reload();
          })
          .catch(error => {
            document.location.replace('/admin/login');
          });
      },
      updateCategory: function(){
        axios({
          method: 'put',
          url: apiURL + '/api/admin/category/' + this.category.id,
          headers: {
            Authorization: 'Bearer ' + this.$cookie.get('user_token'),
          },
          data: {name: this.category.name, media_id: this.mediaId}
        })
          .then(response => {
            location.reload();
          })
          .catch(error => {
            document.location.replace('/admin/login');
          });
      },
    },
    mounted() {
      this.reset();
    },
  }
</script>

<style lang="scss">
  .category-modal{
    width: 600px;

    .category-image {
      margin-top: 5px;
      img {
        max-width: 560px;
        max-height: 120px;
        width: 100%;
      }

      .category-image--options{
        display: flex;
        justify-content : space-between
      }
    }
  }
</style>
