<template>
    <div class="modal is-active" style="z-index: 105">

        <div class="modal-content fullpage-container"style="width: 100%;" >

            <div class="fullpage-wp flexScroll" v-fullpage="opts">
                <section class="page package-section executive-physical__physical silver"><img class="img-mobile" src="/static/img/executive-physical/silver/img_bg_1_mobile.jpg"/><img class="img-tablet" src="/static/img/executive-physical/silver/img_bg_1_tablet.jpg"/>

                    <h2 v-animate="{value: 'slideInLeft'}" class="section__info title-section executive-physical__title">Silver Physical</h2>
                    <h4 v-animate="{value: 'slideInLeft', delay:500 }" class="section__info executive-physical__subtitle">Basic Package</h4>

                </section>
                <section class="page package-section executive-physical__collection silver"><img class="img-mobile" src="/static/img/executive-physical/silver/img_bg_2_mobile.jpg"/><img class="img-tablet" src="/static/img/executive-physical/silver/img_bg_2_tablet.jpg"/>

                    <h2 v-animate="{value: 'slideInLeft'}" class="section__info title-section executive-physical__title">Data Collection</h2>

                    <h4 v-animate="{value: 'slideInLeft', delay:500}" class="section__info executive-physical__subtitle">History Research & Total Body Physical</h4>

                    <span v-animate="{value: 'fadeIn', delay:1500}" class="section__info executive-physical__col-info">
                                <p>Following tests are performed:</p>
                                    <span class="destop">
                                    <span class="executive-physical__col-info-wrapper">
                                        <p>Resting Metabolic Rate</p>
                                        <p >Caner Markers: CA 19 & CEA Enzyme</p>
                                    </span>
                                    <span  class="executive-physical__col-info-wrapper">
                                        <p>Body Mass Index</p>
                                        <p>Vitamin D Level</p>
                                    </span>
                                    <span  class="executive-physical__col-info-wrapper">
                                        <p>Advanced Cardiac Evaluation and Analysis</p>
                                        <p>Toxic Load</p>
                                    </span>
                                    <span  class="executive-physical__col-info-wrapper">
                                        <p>Comprehensive Metabolic Panel</p>
                                        <p>Inflammation Markers</p>
                                    </span>
                                    <span  class="executive-physical__col-info-wrapper">
                                        <p>Complete blood count with differential</p>
                                    </span>

                                    </span>
                            </span>

                </section>
            </div>
        </div>

        <header class="header">
            <div class="header__block header__block--left"><a class="header__logo" href="/"><img src="/static/img/header/logo.svg"/><img class="dark-logo" src="/static/img/header/logo-black.svg"/></a></div>

            <button v-on:click="isSilverClose" class="modal-close is-large" aria-label="close"></button>
        </header>
    </div>
</template>

<script>
    export default {
        name: "silver",
        data() {
            return {
                opts: {
                    start: 0,
                    dir: 'v',
                    loop: false,
                    duration: 500,
                }
            }
        },
        methods: {

            isSilverClose: function () {
                this.$emit('closed', {})
                fullpage_api.setAllowScrolling(true);

            },

        }
    }
</script>

