<template>
    <div class="modal is-active" style="z-index: 105">

        <div class="modal-content fullpage-container"style="width: 100%; height: 100%" >

            <div class="fullpage-wp flexScroll" v-fullpage="opts">
                <section class="intravenous-vitamin-therapy"><img class="img-mobile" src="/static/img/ppat/mobile/program_4-mobile.jpg"/><img class="img-tablet" src="/static/img/ppat/tablet/scroll_2/img_banner_1.jpg"/>
                    <div class="section__info section__info__mobile">
                        <h2 class="title-section">Intravenous Vitamin Therapy</h2>
                        <p class="text-section">In a healthy lifestyle, good nutrition and supplementation are not enough. IV vitamins are an incredible option to support the intricate workings of the body. Wouldn’t it be great to have options to deal with chronic, difficult, and debilitating conditions? It’s not uncommon for people to suffer with chronic mono, chronic fatigue, recurrent infections, recurrent inflammation symptoms, chronic tendinitis, slow recovery from injuries, etc.</p>
                        <p class="text-section">
                            Based on a sophisticated blood test your intracellular nutrient level can be measured — revealing deficiencies or suboptimal levels. Based on your individualized analysis,Next Health can work out a wholesome food guide, nutraceutical grade vitamin supplementation, and targeted intravenous vitamin therapy.</p>
                    </div>
                </section>
            </div>
        </div>

        <header class="header header-modal">
            <div class="header__block header__block--left"><a class="header__logo" href="/"><img src="/static/img/header/logo.svg"/><img class="dark-logo" src="/static/img/header/logo-black.svg"/></a></div>

            <button v-on:click="isVitaminClose" class="modal-close is-large" aria-label="close"></button>
        </header>
    </div>
</template>

<script>
    export default {
        name: "Vitamin",
        data() {
            return {
                opts: {
                    start: 0,
                    dir: 'v',
                    loop: false,
                    duration: 500,
                }
            }
        },
        methods: {

            isVitaminClose: function () {
                this.$emit('closed', {})
                fullpage_api.setAllowScrolling(true);

            },

        }
    }
</script>


