<template>
    <div>
        <MainHeader @openpopup="openPopUp"/>

        <div class="fullpage-container" style="width: 100%; height: 100%" >
            <section class="section home__ss conditions-treats">
                <div class="home__service home__container">
                    <div class="sections">
                        <div class="section-block service__one">
                            <h4>{{serviceInfo.name}}</h4>
                            <div class="service__video">
                                    <iframe :src="serviceInfo.media"
                                            frameborder="0"
                                            allow="autoplay; fullscreen"
                                            allowfullscreen>
                                    </iframe>
                            </div>
                            <div class="block-with-text">
                                <p v-html="serviceInfo.description"></p>
                            </div>
                            <div class="service__button">
                                <form v-if="!isSubscription" class="home__block">
                                    <div class="padding-20">
                                        <input type="text" placeholder="Your Email"
                                               v-model="userEmail"
                                               v-bind:class="{'error': !isValid}"
                                               @keyup="emailValid()"
                                        />
                                        <span v-if="!isValid" class="error-text">Incorrect email address</span>
                                    </div>
                                    <div class="padding-20 home__sub">
                                        <button type="button" @click="subscription()">Book Now</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <Testimonials />
            <AppFooter />

        </div>
        <div class="js-md"></div>
        <div class="js-xs"></div>
        <div class="js-lg"></div>
        <div class="js-sm"></div>
        <div class="js-xl"></div>
    </div>

</template>
<script>
    import Testimonials from '../vitamins-page/Testimonials';
    import MainHeader from "../general/MainHeader";
    import AppFooter from "../general/Footer";

    import axios from 'axios';
    import {apiURL} from '@/../config';

    export default {
        name: 'service',
        data() {
            return {
                apiURL: apiURL,
                isSubscription: false,
                serviceInfo: {
                    id: '',
                    name: '',
                    slug: '',
                    description: '',
                    media: ''
                },
                opts: {
                    start: 0,
                    dir: 'v',
                    loop: false,
                    duration: 500,
                }
            }
        },
        methods: {
            getService: function(){
                axios({
                    method: 'get',
                    url: apiURL + '/api/public/service/' + this.$route.params.slug,
                })
                    .then(response => {
                        let service = response.data;
                        this.serviceInfo.id = service.id;
                        this.serviceInfo.name = service.name;
                        this.serviceInfo.description = service.description;
                        this.serviceInfo.slug = service.slug;
                        this.serviceInfo.media = service.media;

                    }).catch(err => {
                    document.location.replace('/services');
                })
            },
            emailValid() {
                this.isValid = this.isEmailValid();
                this.isValid = (this.userEmail.length == 0) ? true : this.isValid
            },
            subscription() {

                this.isValid = this.isEmailValid();

                if (this.isValid) {
                    axios.post(apiURL + '/api/public/subscription', {
                        email: this.userEmail,
                    })
                        .then(response => {
                            this.isSubscription = true;
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                }

            },
            isEmailValid: function () {
                return /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(this.userEmail);
            }
        },
        components: {
            Testimonials,
            MainHeader,
            AppFooter
        },
        created(){
            this.getService();
        },
    }
</script>
