<template>
  <div class="shop-page shop-cart">
    <shop-header :hideAllBlock="this.$root.openShopMenu"></shop-header>
    <shop-menu :hideAllBlock="this.$root.openShopMenu"></shop-menu>
    <div class="wrapper">
      <div class="shop-main-section" v-if="!isCartEmpty">
        <p class="shop-title">Your shopping cart</p>
        <table>
          <thead class="table-header-th">
          <tr>
            <td>Product</td>
            <td></td>

            <td>Price</td>
            <td>Quantity</td>
            <td>Deliver</td>
            <td>Total</td>
            <td></td>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(product, index) in productList">
            <td class="col-image"><img :src="product.image" alt=""></td>

            <td class="col-name"><p class="product-name">{{product.name}}</p></td>
            <td class="col-price">
              <p v-if="product.old_price" style="opacity: 0.5; text-decoration-line: line-through;"> $ {{ product.old_price }}</p>
              <p>$ {{ product.price }}</p>
            </td>
            <td class="col-quantity">
              <quantity v-if="product.quantity"
                        :quantity="product.quantity"
                        :changeQuantity="changeQuantity"
                        :productIndex="index"
                        v-bind:style="{ justifyContent: 'center' }"></quantity>
              <p v-if="!product.quantity" class="cart__info-text">Only 1 piece by subscription</p>
            </td>
            <td class="col-period">
              <span class="col-period-mobile">Deliver</span>
              <select-input v-if="product.delivery_period"
                            :changeItem="selectDeleveryPeriod"
                            :dropDownItems="product.delivery_period"
                            :productIndex="index"
                            :selected="product.delivery_period_selected"></select-input>
              <p v-if="!product.delivery_period" class="cart__info-text">One-time purchase</p>
            </td>
            <td class="col-total-price">
              <p v-if="product.quantity">$ {{ priceSet(product.price * product.quantity) }}</p>
              <p v-if="!product.quantity">$ {{ product.price }}</p>
            </td>
            <td class="col-delete">
              <button v-if="product.quantity" type="button" class="btn btn-link btn-delete" @click="deleteProduct(product.id)"><x-icon class="font-fix-cross"></x-icon></button>
              <button v-if="product.delivery_period" type="button" class="btn btn-link btn-delete" @click="deletePlan(product.id)"><x-icon class="font-fix-cross"></x-icon></button>
            </td>
          </tr>
          </tbody>

        </table>
        <div class="total-section">

          <Coupon @activeCoupon="getDiscount" :code="coupon" @couponValue="couponValue" />

          <div class="total-blocks">
            <div v-if="showDiscount" class="total-block">
              <p class="total-text">Discount:</p>
              <p class="total-text">-$ {{ priceSet(discount) }}</p>
            </div>
            <div class="total-block">
              <p class="total-text">Subtotal:</p>
              <p class="total-text big">$ <span>{{price}}</span></p>
            </div>

            <div class="total-block">
              <button type="button" @click="onCheckout" class="btn btn-green" style="padding: 15px 120px;">Checkout</button>
            </div>

            <div class="total-block">
              <a href="/shop" class="btn btn-link btn-link--modal">Keep shopping</a>
            </div>
          </div>

        </div>
      </div>

      <div class="shop-main-section cart-empty" v-if="isCartEmpty">
        <p class="shop-title" style="margin-top: 60px">Your shopping cart is empty</p>

        <div style="text-align: center; margin: 100px 0;">
          <a href="/shop" class="btn btn-green btn-green--square btn-start-shopping">START SHOPPING NOW</a>
        </div>
      </div>

    </div>

    <AppFooter></AppFooter>
  </div>
</template>

<script>
  import AppFooter from "../../general/Footer";
  import ShopMenu from "../general/shopMenu";
  import ShopHeader from "../general/shopHeader";
  import Quantity from "../components/quantity";
  import SelectInput from "../components/select-input";
  import Coupon from "../components/shopCoupon";
  import {XIcon} from 'vue-feather-icons'

  import axios from 'axios';
  import {apiURL} from '@/../config';

  export default {
    name: "shopCart",
    components: {SelectInput, Quantity, ShopHeader, ShopMenu, Coupon, AppFooter, XIcon},
    data: function () {
      return {
        token: null,
        productList: [],
        totalPrice: 0,
        totalPriceString: '',
        showDiscount: true,
        isCartEmpty: false,
        coupon: '',
        originalPrice: 0,
        discount: 0
      }
    },
    methods: {
      priceSet: function (data) {
        return Number.prototype.toFixed.call(parseFloat(data) || 0, 2);
      },
      getCartToken: function() {
        return new Promise((resolve, reject) => {
          if (this.$cookie.get('user_token')) {
            axios({
              method: 'get',
              url: apiURL + '/api/user/assign-cart',
              headers: {
                Authorization: 'Bearer ' + this.$cookie.get('user_token'),
              },
            })
              .then(response => {
                let cart = response.data;
                resolve(cart.token);
              })
          } else {
            throw new Error("user token is empty");
          }
        });
      },
      getCart: function () {
        this.productList = [];
        this.totalPrice = 0;

        axios({
          method: 'get',
          url: apiURL + '/api/public/cart/' + this.token,
        })
          .then(response => {
            let res = response.data;
            let count = 0;
            this.productList = [];
            if (res.orderDetailed && res.orderDetailed.length > 0) {
              count += res.orderDetailed.length;
              res.orderDetailed.forEach(item => {
                let data = {};
                data.id = item.id;
                data.name = item.product.name;
                data.quantity = item.quantity;
                if (item.regular_sale_price > 0) {
                  this.totalPrice += item.regular_sale_price * item.quantity;
                  this.originalPrice = this.totalPrice;
                  data.price = this.priceSet(item.regular_sale_price);
                  data.old_price = this.priceSet(item.regular_price);
                } else {
                  this.totalPrice += item.regular_price * item.quantity;
                  this.originalPrice = this.totalPrice;
                  data.price = this.priceSet(item.regular_price);
                  data.old_price = false;
                }
                data.delivery_period = false;
                data.image = (item.product.images) ? apiURL + item.product.images[0].media.filename : '';

                this.productList.push(data);
              });
            }
            if (res.plans && res.plans.length > 0) {
              count += res.plans.length;
              res.plans.forEach(item => {
                let data = {};
                data.id = item.id;
                data.name = item.delivery_period.product.name;
                data.image = (item.delivery_period.product.images[0]) ? apiURL + item.delivery_period.product.images[0].media.filename : '';
                data.quantity = false;
                this.totalPrice += item.price;
                data.price = this.priceSet(item.price);
                data.old_price = null;
                data.delivery_period = [];
                data.delivery_period_selected = item.delivery_period.period + ' ' + item.delivery_period.unit;
                item.delivery_period.product.delivery_periods.forEach(period => {
                  data.delivery_period.push({id: period.plan.id, name: period.period + ' ' + period.unit});
                });

                this.productList.push(data);
              });
            }
            if(res.coupon_code) {
              this.coupon = res.coupon_code;
              this.getDiscount();
            } else {
              this.totalPriceString = this.priceSet(this.totalPrice);
            }
            this.isCartEmpty = (count <= 0);
          })
          .catch(error => {
            this.isCartEmpty = true;
          })

      },
      getDiscount(){
        let userToken = this.$cookie.get('user_token');
        let cartToken = this.$cookie.get('cart_token');
        let data = {
          token: userToken,
          cartToken: cartToken
        }
        this.$store.dispatch('getDiscount', data).then(()=>{
          this.discount = this.$store.getters['getCoupon'].discount;
        });
      },
      changeQuantity: function(count, index){
        let product = this.productList[index];
        if (count > product.quantity) {
          this.addQuantity(product.id, () => {
            this.productList[index].quantity += 1;
            this.totalPrice = this.totalPrice + parseFloat(this.productList[index].price);
            this.totalPriceString = this.priceSet(this.totalPrice);
          });
        } else {
          this.removeQuantity(product.id, () => {
            this.productList[index].quantity -= 1;
            this.totalPrice = this.totalPrice - parseFloat(this.productList[index].price);
            this.totalPriceString = this.priceSet(this.totalPrice);
          });
        }
      },
      selectDeleveryPeriod: function(id, index){
        let product = this.productList[index];
        axios({
          method: 'put',
          url: apiURL + '/api/public/cart/'+this.token+'/plan/'+product.id+'/update-new-plan/'+ id,
        });
      },
      addQuantity: function(id, callback) {
        axios({
          method: 'put',
          url: apiURL + '/api/public/cart/' + this.token + '/product/'+ id +'/add',
        })
        .then(response => {
          callback();
        })
      },
      removeQuantity: function(id, callback) {
        axios({
          method: 'put',
          url: apiURL + '/api/public/cart/' + this.token + '/product/'+ id +'/remove',
        })
          .then(response => {
            callback();
          })
      },
      deleteProduct: function(id) {
        axios({
          method: 'delete',
          url: apiURL + '/api/public/cart/'+ this.token +'/' + id,
        })
          .then(response => {
            this.$root.cartCount -= 1;
            this.getCart();
          })

      },
      deletePlan: function(id) {
        axios({
          method: 'delete',
          url: apiURL + '/api/public/cart/' + this.token + '/plan/'+ id,
        })
          .then(response => {
            this.$root.cartCount -= 1;
            this.getCart();
          })
      },
      onCheckout:function () {
        fbq('track', 'InitiateCheckout', {
          contents: this.productList,
          currency: 'USD',
          value: this.totalPrice
        });

        let _learnq = _learnq || [];

        _learnq.push(['track', 'Started Checkout', {
          'products' : this.productList,
          'currency' : '$',
          'value'    : this.totalPrice
        }]);
        if (this.$route.query.token) {
          document.location.replace('/shop/checkout?token=' + this.token);
        } else if(this.$root.cartCount > 0) {
          document.location.replace('/shop/checkout');
        }
      },
      couponValue(value) {
        this.coupon = value;
      }
    },
    computed: {
      price() {
        this.getDiscount();
        return this.totalPrice > this.discount ? this.priceSet(this.totalPrice - this.discount) : '0';
      }
    },
    mounted(){
      if (this.$route.query.token) {
        this.token = this.$route.query.token;
        this.getCartToken()
          .then((token) =>{
            if (token != this.token) {
              this.$cookie.delete('user_token');
            }
            this.getCart();
          })
          .catch(() => {
            this.getCart();
          });
      } else {
        if (this.$cookie.get('cart_token')) {
          this.token = this.$cookie.get('cart_token');
          this.getCart();
        } else {
          this.getCartToken()
            .then((token) =>{
              this.$cookie.set('cart_token', cart.token);
              this.token = cart.token;
              this.getCart();
            })
            .catch(() => {
              this.isCartEmpty = true;
            });
        }
      }
    }
  }

</script>
