<template>
    <nav id="dashboard-navbar" class="dashboard-navbar">
        <logo />
        <div class="nav-links">
            <router-link
            v-for="(link,i) in links"
            :key="i" class="nav-link"

            active-class="active"
            :to="link.link">{{link.title}}</router-link>
        </div>
        <search />
        <user-dropdown />
    </nav>
</template>
<script>
import Logo from './Logo';
import Search from './Search';
import UserDropdown from './UserDropdown';

export default {
  name: 'navbar',
  data() {
    return {
      links: [
        {
          title: 'Dashboard',
          link: { name: 'Dashboard' }
        },
        {
          title: 'Manage Lists',
          link: { name: 'ManageSavedList' }
        },
        {
          title: 'Profile',
          link: { name: 'Profile' }
        }
      ]
    };
  },
  components: {
    Logo,
    Search,
    UserDropdown
  }
};
</script>
