<template>
    <div class="user-container">
        <div class="user-info">
            <div class="username"> {{user.name}} </div>
            <div class="post"> {{user.title}} </div>
        </div>
        <div class="avatar">
            <img :src="avatar">
        </div>
    </div>
</template>
<script>
export default {
  name: 'nav-user',
  computed: {
    user: function() {
      return this.$store.getters['account/user'];
    },
    avatar: function() {
      return this.$store.getters['account/avatar'];
    }
  }
};
</script>
