<template>
    <div class="user-dropdown">
        <user />
        <span @click="show=!show" class="dropdown-trigger">
            <!--<img class="trigger-icon" src="~@/assets/icon/settings.svg" >-->
            <img class="trigger-icon" src="~@/assets/icon/settings-admin.svg" >
        </span>
        <div v-show="show" class="dropdown">

        </div>

      <div class="for-admin-profile show">
        <div class="links">
          <a href="admin-panel/users" class="top-link active">Admin Panel</a>
          <a href="#" class="top-link">Logout</a>
        </div>
        <div class="img-close"><img src="~@/assets/icon/white-close.svg" /></div>
      </div>
    </div>
</template>
<script>
import User from './User';
export default {
  name: 'user-dropdown',
  data() {
    return {
        show : false
    };
  },
  components : {
      User
  }
};
</script>
