<template>
    <div @click="openSelect()" class="top-block-image" :style="'background-image: url('+picture+')'">
        <input @change="onFile($event.target)" multiple="false" type="file" style="display: none" ref="file" accept=".png,.jpg,.jpeg,.webp" />
    </div>
</template>
<script>
export default {
  name: 'picture-select',
  data() {
    return {
      placeholder: '../../../static/avatar.png',
    };
  },
  methods: {
    openSelect() {
      this.$refs.file.click();
    },
    onFile(event) {
      let files = event.files;
      this.$emit('file', files[0]);      
    }
  },
  computed: {
    picture() {
      if (this.image) {
        return this.image;
      } else {
        return this.placeholder;
      }
    }
  },
  props: {
    image: {
      type: String
    }
  }
};
</script>