<template>
  <div class="filter-block">
    <p class="filter-title">Filters</p>
    <div class="filter-block--option">
      <p @click="isDisplayFilterList=!isDisplayFilterList" class="filter-btn">{{ selectText }} <i class="fa fa-angle-down"></i></p>
      <div v-show="isDisplayFilterList" class="filter-listr">
        <p v-for="(filter,key) in filterList"
           class="filter-item"
           :class="{'selected': filter.selected}"
           @click="onClickFilterItem(key)">{{filter.name}}</p>
        <div class="btn-block">
          <button type="button" class="btn btn-button btn-button--green" @click="onApply">Apply</button>
          <button type="button" class="btn btn-button btn-button--gray" @click="onClear">Clear</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';
  import {apiURL} from '@/../config';

  export default {
    name: 'filter-category',
    props: ['onSelect'],
    data() {
      return {
        isDisplayFilterList: false,
        selectText: 'All categories ',
        filterList: [],
        selected: [],
      }
    },
    computed: {
    },
    methods: {
      onClickFilterItem: function(index){
        let element = this.filterList[index];
        if(this.selected.indexOf(element.id) != -1){
          this.selected.splice(this.selected.indexOf(element.id), 1);
          this.filterList[index].selected=false;
        }else{
          this.selected.push(element.id);
          this.filterList[index].selected=true;
        }
      },
      onClear: function(){
        this.selectText = 'All categories';
        this.selected = [];
        this.filterList.forEach(item => {
          item.selected = false;
        });
        this.isDisplayFilterList = false;
        this.onSelect({
          filterId: this.selected
        });
      },
      onApply: function(){
        this.selectText = 'In '+this.selected.length+' status';
        this.isDisplayFilterList = false;
        this.onSelect({
          filterId: this.selected
        });
      },
      getCategoryList: function () {
        axios({
          method: 'get',
          url: apiURL + '/api/admin/category-select',
          headers: {
            Authorization: 'Bearer ' + this.$cookie.get('user_token'),
          },
        })
          .then(response => {
            let categoryes = response.data;
            categoryes.forEach(item => {
              this.filterList.push({name: item.name, id: item.id, selected: false})
            });
          })
          .catch(error => {
            document.location.replace('/admin/login');
          });
      },
    },
    mounted() {
        this.getCategoryList();
    },

  }
</script>
