<template>
  <div class="input-group form-control">
    <p v-if="label" class="text-form">{{ label }}</p>
    <input class="input-form" :type="type"
           :value="value" @input="updateSelf($event.target.value)"
           :class="{'error-input': errorBlock}"
           min="0"
           :placeholder="placeholder"
           @keyup="onKeyup"
           @change="changeInput"
           :disabled="disabled"/>
    <p v-if="errorBlock" class="error-text">This field is required.</p>
  </div>
</template>

<script>

  export default {
    name: 'custom-input',
    props: ['label', 'value', 'type', 'placeholder', 'onChange', 'classBind', 'errorInput', 'disabled'],
    data() {
      return {
        errorBlock: false
      }
    },
    computed: {
    },
    watch:{
      errorInput: function (newVal, oldVal) {
        this.errorBlock = newVal;
      }
    },
    methods: {
      updateSelf (name) {
        this.$emit('input', name)
      },
      onKeyup: function(){
        if (this.errorBlock) {
          this.errorBlock = false;
        }
        this.onChange({
          value: this.value,
        });
      },
      changeInput() {
        this.onChange({
          value: this.value,
        });
      }
    },
  }
</script>
