<template>
  <div class="multi-upload-image input-group form-control">
    <p class="text-form">{{ label }}
      <span v-if="optional" class="optional"> - {{ optional }}</span>
    </p>
    <div class='uploaded-image'
         :class="{'error-input':errorBlock}">
      <div class="image" v-for="(image,key) in imagesList">
        <img :src="image.media.filename" />
        <button @click="removeImage(key, image.id)" class="remove-image">
          <i class="fa fa-times-circle"></i>
        </button>
      </div>
      <div class="upload-btn-wrapper">
        <button><img src="/static/img/admin/testimage.svg" alt=""></button>
        <input type="file" :name="name" @change="uploadImage"/>
      </div>
    </div>
    <p v-if="errorBlock" class="error-text">This field is required.</p>
  </div>
</template>

<script>
  import axios from 'axios';
  import {apiURL} from '@/../config';

  export default {
    name: 'multi-upload-image',
    props:['label', 'optional','name', 'images', 'onChange', 'errorInput'],
    data() {
      return {
        imagesList: this.images ? [...this.images] : [],
        ImageCreate: [],
        ImageRemove: [],
        errorBlock: false,
      }
    },
    watch: {
      images: function(newVal, oldVal) {
        this.imagesList = [...newVal];
        let url = apiURL;
        this.imagesList.forEach(function(item, i, arr){
          let src = item.media.filename;
          item.media.filename = url + src;
        });
      },
      errorInput: function (newVal, oldVal) {
        this.errorBlock = newVal;
      }
    },
    methods: {
      uploadImage: function(event) {
        if (this.errorBlock) {
          this.errorBlock = false;
        }
        let input = event.srcElement;
        if (input.files && input.files[0]) {
          this.imagesList.push({id:null, media:{filename: URL.createObjectURL(input.files[0])}});
          this.postMedia(input.files[0]);
        }
      },
      removeImage: function (index, id) {
        if (this.imagesList[index].id){
          this.ImageRemove.push(this.imagesList[index].id);
        }
        this.imagesList.splice(index, 1);
        this.onChange({
          create: this.ImageCreate,
          delete: this.ImageRemove
        });
      },

      postMedia: function(data) {
        this.$emit('startUpload');
        axios.post(apiURL + '/api/admin/media',
          data,
          {
            headers: {
              'Authorization': 'Bearer ' + this.$cookie.get('user_token'),
            }
          }).then(response => {
            let data = response.data;
            this.ImageCreate.push({'media_id': data.id, 'sort': this.imagesList.length+1});
            this.onChange({
              create: this.ImageCreate,
              delete: this.ImageRemove
            });
            this.$emit('finishUpload');
          })
          .catch(error => {
            this.imagesList.splice(-1,1);
            this.errorBlock = true;
            this.$emit('finishUpload');
        })
      }
    },

  }
</script>
<style lang="scss">
    .upload-btn-wrapper {
      position: relative;
      overflow: hidden;
      display: inline-block;
      button{
        border: none;
        color: gray;
        background-color: white;
        padding: 0;
        font-size: 20px;
        &:hover, &:active, &:focus{
          cursor: pointer;
        }
      }
      input[type=file]{
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
      }
    }
    .uploaded-image{
      display: flex;
      flex-wrap: wrap;
      .image{
        display: flex;
        flex-basis: 100px;
        margin-right: 15px;
        width: 100px;
        height: 100px;
        border: 1px solid #D7E4F0;
        border-radius: 3px;
        overflow: hidden;
        position: relative;
        &:hover .remove-image{
          display: block;
          cursor: pointer;
        }
      }
      .remove-image{
        display: none;
        width: 100px;
        height: 100px;
        position: absolute;
        background: transparent;
        top: 0;
        border: none;
        i{
          color: #15CBC4;
          opacity: 0.85;
          font-size: 34px;
        }
      }
      &.error-input{
        .upload-btn-wrapper > button >img{
          border: 1px solid #E73D4A;
        }
      }
    }
</style>
