<template>
  <div class="shop-page product-page">
    <div class="load-page"></div>
    <shop-header :hideAllBlock="this.$root.openShopMenu"></shop-header>
    <shop-menu :hideAllBlock="this.$root.openShopMenu"></shop-menu>
    <div class="wrapper">
      <div class="double-block product-info">
        <div class="left-side">
          <gallery :starting-image="0" :images="imagesList"></gallery>
        </div>
        <div class="right-side">
          <p class="shop-title">{{productInfo.name}}</p>
          <p class="shop-sub-title thin">{{productInfo.oneliner}}</p>
          <p class="weight mobile-layout">{{ productInfo.volume }}</p>
          <div class="rate-section">
            <div class="rate-row">
              <rate-stars :stars="reviewsRate ? reviewsRate : 5"></rate-stars>
              <p class="revievs">({{productInfo.reviews.length}} reviews)</p>
            </div>
            <button type="button" class="btn btn-link" style="width: auto;" @click="openReview()">Write review</button>
          </div>
          <div class="desktop-layout">
          </div>
          <div v-if="showDelivery === 'show' && checkDelivery" class="price-section">
            <p class="price">$ {{productInfo.subscription_sale_price}}</p>
            <p v-if="hideSaleSubscrivePrice" class="old-price">$ {{productInfo.subscription_price}}</p>
            <p class="status desktop-layout">In Stock</p>
          </div>
          <div v-else-if="showDelivery === 'none' || !checkDelivery" class="price-section">
            <p class="price">$ {{productInfo.regular_sale_price}}</p>
            <p v-if="hideSalePrice" class="old-price">$ {{productInfo.regular_price}}</p>
            <p class="status desktop-layout">In Stock</p>
          </div>
          <p class="weight desktop-layout">{{ productInfo.volume }}</p>


          <div v-if="checkDelivery" class="delivery-section">
            <div class="left-side">
              <label class="padding-7" style="padding-bottom: 15px;">
                <input class="radio1" checked type="radio" name="radio-test" v-model="showDelivery" value="show">
                <span class="radio-custom"></span>
                <span class="label  drop-text small-text">Subscribe and save</span>
              </label>
              <label class="padding-7">
                <input class="radio1" type="radio" name="radio-test" v-model="showDelivery" value="none">
                <span class="radio-custom"></span>
                <span class="label drop-text small-text">Purchase this time only</span>
              </label>
            </div>
            <div v-show="showDelivery === 'show'" class="right-side">
              <p class="small-text">Deliver every</p>
              <select-input :dropDownItems="deliveryList" :changeItem="selectDeleveryPeriod"></select-input>
            </div>
          </div>

          <div class="quantity-section" v-if="showDelivery === 'none' || !checkDelivery">
            <p class="small-text">Quantity</p>
            <quantity :quantity="quantity" :changeQuantity="changeQuantity"></quantity>
          </div>
          <div class="btn-section desktop-layout">
            <add-to-cart :product-id="productInfo.id"
                         :plan-id="planId"
                         :quantity="quantity"
                         @addToCart="resultAdd"
                         :isDeliveryPeriods="checkDelivery"
                         :showDelivery="showDelivery"
                         :disabled="showDelivery == 'show' && !isChange"></add-to-cart>
          </div>
          <div v-show="isCountdownShow" class="timer-section">
            <span>{{productInfo.countdown_clock.description}}</span>
            <timer :date="productInfo.countdown_clock.end_date"></timer>
          </div>
        </div>
      </div>
    </div>

    <div class="shop-full-section">
      <div class="double-block additional-block">
        <div class="left-side">
          <div v-if="overviewBlock.type == 'video'" class="video-block">

            <div class="video-info" @click="onOpenMediaModal(overviewBlock.video.video_link, true)">
              <div class="video-preview">
                <img v-if="overviewBlock.src" :src="apiURL + overviewBlock.src.filename">
                <div class="poster-video">
                  <img src="/static/img/shop/play-button.svg" class="play-button">
                  <div class="video-text">
                    <p class="big">{{ overviewBlock.video.title }}</p>
                    <p class="small">{{ overviewBlock.video.video_description }}</p>
                  </div>
                </div>
              </div>
            </div>
            
          </div>

          <div v-if="overviewBlock.type == 'image'" class="image-block">
            <img v-if="overviewBlock.src" :src="apiURL + overviewBlock.src.filename">
          </div>

        </div>
        <div class="right-side">
          <div class="description-section">
            <p class="shop-title">{{productInfo.high_level_overview_title}}</p>
            <div class="description" v-html="productInfo.high_level_overview"></div>
            <button type="button" @click="openDescription" class="btn btn-link">Additional information</button>
          </div>
          <div v-if="showDescription" class="description-info">
            <div class="popUp-header">
              <x-icon @click="closeDescription" class="font-fix"></x-icon>
            </div>

            <div v-html="productInfo.detailed_overview" class="description-text"></div>
          </div>

        </div>
      </div>
      <div class="double-block">
        <div class="left-side nutrion">

          <div class="properties">
            <div v-for="properties in propertiesList" class="properties-item">
              <img :src="'/static/img/shop/properties/' + properties.id +'.png'" alt="">
              <p>{{properties.name}}</p>
            </div>

          </div>
          <button type="button" style="text-align: center;"
                  class="btn btn-link"
                  @click="onOpenMediaModal(apiURL + nutritionInfo.filename)">
            Nutrition information
          </button>


        </div>
        <div class="right-side">
          <div v-if="additionalBlock.type == 'video'" class="video-block">

            <div class="video-info" @click="onOpenMediaModal(additionalBlock.video.video_link, true)">
              <div class="video-preview">
                <img v-if="additionalBlock.src" :src="apiURL + additionalBlock.src.filename">
                <div class="poster-video">
                  <img src="/static/img/shop/play-button.svg" class="play-button">
                  <div class="video-text">
                    <p class="big">{{ additionalBlock.video.title }}</p>
                    <p class="small">{{ additionalBlock.video.video_description }}</p>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div v-if="additionalBlock.type == 'image'" class="image-block">
            <img v-if="additionalBlock.src" :src="apiURL + additionalBlock.src.filename">
          </div>
        </div>
      </div>
    </div>

    <div v-show="productBundle.id" id="bundle" >
      <div class="wrapper">
        <div class="product-info">
          <h2>Bundle it up</h2>
          <div class="double-block">
            <div class="left-side">
              <img :src="productBundle.image" >
            </div>
            <div class="center-side">
              <p class="shop-title">{{productBundle.name}}</p>
              <p class="shop-sub-title thin">{{productBundle.oneliner}}</p>
              <p class="price">$ {{productBundle.regular_price}}</p>

              <p v-html="productBundle.detailed_overview" class="detailed-overview"></p>
              <br />
              <a :href="productBundle.slug">Learn more</a>
            </div>
            <div class="right-side">
              <div v-if="checkBundleDelivery" class="delivery-section">
                <div v-show="showBundleDelivery === 'show'">
                  <p class="small-text">Deliver every</p><br/>
                  <select-input :dropDownItems="deliveryBundleList" :changeItem="selectDeleveryBundlePeriod"></select-input>
                </div>
              </div>
              <div class="btn-bundle-section">
                <add-to-cart :product-id="productBundle.id"
                             :plan-id="planBundleId"
                             :quantity="quantity"
                             @addToCart="resultBundleAdd"
                             :isDeliveryPeriods="checkBundleDelivery"
                             :showDelivery="showBundleDelivery"
                             :disabled="showBundleDelivery == 'show' && !isBundleChange"></add-to-cart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div  v-show="includedId" id="included" >
      <div class="wrapper">
          <h2>Included</h2>
        <div class="products-included">
        <slider :products="includedList"></slider>
        </div>
      </div>
    </div>


    <div class="wrapper">
      <div class="review-section">
        <review-product :reviews="productInfo.reviews" @openReview="openReview" />
      </div>
    </div>

    <review-modal v-if="reviewModal"
                  :productName="this.productInfo.name"
                  :id="this.productInfo.id"
                  @close="closeReviewModal" />

    <media-popup
            class="video-popup-product"
            v-show="isMediaModal"
            :isVideo="isMediaVideo"
            :src="mediaSrc"
            @close="onCloseMediaModal" />


    <AppFooter></AppFooter>
  </div>
</template>



<script>
  import AppFooter from "../../general/Footer";
  import RateStars from "../components/rate-stars";
  import SelectInput from "../components/select-input";
  import Quantity from "../components/quantity";
  import ButtonComp from "../components/button-comp";
  import Timer from "../components/timer";
  import ShopHeader from "../general/shopHeader";
  import ShopMenu from "../general/shopMenu";
  import axios from 'axios';
  import {XIcon} from 'vue-feather-icons'
  import {apiURL} from '@/../config';
  import Gallery from "../components/gallery";
  import AddToCart from "../components/addToCart.vue";
  import MediaPopup from "../components/media-popup.vue";
  import ReviewModal from "../../modals/Review";
  import ReviewProduct from './elements/reviewProduct';
  import Slider from "../components/slider";


  export default {
    name: "Product",
    components: {
      MediaPopup,
      AddToCart,
      Slider,
      Gallery, XIcon, ShopMenu, ShopHeader, Timer, ButtonComp, Quantity, SelectInput, RateStars, ReviewModal, ReviewProduct, AppFooter
    },
    data() {
      return {
        showDelivery: null,
        showBundleDelivery: null,
        apiURL: apiURL,
        showReviewBlock: false,
        includedId: '',

        productInfo: {
          id: null,
          name: '',
          oneliner: '',
          high_level_overview_title: '',
          high_level_overview: '',
          detailed_overview: '',
          subscription_sale_price: '',
          subscription_price: '',
          regular_sale_price: '',
          regular_price: '',
          delivery_periods: [],
          countdown_clock: {},
          volume: '',
          reviews: [],
          bundles: []
        },
        productBundle: {
            id: null,
            name: '',
            oneliner: '',
            detailed_overview: '',
            regular_price: '',
            image: [],
            slug: [],
        },
        productIncluded: {
            id: null,
            name: '',
            oneliner: '',
            image: [],
            slug: [],
        },
        bundled: null,
        quantity: 1,
        planId: null,
        planBundleId: null,
        propertiesList: [],
        deliveryList: [],
        deliveryBundleList: [],
        now: ((new Date()).getFullYear() + '-' + ((new Date()).getMonth() + 1) + '-' + (new Date()).getDate() + 'T' + (new Date()).getHours() + ':' + (new Date()).getMinutes() + ':' + (new Date()).getSeconds() + '+0200'),
        isCountdownShow: false,
        nutritionInfo: {
          filename: '',
        },
        checkTypes: true,
        checkDelivery: null,
        checkBundleDelivery: null,
        showDescription: false,
        hideSalePrice: false,
        hideSaleSubscrivePrice: false,
        imagesList: [],
        includedList: [],
        bundleImagesList: [],
          inc: {
            id: ''
          },
        isMediaModal: false,
        isMediaVideo: false,
        mediaSrc: '',
        isChange: false,
        isBundleChange: false,
        overviewBlock: {
          type: null,
          src: null,
          video: {
            video_description: '',
            video_title: '',
            video_link: ''
          }
        },
        additionalBlock: {
          type: null,
          src: null,
          video: {
            video_description: '',
            video_title: '',
            video_link: ''
          }
        },
        reviewModal: false
      }
    },
    mounted() {
      if(window.tidioChatApi) {
        if(window.tidioChatApi.readyEventWasFired) {
        this.fixBubble();
      }else {
        window.tidioChatApi.on('ready', this.fixBubble);
      }
      }else {
        setTimeout(() => {
          this.fixBubble();
        }, 2000)
      }
    },
    beforeDestroy() {
      document.querySelector('#tidio-chat-iframe').style.bottom = '24px'
    },
    methods: {
      openReview() {
        let token = this.$store.getters['getUser'];
        if(token) {
          this.reviewModal = true;
        } else {
          document.location.replace('/shop/login');
        }
      },
      closeReviewModal() {
        this.reviewModal = false;
      },
      fixBubble() {
        if(window.outerWidth  < 1020) {
          document.querySelector('#tidio-chat-iframe').style.bottom = '40px'
        }
      },
      onOpenMediaModal: function(src, isVideo = false) {
        this.isMediaModal = true;
        this.mediaSrc = src;
        this.isMediaVideo = isVideo;

      },
      onCloseMediaModal: function() {
        this.isMediaModal= false;
        this.mediaSrc = '';
        this.isMediaVideo=false;

      },
      priceSet: function (data) {
        return Number.prototype.toFixed.call(parseFloat(data) || 0, 2);
      },
      getProductInfo: function () {
        axios({
          method: 'get',
          url: apiURL + '/api/public/product/' + this.$route.params.slug,
        })
          .then(response => {
            let product = response.data;
            console.log(product);
            document.title = product.name;

              var _learnq = _learnq || [];
              _learnq.push(['track', 'Viewed Product', {
                  '$product' : product.name
              }]);


              if (document.querySelector('meta[name="description"]')) {
              document.querySelector('meta[name="description"]').setAttribute("content", product.oneliner);
            } else {
              let metaDescription = document.createElement('meta');
              metaDescription.setAttribute('name', 'description');
              metaDescription.setAttribute('content', product.oneliner);
              document.head.appendChild(metaDescription);
            }
            if(product.bundles[0]) {
                this.bundled = product.bundles[0].id;
            }
            this.overviewBlock = {};
            this.additionalBlock = {};
            this.productInfo.id = product.id;
            this.productInfo.name = product.name;
            this.productInfo.oneliner = product.oneliner;
            this.productInfo.subscription_sale_price = this.priceSet(product.subscription_sale_price);
            this.productInfo.subscription_price = this.priceSet(product.subscription_price);
            this.productInfo.regular_sale_price = this.priceSet(product.regular_sale_price);
            this.productInfo.regular_price = this.priceSet(product.regular_price);
            this.productInfo.delivery_periods_enable = product.delivery_periods_enable;
            this.productInfo.countdown_clock_enable = product.countdown_clock_enable;
            this.productInfo.high_level_overview_title = product.high_level_overview_title;
            this.productInfo.high_level_overview = product.high_level_overview;
            this.productInfo.detailed_overview = product.detailed_overview;
            this.productInfo.volume = (product.volume) ? product.volume + ' ' + product.unit.name.replace('fl. ct', 'Count') : '';
            this.productInfo.reviews = product.reviews;

            console.log(this.productInfo.reviews[0]);
            if(this.productInfo.reviews[0].fake_name==NULL) {
                this.productInfo.reviews[0].fake_name = '';
            }

              if(product.included[0]) {
                  this.includedId = product.included[0].id;
              }

            this.overviewBlock.type = product.video_overview_media_type;
            this.additionalBlock.type = product.additional_media_type;

            if (product.countdown_clock) {
              let nowDate = new Date();
              let startDateStr = product.countdown_clock.start_date.replace(/\T/g,' ');
              startDateStr = startDateStr.replace(/\-/g,'/');
              startDateStr = startDateStr.slice(0, -5);
              let endDateStr = product.countdown_clock.end_date.replace(/\T/g,' ');
              endDateStr = endDateStr.replace(/\-/g,'/');
              endDateStr = endDateStr.slice(0, -5);
              let startDate = new Date(startDateStr);
              let endDate = new Date(endDateStr);
              if ((nowDate >= startDate) && (nowDate < endDate)) {
                this.productInfo.countdown_clock = product.countdown_clock;
                this.productInfo.countdown_clock.end_date = endDateStr;

                this.isCountdownShow = product.countdown_clock_enable;
              }
            }
            if (product.delivery_periods) {
              product.delivery_periods.forEach(item => {
                this.deliveryList.push({id: item.plan.id, name: item.period + ' ' + item.unit})
              });
            }
            if (product.properties) {
              product.properties.forEach(item => {
                this.propertiesList.push({id: item.id, name: item.name})
              });
            }
            if (product.images) {
              product.images.forEach(item => {
                this.imagesList.push({id: item.id, big: item.media.filename, thumb: item.media.filename})
              });
            }
            if(product.included) {
                product.included.forEach(item => {
                    this.includedList.push({id: item.id, name: item.name, oneliner: item.oneliner, filename: item.image, slug: item.slug})
                });
            }

            let sealMedia, overviewVideoMedia, additionalVideoPreviewMedia, additionalVideoMedia;
            product.product_media.forEach(item => {
              if (item.type == 'seal') {
                sealMedia = item.media;
              }
              if (item.type == 'nutrition-info') {
                if (item.media) {
                  this.nutritionInfo = item.media;
                }
              }
              if (item.type == 'overview-video-preview' && this.overviewBlock.type == 'video') {
                if (item.media) {
                  this.overviewBlock.src = item.media;
                }
              }
              if (item.type == 'overview-video' && this.overviewBlock.type == 'video') {
                this.overviewBlock.video = item.data;
              }
              if (item.type == 'overview-video-image' && this.overviewBlock.type == 'image') {
                this.overviewBlock.src = item.media;
              }
              if (item.type == 'additional-image' && this.additionalBlock.type == 'image') {
                if (item.media) {
                  this.additionalBlock.src = item.media;
                }
              }
              if (item.type == 'additional-video-preview' && this.additionalBlock.type == 'video') {
                this.additionalBlock.src = item.media;
              }
              if (item.type == 'additional-video' && this.additionalBlock.type == 'video') {
                this.additionalBlock.video = item.data;
              }
            });
            this.countdownCheck();
            this.checkDeliveryLeng();
            this.checkPrice();
            this.checkSubscribePrice();

            if(this.bundled) {
                this.getProductBundle(this.bundled);
            }
            fbq('track', 'ViewContent', {
              content_name: this.productInfo.name
            });

            _learnq.push(['trackViewedItem', {
            Title: product.name,
            ItemId: product.id,
            ImageUrl: this.nutritionInfo ? this.nutritionInfo : '',
            Url: window.location.toString(),
            Metadata: {
              Brand: product.name,
              Price: this.productInfo.regular_price
            }
          }]);

          })
          .catch(error => {
              console.log(error);
            let res = error.response;
            try {
              document.location.replace('/shop/product/' + res.data.slug);
            } catch (err) {
              document.location.replace('/shop');
            }
          });
      },
        getProductBundle: function (bundled) {
            axios({
                method: 'get',
                url: apiURL + '/api/public/product/bundleId/' + bundled,
            })
                .then(response => {
                    let product = response.data;

                    this.productBundle.id = product.id;
                    this.productBundle.name = product.name;
                    this.productBundle.oneliner = product.oneliner;
                    this.productBundle.regular_price = this.priceSet(product.regular_price);
                    this.productBundle.image = apiURL+ product.images[0].media.filename;
                    this.productBundle.slug =  product.slug[0].slug;
                    this.productBundle.detailed_overview=this.truncate(product.detailed_overview, 350);

                    this.productBundle.subscription_sale_price = this.priceSet(product.subscription_sale_price);
                    this.productBundle.subscription_price = this.priceSet(product.subscription_price);
                    this.productBundle.regular_sale_price = this.priceSet(product.regular_sale_price);
                    this.productBundle.delivery_periods_enable = product.delivery_periods_enable;
                    this.productBundle.countdown_clock_enable = product.countdown_clock_enable;
                    this.productBundle.high_level_overview_title = product.high_level_overview_title;
                    this.productBundle.high_level_overview = product.high_level_overview;
                    this.productBundle.volume = (product.volume) ? product.volume + ' ' + product.unit.name.replace('fl. ct', 'Count') : '';

                    if (product.delivery_periods) {
                        product.delivery_periods.forEach(item => {
                            this.deliveryBundleList.push({id: item.plan.id, name: item.period + ' ' + item.unit})
                        });
                    }
                    this.checkDeliveryBundle();
                })
                .catch(error => {
                    console.log(error);
                });

        },
       truncate: function (text, length) {
            return text.substring(0, length)+'...';
        },

      countdownCheck: function () {
        if (this.productInfo.countdown_clock && this.productInfo.countdown_clock_enable) {
          this.isCountdownCheck = (this.productInfo.countdown_clock.end_date < this.now) ? false : true;
        }
      },
      checkDeliveryLeng: function () {
        if ((this.deliveryList.length > 0)) {
          this.checkDelivery = true;
          this.isChange = false;
          this.showDelivery = 'show';
        } else {
          this.checkDelivery = false;
          this.isChange = true;
          this.showDelivery = 'none';
        }
      },
        checkDeliveryBundle: function () {
            if ((this.deliveryBundleList.length > 0)) {
                this.checkBundleDelivery = true;
                this.isBundleChange = false;
                this.showBundleDelivery = 'show';
            } else {
                this.checkBundleDelivery = false;
                this.isBundleChange = true;
                this.showBundleDelivery = 'none';
            }
        },
      openDescription() {
        this.showDescription = true;
      },
      closeDescription() {
        this.showDescription = false;
      },
      checkPrice() {
        if (this.productInfo.regular_sale_price > 0) {
          this.hideSalePrice = true;

        } else {
          this.productInfo.regular_sale_price = this.productInfo.regular_price;
          this.hideSalePrice = false;
        }
      },
      checkSubscribePrice() {
        if (this.productInfo.subscription_sale_price > 0) {
          this.hideSaleSubscrivePrice = true;

        } else {
          this.productInfo.subscription_sale_price = this.productInfo.subscription_price;
          this.hideSaleSubscrivePrice = false;
        }
      },
      selectDeleveryPeriod(id) {
        this.isChange = true;
        this.planId = id;
      },
      selectDeleveryBundlePeriod(id) {
        this.isBundleChange = true;
        this.planBundleId = id;
      },
      changeQuantity(count){
        this.quantity = count;
      },
      resultAdd: function () {
          var _learnq = _learnq || [];
          _learnq.push(['track', 'AddToCart', {
              '$id': this.productInfo.id + '',
              '$quantity': this.quantity,
              '$item_price': this.showDelivery === 'none' ? (this.productInfo.regular_sale_price ? this.productInfo.regular_sale_price: this.product.regular_price) : this.productInfo.subscription_price
          }]);
          fbq('track', 'AddToCart', {
          contents: [{
            id: this.productInfo.id + '',
            quantity: this.quantity,
            item_price: this.showDelivery === 'none' ? (this.productInfo.regular_sale_price ? this.productInfo.regular_sale_price: this.product.regular_price) : this.productInfo.subscription_price
          }],
          content_ids: [this.productInfo.id],
          content_type: this.showDelivery === 'none' ? 'product' : 'product subscribe',
          currency: 'USD',
          value: this.showDelivery === 'none' ? (this.productInfo.regular_sale_price ? this.productInfo.regular_sale_price: this.productInfo.regular_price) : this.productInfo.subscription_price
        });
      },
        resultBundleAdd: function () {
            fbq('track', 'AddToCart', {
                contents: [{
                    id: this.productBundle.id + '',
                    quantity: this.quantity,
                    item_price: this.showBundleDelivery === 'none' ? (this.productBundle.regular_sale_price ? this.productBundle.regular_sale_price: this.product.regular_price) : this.productInfo.subscription_price
                }],
                content_ids: [this.productBundle.id],
                content_type: this.showBundleDelivery === 'none' ? 'product' : 'product subscribe',
                currency: 'USD',
                value: this.showBundleDelivery === 'none' ? (this.productBundle.regular_sale_price ? this.productBundle.regular_sale_price: this.productInfo.regular_price) : this.productInfo.subscription_price
            });
        },
    },
    computed: {
      reviewsRate() {
        if(this.productInfo.reviews.length) {
          let arrayRates = this.productInfo.reviews.map(item => item.rating);
          return arrayRates.reduce((accumulator, currentValue) => accumulator + currentValue) / this.productInfo.reviews.length;
        }
      }
    },
    created(){
      this.getProductInfo();
    },
  }
</script>

<style lang="scss">

</style>
