<template>
  <div class="account-info account">
    <div v-if="!isChangePassword">
      <div class="account-info--header">
        <div class="title">Edit profile</div>
      </div>
      <div class="account-info--body">
        <input type="hidden" :value="userInfo"/>
        <personal-info-form
          :userInfo="user"
          :checkoutPage="false"
          v-on:onChangePassword="onOpenChangePassword" />
      </div>
    </div>
    <div v-if="isChangePassword">
      <div class="account-info--header">
        <div class="title">Change password</div>
      </div>
      <div class="account-info--body">
        <account-change-password v-on:saveNewPassword="onCloseChangePassword" v-on:cancelChangePassword="onCloseChangePassword"></account-change-password>
      </div>
    </div>
  </div>
</template>

<script>
  import PersonalInfoForm from "../components/personal-info-form.vue";

  import axios from 'axios';
  import {apiURL} from '@/../config';
  import AccountChangePassword from "./elements/changePassword.vue";


  export default {
    name: "profile",
    components: {
      AccountChangePassword,
      PersonalInfoForm},
    props: [],
    data() {
      return {
        user: null,
        isChangePassword: false,
      }
    },
    watch: {},
    computed: {
      userInfo: function () {
        if (this.$store.state.user) {
          this.user = {
            first_name: this.$store.state.user.first_name,
            last_name: this.$store.state.user.last_name,
            email: this.$store.state.user.email,
            phone: this.$store.state.user.phone,
          }
        }
      }
    },
    methods: {
      onOpenChangePassword: function () {
        this.isChangePassword = true;
      },
      onCloseChangePassword: function() {
        this.isChangePassword = false;
      },
    },
  }
</script>

<style scoped>

</style>
