<template>
  <div>
    <shipping-addrress-list title="Addresses"
                            class="account"
                            :isCheckoutPage="false"></shipping-addrress-list>
  </div>
</template>

<script>

  import ShippingAddrressList from "../components/shipping-address-list.vue";

  export default {
    name: "shippingAddress",
    components: {ShippingAddrressList},
    props: [],
    data() {
      return {}
    },
    watch: {},
    methods: {
    },
    mounted() {
    }
  }
</script>

<style scoped>

</style>
