<template>
  <div class="shop-login login-page client">
    <div class="block-login">
      <div class="top-block">
        <a class="logo" href="/">
          <img src="/static/img/admin/logo.svg"/>
        </a>
      </div>

      <section class="form-login">
        <div class="main-block">
          <h2>Password recovery</h2>
          <new-password-form class="client"></new-password-form>
        </div>
      </section>

      <p class="copy-right">2019 © NextHealth</p>
    </div>
  </div>
</template>

<script>

  import NewPasswordForm from "../../general/newPasswordForm.vue";

  export default {
    components: {NewPasswordForm},
    name: "newPassword",
    data() {
      return {}
    },
  }

</script>

