<template>

  <div class="admin-page">
    <admin-menu class="user-active" :class="this.$root.hideMenu ? 'w-70' : 'w-240'"></admin-menu>

    <div class="admin-content">
      <AdminHeader :class="this.$root.hideMenu ? 'w-70' : 'w-240'"></AdminHeader>
      <div class="admin-main-section">

        <h1 class="page-title">Customers</h1>

        <div class="admin-main-block">
          <div class="admin-main-block-header">
            <div class="left-block">
              <h3 class="admin-main-title">Customers list</h3>

            </div>
            <div class="right-block">
              <search
                :search-category = "[
                  {title:'All', filter:'all'},
                  {title:'User ID', filter:'id'},
                  {title:'First name', filter:'first_name'},
                  {title:'Last name', filter:'last_name'},
                  {title: 'Email', filter:'email'},
                  {title: 'Phone Number', filter:'phone'}]"
                :onChange="onChangeSearch"
              ></search>
            </div>
          </div>
          <div class="admin-filter-case">
            <filter-status
              :onSelect="onFilterChange"
              :statusList="['Active', 'Deactive']">
            </filter-status>
            <div class="dropdown-bloc">
              <p class="selected-items">{{ itemsText }}</p>
              <div class="dropdown-btn"
                   v-bind:class="{'dropdown-btn-active': activeShow, 'dropdown-btn-disabled': !activeBtn}"
                   @click="clickActive()">
                <span>Action</span><chevron-down-icon class="font-fix"></chevron-down-icon>
              </div>
              <div class="dropdown-list" v-if="activeShow">
                <a @click="onDeactive">
                  <toggle-left-icon class="font-fix"></toggle-left-icon>
                  <span>Deactivate</span>
                </a>
                <a @click="onActive">
                  <toggle-right-icon class="font-fix"></toggle-right-icon>
                  <span>Activate</span>
                </a>
              </div>
            </div>
          </div>

          <div class="admin-table">
            <table>
              <thead>
                <tr>
                  <th class="table-header-th table-checkbox">
                    <label class="radio">
                      <input type="checkbox" v-model="selectAll"/>
                      <div class="radio__text"></div>
                    </label>
                  </th>
                  <th class="table-header-th">
                    <a @click="sortTable('id')">User ID
                      <i class="fa"
                         :class="{'fa-sort': sort != 'id',
                         'active fa-sort-down': sort == 'id' && idSort=='ASC',
                         'active fa-sort-up': sort == 'id' && idSort=='DESC'}"></i>
                    </a>
                  </th>
                  <th class="table-header-th">
                    <a  @click="sortTable('first_name')">First name
                      <i class="fa"
                         :class="{'fa-sort': sort != 'first_name',
                         'active fa-sort-down': sort == 'first_name' && firstNameSort=='ASC',
                         'active fa-sort-up': sort == 'first_name' && firstNameSort=='DESC'}"></i>
                    </a>
                  </th>
                  <th class="table-header-th">
                    <a  @click="sortTable('last_name')">Last name
                      <i class="fa"
                         :class="{'fa-sort': sort != 'last_name',
                         'active fa-sort-down': sort == 'last_name' && lastNameSort=='ASC',
                         'active fa-sort-up': sort == 'last_name' && lastNameSort=='DESC'}"></i>
                    </a>
                  </th>
                  <th class="table-header-th">
                    <a @click="sortTable('email')">Email
                      <i class="fa"
                         :class="{'fa-sort': sort != 'email',
                         'active fa-sort-down': sort == 'email' && emailSort=='ASC',
                         'active fa-sort-up': sort == 'email' && emailSort=='DESC'}"></i>
                    </a>
                  </th>
                  <th class="table-header-th">
                    <a @click="sortTable('phone')">Phone Number
                      <i class="fa"
                         :class="{'fa-sort': sort != 'phone',
                         'active fa-sort-down': sort == 'phone' && phoneSort=='ASC',
                         'active fa-sort-up': sort == 'phone' && phoneSort=='DESC'}"></i>
                    </a>
                  </th>
                  <th class="table-header-th last">Active</th>
                </tr>
              </thead>
            <tbody>
              <tr v-for="user in usersList">
                <td class="table-td-left table-checkbox"><label class="radio">
                  <input type="checkbox" v-model="selected" :value="user.id" number
                         :id="'data-' + user.id" @change="clickCheckbox()"/>
                  <div class="radio__text"></div>
                </label></td>
                <td class="table-td-left item-id">{{ user.id }}</td>
                <td class="table-td-left">{{ user.first_name }}</td>
                <td class="table-td-left">{{ user.last_name }}</td>
                <td class="table-td-left"><a :href="'mailto:' + user.email">{{ user.email }}</a></td>
                <td class="table-td-left">{{ user.phone }}</td>
                <td class="table-td-left last">
                  <div class="onoffswitch">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"
                           v-bind:checked="user.active" :id="'id-' + user.id" @change="onChangeUser($event.target.checked, user.id)"
                           />
                    <label class="onoffswitch-label" :for="'id-' + user.id" >
                      <span class="onoffswitch-inner"></span>
                      <span class="onoffswitch-switch"></span>
                    </label>
                  </div>
                </td>
              </tr>
            </tbody>

            </table>
          </div>
          <pagination
            :total-records = "totalRecords"
            :changeTable='changeTable'
          ></pagination>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import AdminMenu from "../general/AdminMenu";
  import AdminHeader from "../general/AdminHeader";
  import Search from "../general/Search";
  import {ChevronDownIcon, ToggleLeftIcon, ToggleRightIcon, UserXIcon} from 'vue-feather-icons';
  import Pagination from "../general/Pagination";

  import axios from 'axios';
  import {apiURL} from '@/../config';
  import FilterStatus from "../components/filter-status.vue";

  export default {
    name: "AdminUsers",
    components: {
      FilterStatus,
      AdminHeader, AdminMenu, Search, Pagination,
      ChevronDownIcon, ToggleLeftIcon, ToggleRightIcon, UserXIcon
    },
    data: function () {
      return {
        activeShow: false,
        activeBtn: false,
        selected: [],
        itemsText: '0 item selected:',
        page: 1,
        limit: 10,
        sort: 'id',
        order: 'ASC',
        idSort: 'ASC',
        firstNameSort: false,
        lastNameSort: false,
        phoneSort: false,
        emailSort: false,
        totalRecords: 0,
        usersList: [],
        filterByStatus: '',
        criteria: '',
        filter: 'all'
      }
    },

    computed: {
      selectAll: {
        get: function () {
          return this.usersList ? this.selected.length == this.usersList.length : false;
        },
        set: function (value) {
          var selected = [];

          if (value) {
            this.usersList.forEach(function (item) {
              selected.push(item.id);
            });
          }

          this.selected = selected;
          this.itemsText = !selected.length ? '0 item selected:'
            : ((selected.length == 1) ? '1 item selected:' : selected.length + ' items selected:') ;
          this.activeBtn = this.selected.length ? true : false;
        }
      },
    },
    methods: {
      clickCheckbox: function() {
        this.activeBtn = this.selected.length ? true : false;
        this.itemsText = !this.selected.length ? '0 item selected:'
          : ((this.selected.length == 1) ? '1 item selected:' : this.selected.length + ' items selected:') ;
      },
      clickActive: function () {
        if (this.activeBtn) {
          this.activeShow = !this.activeShow;
        }
      },
      onDeactive: function(){
        this.changeUserStatus(this.selected, 'deactive' ,res => {
          this.selected = [];
          this.itemsText = '0 item selected:';
          this.activeShow = false;
          this.activeBtn = false;
          this.changeTable({page: this.page, limit: this.limit});
        });
      },
      onActive: function(){
        this.changeUserStatus(this.selected, 'active', res => {
          this.selected = [];
          this.itemsText = '0 item selected:';
          this.activeShow = false;
          this.activeBtn = false;
          this.changeTable({page: this.page, limit: this.limit});
        });
      },
      onChangeUser(value, id){
        let type = value ? 'active' : 'deactive';
        this.changeUserStatus([id], type, res => {
          this.changeTable({page: this.page, limit: this.limit});
        });
      },
      changeUserStatus(id, type, callback){
        axios({
          method: 'put',
          url: apiURL + '/api/admin/user-customers/' + type,
          headers: {
            Authorization: 'Bearer ' + this.$cookie.get('user_token'),
          },
          data: {update: id}
        })
          .then(response => {
            callback(true);
          })
          .catch(error => {
            console.log(error);
          });
      },
      onFilterChange: function(data){
        let result = data.filter;
        this.filterByStatus = '';
        if (result.length == 1){
          this.filterByStatus = '&status='+result[0].toLowerCase();
        }
        this.page = 1;
        this.changeTable({page: this.page, limit: this.limit});
      },
      onChangeSearch: function(data){
        this.filter = data.filter;
        this.criteria = data.criteria;
        this.page = 1;
        this.changeTable({page: this.page, limit: this.limit});
      },
      sortTable: function(param){
        switch (param){
          case 'first_name':
            this.sort = 'first_name';
            this.firstNameSort =  this.firstNameSort == 'ASC' ? 'DESC' : 'ASC';
            this.order = this.firstNameSort;
            this.idSort = false;
            this.lastNameSort = false;
            this.phoneSort = false;
            this.emailSort = false;
            break;
          case 'last_name':
            this.sort = 'last_name';
            this.lastNameSort =  this.lastNameSort == 'ASC' ? 'DESC' : 'ASC';
            this.order = this.lastNameSort;
            this.idSort = false;
            this.firstNameSort = false;
            this.phoneSort = false;
            this.emailSort = false;
            break;
          case 'email':
            this.sort = 'email';
            this.emailSort =  this.emailSort == 'ASC' ? 'DESC' : 'ASC';
            this.order = this.emailSort;
            this.idSort = false;
            this.firstNameSort = false;
            this.phoneSort = false;
            this.lastNameSort = false;
            break;
          case 'phone':
            this.sort = 'phone';
            this.phoneSort =  this.phoneSort == 'ASC' ? 'DESC' : 'ASC';
            this.order = this.phoneSort;
            this.idSort = false;
            this.firstNameSort = false;
            this.emailSort = false;
            this.lastNameSort = false;
            break;
          default:
            this.sort = 'id';
            this.idSort =  this.idSort == 'ASC' ? 'DESC' : 'ASC';
            this.order = this.idSort;
            this.firstNameSort = false;
            this.lastNameSort = false;
            this.phoneSort = false;
            this.emailSort = false;
        }
        this.changeTable({page: this.page, limit: this.limit});
      },
      changeTable: function(data) {
        this.page = data.page;
        this.limit = data.limit;
        axios({
          method: 'get',
          url: apiURL + '/api/admin/user-customers?page='+data.page+
          '&limit='+data.limit+
          '&sort='+this.sort+
          '&order='+this.order+
          '&filter='+this.filter+
          '&criteria='+this.criteria+this.filterByStatus,
          headers: {
            Authorization: 'Bearer ' + this.$cookie.get('user_token'),
          },
        })
          .then(response => {
            this.usersList = response.data.customers;
            this.totalRecords = response.data.count;
          })
          .catch(error => {
            document.location.replace('/admin/login');
          });
      }
    },

    mounted() {
      this.changeTable({page: this.page, limit: this.limit});
    },

  };
</script>
