<template>
    <div class="modal is-active" style="z-index: 105">
        <div class="modal-background"></div>
        <div class="modal-content fullpage-container"style="width: 100%; height: 100%" >

            <div class="flexScroll" >
                <section class="page package-section executive-physical__physical full-mobile platinum"><img class="img-mobile" src="/static/img/executive-physical/platinum/img_bg_1_mobile.jpg"/><img class="img-tablet" src="/static/img/executive-physical/platinum/img_bg_1_tablet.jpg"/>
                    <div class="section__info__mobile">
                    <h2  class="section__info title-section executive-physical__title">Platinum Physical</h2>
                    <h4  class="section__info executive-physical__subtitle">6 Week Life Changing Program</h4>
                    </div>
                </section>
                <section class="page platinum package-section executive-physical__collection full-mobile">
                    <div class="section__info__mobile">
                    <h2  class="section__info title-section executive-physical__title">Data Collection</h2>
                    <h6  class="section__info executive-physical__col-step-title">01 Step - 1 Day</h6>
                    <h4   class="section__info executive-physical__subtitle">Patient History Research / Total Body Physical</h4>
                    <span class="section__info executive-physical__col-info">
                                <p>Following tests are performed:</p>
                                <div class="mobile-slider">
                                    <swiper :options="swiperOption" class="ct-slider">
                                     <swiper-slide>
                                    <div class="executive-physical__col-info-wrapper">
                                        <p>Full History and Physical</p>
                                        <p>Advanced Cardiac Evaluation and Analysis</p>
                                        <p>Insulin Resistance Parameters</p>
                                        <p>Gut Function</p>
                                    </div>
                                         </swiper-slide>
                                        <swiper-slide>
                                    <div class="executive-physical__col-info-wrapper">
                                        <p>EKG</p>
                                        <p>Predictive Genetic Markers for Cardiac Diseases, Diabetes, Cancerous Blood Clots, and Kidney Disease</p>
                                        <p>Food Allergy and Sensitivity Testing to Chemical, Coloring and Preservatives</p>
                                        <p>Cancer Markers</p>
                                    </div>
                                        </swiper-slide>
                                        <swiper-slide>
                                        <div class="executive-physical__col-info-wrapper">
                                        <p>Resting Metabolic Rate</p>
                                        <p style="font-weight: bold">Telomere Testing - Biological age, How Fast Your Aging</p>
                                        <p>Functional Intracellular Nutrient Testing</p>
                                        <p>Toxic Burden</p>
                                    </div>
                                            </swiper-slide>
                                        <swiper-slide>
                                    <div class="executive-physical__col-info-wrapper">
                                        <p>Arterial Health Profile DPA & Central BP</p>
                                        <p>Red Blood Cell Omega-3 Levels</p>
                                        <p style="font-weight: bold">Very Advanced Genetic Markers for Cardiac, Diabetes, Dementia, Blood Clots, Kidney & Liver Disease</p>
                                        <p>Hormonal Status.</p>
                                    </div>
                                            </swiper-slide>
                                        <swiper-slide>
                                    <div class="executive-physical__col-info-wrapper">
                                        <p>Body Mass Index</p>
                                        <p>Complete Blood Count with Differential</p>
                                        <p>Inflammation Markers</p>
                                    </div>
                                        </swiper-slide>
                                        <div class="swiper-pagination" slot="pagination"></div>
                                    </swiper>
                                </div>
                            </span>
                    </div>
                </section>
                <section class="page platinum package-section executive-physical__jumpstart full-mobile"><img class="img-mobile" src="/static/img/executive-physical/platinum/img_bg_3_mobile.jpg"/><img class="img-tablet" src="/static/img/executive-physical/platinum/img_bg_3_tablet.jpg"/>
                    <div class="section__info__mobile">
                    <h2  class="section__info title-section executive-physical__title">Get Ready to Jumpstart</h2>
                    <h6  class="section__info executive-physical__col-step-title">02 Step - Week 2</h6>
                    <h4  class="section__info executive-physical__subtitle">Personalized Plan & Therapeutic Intervention</h4>
                    <div class="section__info executive-physical__col-info">
                        <div class="executive-physical__col-info-wrapper">
                            <ul class="list-circle">
                                <li><span>Extensive follow up of up to 80% of available data</span></li>
                                <li><span>IV Vitamin Therapy</span></li>
                                <li><span>Create a health plan that will Predict, Prevent, Pro-long:</span></li>
                                <ul>
                                    <li><span>Target problems</span></li>
                                    <li><span>Optimal foods and food sensitivity</span></li>
                                    <li><span>Depletions of your body</span></li>
                                    <li><span>Supplements to optimize your body</span></li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                    </div>
                </section>
                <section class="page platinum package-section executive-physical__boost full-mobile"><img class="img-mobile" src="/static/img/executive-physical/platinum/img_bg_4_mobile.jpg"/><img class="img-tablet" src="/static/img/executive-physical/platinum/img_bg_4_tablet.jpg"/>
                    <div class="section__info__mobile">
                    <h2  class="section__info title-section executive-physical__title">Health Boost</h2>
                    <h6 class="section__info executive-physical__col-step-title">03 Step - Week 3, 4 & 5</h6>
                    <h4  class="section__info executive-physical__subtitle">Consolidate 100% of Data - Recap your Total Body Health Plan</h4>
                    <div  class="section__info executive-physical__col-info">
                        <div class="executive-physical__col-info-wrapper">
                            <ul class="list-circle">
                                <li><span>Redirect any issues with health plan</span></li>
                                <li><span>Administrate IV vitamin therapy</span></li>
                                <li><span>Reinforce your health plan</span></li>
                            </ul>
                        </div>
                    </div>
                    </div>
                </section>
                <section class="page platinum package-section executive-physical__health full-mobile"><img class="img-mobile" src="/static/img/executive-physical/platinum/img_bg_5_mobile.jpg"/><img class="img-tablet" src="/static/img/executive-physical/platinum/img_bg_5_tablet.jpg"/>
                    <div class="section__info__mobile">
                    <h2  class="section__info title-section executive-physical__title">Strategic Health</h2>
                    <h6  class="section__info executive-physical__col-step-title">04 Step - Week 5</h6>
                    <h4  class="section__info executive-physical__subtitle">Final Recap</h4>
                    <div class="section__info executive-physical__col-info">
                        <div class="executive-physical__col-info-wrapper">
                            <ul class="list-circle">
                                <li><span>Redirect any issues with health plan</span></li>
                                <li><span>Reinforce your health plan</span></li>
                                <li><span>Administrate IV vitamin therapy</span></li>
                            </ul>
                        </div>

                    </div>
                    </div>
                </section>
                <section class="page package-section executive-physical__benefits full-mobile platinum">
                    <div class="section__info__mobile">
                        <h2  class="section__info title-section executive-physical__title">Benefits</h2>
                        <div class="section__info executive-physical__benefits-wrapper">

                            <swiper :options="swiperOption1" class="ct-slider desctop1">
                                <swiper-slide>
                                    <div class="executive-physical__benefits-item animated bounceIn"><img src="/static/img/executive-physical/icon-1.svg"/>
                                        <p>H-Club membership Be part of a select group Feel the passion</p>
                                    </div>
                                    <div class="executive-physical__benefits-item animated bounceIn"><img src="/static/img/executive-physical/icon-2.svg"/>
                                        <p>Direct access to Dr. Habib</p>
                                    </div>
                                    <div class="executive-physical__benefits-item animated bounceIn"><img src="/static/img/executive-physical/icon-3.svg"/>
                                        <p>Same day consultations and medical attention</p>
                                    </div>
                                </swiper-slide>
                                <swiper-slide>
                                    <div class="executive-physical__benefits-item animated bounceIn"><img src="/static/img/executive-physical/icon-4.svg"/>
                                        <p>All products, services and therapies included</p>
                                    </div>
                                    <div class="executive-physical__benefits-item animated bounceIn"><img src="/static/img/executive-physical/icon-5.svg"/>
                                        <p>Virtual visits</p>
                                    </div>
                                    <div class="executive-physical__benefits-item animated bounceIn"><img src="/static/img/executive-physical/icon-6.svg"/>
                                        <p>Call in prescriptions</p>
                                    </div>
                                </swiper-slide>
                                <swiper-slide>
                                    <div class="executive-physical__benefits-item animated bounceIn"><img src="/static/img/executive-physical/icon-7.svg"/>
                                        <p>Follow-up and collaboration with all appropriate healthcare professionals</p>
                                    </div>
                                    <div class="executive-physical__benefits-item animated bounceIn"><img src="/static/img/executive-physical/icon-8.svg"/>
                                        <p>Peace of mind from total body health</p>
                                    </div>
                                    <div class="executive-physical__benefits-item animated bounceIn"><img src="/static/img/executive-physical/icon-9.svg"/>
                                        <p>Unmatched executive physicals</p>
                                    </div>
                                </swiper-slide>
                                <swiper-slide>
                                    <div class="executive-physical__benefits-item animated bounceIn"><img src="/static/img/executive-physical/icon-10.svg"/>
                                        <p>Targeted programs (Precision Medicine)</p>
                                    </div>
                                    <div class="executive-physical__benefits-item animated bounceIn"><img src="/static/img/executive-physical/icon-11.svg"/>
                                        <p>Jumpstart into Next Health’s trademark Ultra Program</p>
                                    </div>
                                    <div class="executive-physical__benefits-item animated bounceIn"><img src="/static/img/executive-physical/icon-12.svg"/>
                                        <p>Access to comprehensive medical care for the entire family</p>
                                    </div>
                                </swiper-slide>
                                <swiper-slide>
                                    <div class="executive-physical__benefits-item animated bounceIn"><img src="/static/img/executive-physical/icon-13.svg"/>
                                        <p>Best of traditional and alternative/ holistic/ comprehensive medicine</p>
                                    </div>
                                </swiper-slide>
                                <div class="swiper-pagination" slot="pagination"></div>
                            </swiper>
                        </div>
                    </div>
                </section>

            </div>
        </div>

        <header class="header header-modal">
            <div class="header__block header__block--left"><a class="header__logo" href="/"><img src="/static/img/header/logo.svg"/><img class="dark-logo" src="/static/img/header/logo-black.svg"/></a></div>

            <button v-on:click="isPlatinumMobileClose" class="modal-close is-large" aria-label="close"></button>
        </header>
    </div>
</template>

<script>
    export default {
        name: "platinumMobile",
        data() {
            return {
                swiperOption: {
                    slidesPerView: 1,
                    spaceBetween: 30,
                    slidesPerGroup: 1,
                    loop: true,
                    loopFillGroupWithBlank: true,
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true
                    }},
                swiperOption1: {
                    slidesPerView: 1,
                    spaceBetween: 30,
                    slidesPerGroup: 1,
                    loop: true,
                    loopFillGroupWithBlank: true,
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true
                    }},

            }
        },
        methods: {

            isPlatinumMobileClose: function () {
                this.$emit('closed', {})
                console.log('click');
                fullpage_api.setAllowScrolling(true);

            },

        }
    }
</script>
