<template>
    <div class="modal is-active" style="z-index: 105">

        <div class="modal-content fullpage-container"style="width: 100%;" >

            <div class="flexScroll" >
                <section class="page package-section executive-physical__physical silver full-mobile"><img class="img-mobile" src="/static/img/executive-physical/silver/img_bg_1_mobile.jpg"/><img class="img-tablet" src="/static/img/executive-physical/silver/img_bg_1_tablet.jpg"/>
                    <div class="section__info__mobile">
                    <h2  class="section__info title-section executive-physical__title">Silver Physical</h2>
                    <h4  class="section__info executive-physical__subtitle">Basic Package</h4>
                    </div>
                </section>
                <section  class="page package-section executive-physical__collection silver full-mobile"><img class="img-mobile" src="/static/img/executive-physical/silver/img_bg_2_mobile.jpg"/><img class="img-tablet" src="/static/img/executive-physical/silver/img_bg_2_tablet.jpg"/>
                    <div class="section__info__mobile">
                    <h2  class="section__info title-section executive-physical__title">Data Collection</h2>

                    <h4  class="section__info executive-physical__subtitle">History Research & Total Body Physical</h4>

                    <span  class="section__info executive-physical__col-info">
                      <p>Following tests are performed:</p>
                      <swiper :options="swiperOption" class="ct-slider">
                        <swiper-slide>
                          <div class="executive-physical__col-info-wrapper">
                            <p>Resting Metabolic Rate</p>
                            <p >Caner Markers: CA 19 & CEA Enzyme</p>
                          </div>
                          <div  class="executive-physical__col-info-wrapper">
                            <p>Body Mass Index</p>
                            <p>Vitamin D Level</p>
                          </div>
                          <div  class="executive-physical__col-info-wrapper">
                            <p>Advanced Cardiac Evaluation and Analysis</p>
                          </div>
                        </swiper-slide>
                        <swiper-slide>
                          <div  class="executive-physical__col-info-wrapper">
                            <p>Toxic Load</p>
                            <p>Comprehensive Metabolic Panel</p>
                            <p>Inflammation Markers</p>
                          </div>
                          <div  class="executive-physical__col-info-wrapper">
                            <p>Complete blood count with differential</p>
                          </div>
                        </swiper-slide>
                        <div class="swiper-pagination" slot="pagination"></div>
                      </swiper>
                    </span>

                    </div>
                </section>
            </div>
        </div>

        <header class="header header-modal">
            <div class="header__block header__block--left"><a class="header__logo" href="/"><img src="/static/img/header/logo.svg"/><img class="dark-logo" src="/static/img/header/logo-black.svg"/></a></div>

            <button v-on:click="isSilverMobileClose" class="modal-close is-large" aria-label="close"></button>
        </header>
    </div>
</template>

<script>
    export default {
        name: "silverMobile",
        data() {
            return {
                swiperOption: {
                    slidesPerView: 1,
                    spaceBetween: 30,
                    slidesPerGroup: 1,
                    loop: true,
                    loopFillGroupWithBlank: true,
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true
                    }},
                opts: {
                    start: 0,
                    dir: 'v',
                    loop: false,
                    duration: 500,
                }
            }
        },
        methods: {

            isSilverMobileClose: function () {
                this.$emit('closed', {})
                fullpage_api.setAllowScrolling(true);

            },

        }
    }
</script>


<!--</div>-->
