<template>
  <div class="admin-page coupons-page">
    <admin-menu class="coupons-active" :class="this.$root.hideMenu ? 'w-70' : 'w-240'"></admin-menu>

    <div class="admin-content">
      <AdminHeader :class="this.$root.hideMenu ? 'w-70' : 'w-240'"></AdminHeader>
      <div class="admin-main-section">
        <h1 class="page-title">Coupons</h1>

        <div class="admin-main-block">
          <div class="admin-main-block-header">
            <div class="left-block">
              <h3 class="admin-main-title">Coupons list</h3>

            </div>
            <div class="right-block">
              <search
                :search-category="[
                  {title:'All', filter:'all'},
                  {title:'Coup ID', filter:'id'},
                  {title:'Description', filter:'description'},
                  {title:'Code', filter:'code'},
                  {title:'Email', filter:'owner'},
                  {title:'Total cost', filter:'amount'},
                  {title:'Status', filter:'status'}]"
                :onChange="onChangeSearch"
                :page="page"
              ></search>
              <button @click="onCreateCoupon" class="btn btn-round btn-button--green add-coupon">
                <plus-icon class="font-fix"></plus-icon>
                <span>Add coupon</span>
              </button>
            </div>
          </div>
          <div class="admin-filter-case">
            <filter-coupon-date-status
              :onChangeFilter="onFilterChange"
              :statusList="['Active', 'Expired']">
            </filter-coupon-date-status>
            <!-- <filter-date-status
              :onChangeFilter="onFilterChange"
              :statusList="['Active', 'Expired']">
            </filter-date-status> -->

            <div class="dropdown-bloc">
              <p class="selected-items">{{ itemsText }}</p>
              <div class=" btn btn-round btn-round--middle btn-button--gray"
                   v-bind:class="{'disabled': !activeBtn}"
                   @click="onDeleteModal">
                <span><trash-2-icon class="font-fix"></trash-2-icon> Delete</span>
              </div>
            </div>

          </div>
          <div class="admin-table">
            <table>
              <thead>
              <tr>
                <th class="table-header-th table-checkbox">
                  <label class="radio">
                    <input type="checkbox" v-model="selectAll"/>
                    <div class="radio__text"></div>
                  </label>
                </th>
                <th class="table-header-th">
                  <a @click="sortTable('id')">ID
                    <i class="fa"
                       :class="{'fa-sort': sort != 'id',
                         'active fa-sort-down': sort == 'id' && idSort=='ASC',
                         'active fa-sort-up': sort == 'id' && idSort=='DESC'}"></i>
                  </a>
                </th>
                <th class="table-header-th">
                  <a @click="sortTable('description')">Description
                    <i class="fa"
                       :class="{'fa-sort': sort != 'description',
                         'active fa-sort-down': sort == 'description' && descriptionSort=='ASC',
                         'active fa-sort-up': sort == 'description' && descriptionSort=='DESC'}"></i>
                  </a>
                </th>
                <th class="table-header-th">
                  <a @click="sortTable('owner')">Owner name
                    <i class="fa"
                       :class="{'fa-sort': sort != 'owner',
                         'active fa-sort-down': sort == 'owner' && ownerSort=='ASC',
                         'active fa-sort-up': sort == 'owner' && ownerSort=='DESC'}"></i>
                  </a>
                </th>
                <th class="table-header-th">
                  <a @click="sortTable('date_of_create')">Date of creation
                    <i class="fa"
                       :class="{'fa-sort': sort != 'date_of_create',
                         'active fa-sort-down': sort == 'date_of_create' && dateOfCreateSort=='ASC',
                         'active fa-sort-up': sort == 'date_of_create' && dateOfCreateSort=='DESC'}"></i>
                  </a>
                </th>
                <th class="table-header-th">
                  <a @click="sortTable('date_of_expiration')">Expiration date
                    <i class="fa"
                       :class="{'fa-sort': sort != 'date_of_expiration',
                         'active fa-sort-down': sort == 'date_of_expiration' && dateOfExpirationSort=='ASC',
                         'active fa-sort-up': sort == 'date_of_expiration' && dateOfExpirationSort=='DESC'}"></i>
                  </a>
                </th>
                <th class="table-header-th">
                  <a @click="sortTable('code')">Code
                    <i class="fa"
                       :class="{'fa-sort': sort != 'code',
                         'active fa-sort-down': sort == 'code' && codeSort=='ASC',
                         'active fa-sort-up': sort == 'code' && codeSort=='DESC'}"></i>
                  </a>
                </th>
                <th class="table-header-th">
                  <a @click="sortTable('amount')">Amount
                    <i class="fa"
                       :class="{'fa-sort': sort != 'amount',
                         'active fa-sort-down': sort == 'amount' && amountSort=='ASC',
                         'active fa-sort-up': sort == 'amount' && amountSort=='DESC'}"></i>
                  </a>
                </th>
                <th class="table-header-th">
                  <a @click="sortTable('status')">Status
                    <i class="fa"
                       :class="{'fa-sort': sort != 'status',
                         'active fa-sort-down': sort == 'status' && statusSotrt=='ASC',
                         'active fa-sort-up': sort == 'status' && statusSotrt=='DESC'}"></i>
                  </a>
                </th>
                <th class="table-header-th last">Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="(coupon, i) in couponsList" :key="i">
                <td class="table-td-left table-checkbox"><label class="radio">
                  <input type="checkbox" v-model="selected" :value="coupon.id" number
                         :id="'data-' + coupon.id" @change="clickCheckbox()"/>
                  <div class="radio__text"></div>
                </label></td>
                <td class="table-td-left item-id">{{ coupon.id }}</td>
                <td class="table-td-left">{{ coupon.description }}</td>
                <td class="table-td-left">{{ coupon.owner }}</td>
                <td class="table-td-left">{{ coupon.date_of_create }}</td>
                <td class="table-td-left">{{ coupon.date_of_expiration }}</td>
                <td class="table-td-left">{{ coupon.code }}</td>
                <td class="table-td-left" v-text="coupon.amount+coupon.type"></td>

                <td class="table-td-left">
                  <span class="coup-status"
                        v-bind:class="getClassforStatus(coupon.status)">
                    {{ coupon.status }}
                  </span>
                </td>
                <td class="table-td-left last">
                  <a @click="onEditCoupon(coupon.id)" class="btn btn-action">
                    <edit-icon class="font-fix"></edit-icon>
                  </a>
                  <a @click="onDeleteModal(coupon.id)" class="btn btn-action">
                    <trash-2-icon class="font-fix"></trash-2-icon>
                  </a>
                </td>
              </tr>
              </tbody>

            </table>
          </div>
          <pagination
            :total-records = "totalRecords"
            :changeTable='changeTable'
          ></pagination>
        </div>
      </div>
    </div>

    <delete-modal
      v-show="isModalDeleteVisible"
      :modalConfig="modalDeleteConfig"
      :onSubmit="onDeleteCoupon"
      @close="isModalDeleteVisible = false; modalDeleteConfig=null"
    />

    <addcoupon
      v-if="isCouponModalVisible"
      @close="isCouponModalVisible=false"
      :idCoupon="idCoupon"
      @newCoupon="newCoupon"
    />
  </div>
</template>

<script>
  import AdminMenu from "../general/AdminMenu";
  import AdminHeader from "../general/AdminHeader";
  import Search from "../general/Search";
  import Pagination from "../general/Pagination";
  import {EditIcon, Trash2Icon, ChevronDownIcon, PlusIcon, CalendarIcon} from 'vue-feather-icons';
  import Addcoupon from "./addcoupon";
  // import FilterDateStatus from "../components/filter-date-status";
  import FilterCouponDateStatus from "../components/filter-coupon-date-status";
  import DeleteModal from "../components/modals/delete";

  import axios from 'axios';
  import {apiURL} from '@/../config';

  export default {
    name: "AdminCoupons",
    components: {
      DeleteModal,
      FilterCouponDateStatus,
      Addcoupon, Search, AdminHeader, AdminMenu, EditIcon, Trash2Icon, ChevronDownIcon, PlusIcon, Pagination},
    data: function () {
      return {
        activeShow: false,
        isCouponModalVisible: false,
        activeBtn: false,
        selected: [],
        couponsList: [],
        itemsText: '',
        page: 1,
        limit: 10,
        order: 'ASC',
        filter: 'all',
        criteria: '',
        sort: 'id',
        idSort: 'ASC',
        descriptionSort: false,
        ownerSort: false,
        dateOfCreateSort: false,
        dateOfExpirationSort: false,
        codeSort: false,
        amountSort: false,
        statusSotrt: false,
        filterByStatus: '',
        filterByDateAfterCreate: '',
        filterByDateBeforeCreate: '',
        filterByDateAfterExpiration: '',
        filterByDateBeforeExpiration: '',
        type: '',
        idCoupon: null,
        isModalDeleteVisible: false,
        modalDeleteConfig: null,
        totalRecords: 0
      }
    },
    computed: {
      selectAll: {
        get: function () {
          return this.couponsList ? this.selected.length == this.couponsList.length : false;
        },
        set: function (value) {
          let selected = [];

          if (value) {
            this.couponsList.forEach(function (coup) {
              selected.push(coup.id);
            });
          }

          this.selected = selected;
          this.itemsText = !selected.length ? ''
            : ((selected.length == 1) ? '1 item selected:' : selected.length + ' items selected:');
          this.activeBtn = selected.length ? true : false;
        }
      }
    },
    methods: {
      newCoupon: function(data){
        let coupon = this.couponsList.find(item => item.id === data.id);
        let i = this.couponsList.indexOf(coupon);
        let newCoupon = {};
        if(data.owner){
          newCoupon = {
            ...data,
            owner: data.owner.email
          }
        } else {
          newCoupon = data;
        }
        if(coupon){
          this.couponsList[i] = newCoupon;
        } else {
          this.couponsList.push(newCoupon);
        }
        this.isCouponModalVisible = false;
      },
      onCreateCoupon: function () {
        this.idCoupon = null;
        this.isCouponModalVisible = true;
      },
      onEditCoupon: function (id) {
        this.idCoupon = id;
        this.isCouponModalVisible = true;
      },
      onDeleteModal: function (id) {
        this.modalDeleteConfig = {
          title: 'Delete Coupon',
        };
        if (id && typeof(id) != 'object') {
          this.modalDeleteConfig.id = id;
          this.modalDeleteConfig.description = 'The Coupon #"'+id+'" will be deleted. Are you sure?';
        } else if (this.selected.length > 0) {
          this.modalDeleteConfig.id = this.selected;
          this.modalDeleteConfig.description = 'The '+this.selected.length+' coupons will be deleted. Are you sure?';
        }
        this.isModalDeleteVisible = true;
      },
      onDeleteCoupon: function (data) {
        if (data.res.length && data.res.length > 0) {
          data.res.forEach(item => {
            this.couponsList = this.couponsList.filter(el => el.id != item);
            this.axiosDelete(item);
          })
        } else {
          this.couponsList = this.couponsList.filter(item => item.id != data.res);
          this.axiosDelete(data.res);
        }
      },
      axiosDelete: function (id) {
        axios({
          method: 'delete',
          url: apiURL + '/api/admin/coupon/' + id,
          headers: {
            Authorization: 'Bearer ' + this.$cookie.get('user_token'),
          },
        })
          .then(response => {
          })
          .catch(error => {
            document.location.replace('/admin/login');
          });
      },
      clickCheckbox: function () {
        this.activeBtn = this.selected.length ? true : false;
        this.itemsText = !this.selected.length ? ''
          : ((this.selected.length == 1) ? '1 item selected:' : this.selected.length + ' items selected:');
      },
      clickActive: function () {
        if (this.activeBtn) {
          this.activeShow = !this.activeShow;
        }
      },
      getClassforStatus: function (status) {
        return status.replace(' ', '-').toLowerCase();
      },
      onChangeSearch: function(data){
        this.filter = data.filter;
        this.criteria = data.criteria;
        this.page = 1;
        this.changeTable({page: this.page, limit: this.limit});
      },
      onFilterChange: function(data){
        if (data.filter) {
          let status = data.filter;
          this.filterByStatus = '';
          if (status.length == 1){
            this.filterByStatus = '&status[]=' + status[0];
          }
        }

        this.filterByDateAfterCreate = (data.afterCreate) ? '&after=' + data.afterCreate : '';
        this.filterByDateBeforeCreate = (data.beforeCreate) ? '&before=' + data.beforeCreate : '';
        this.filterByDateAfterExpiration = (data.afterExpiration) ? '&after='+ data.afterExpiration : '';
        this.filterByDateBeforeExpiration = (data.beforeExpiration) ? '&before='+ data.beforeExpiration : '';
        if(this.filterByDateAfterCreate && this.filterByDateBeforeCreate){
          this.type = 'creation';
          this.filterByDateAfterExpiration = '';
          this.filterByDateBeforeExpiration = '';
        } else if(this.filterByDateAfterExpiration && this.filterByDateBeforeExpiration) {
          this.type = 'expiration';
          this.filterByDateAfterCreate = '';
          this.filterByDateBeforeCreate = '';
        }

        this.page = 1;
        this.changeTable({page: this.page, limit: this.limit});
      },
      sortTable: function (param) {
        switch (param) {
          case 'description':
            this.sort = 'description';
            this.descriptionSort =  this.descriptionSort == 'ASC' ? 'DESC' : 'ASC';
            this.order = this.descriptionSort;
            this.idSort = false;
            this.ownerSort = false;
            this.dateOfCreateSort = false;
            this.dateOfExpirationSort = false;
            this.codeSort = false;
            this.amountSort = false;
            this.statusSotrt = false;
            break;
          case 'owner':
            this.sort = 'owner';
            this.ownerSort =  this.ownerSort == 'ASC' ? 'DESC' : 'ASC';
            this.order = this.ownerSort;
            this.idSort = false;
            this.descriptionSort = false;
            this.dateOfCreateSort = false;
            this.dateOfExpirationSort = false;
            this.codeSort = false;
            this.amountSort = false;
            this.statusSotrt = false;
            break;
          case 'date_of_create':
            this.sort = 'date_of_create';
            this.dateOfCreateSort =  this.dateOfCreateSort == 'ASC' ? 'DESC' : 'ASC';
            this.order = this.dateOfCreateSort;
            this.idSort = false;
            this.ownerSort = false;
            this.descriptionSort = false;
            this.dateOfExpirationSort = false;
            this.codeSort = false;
            this.amountSort = false;
            this.statusSotrt = false;
            break;
          case 'date_of_expiration':
            this.sort = 'date_of_expiration';
            this.dateOfExpirationSort =  this.dateOfExpirationSort == 'ASC' ? 'DESC' : 'ASC';
            this.order = this.dateOfExpirationSort;
            this.idSort = false;
            this.ownerSort = false;
            this.dateOfCreateSort = false;
            this.descriptionSort = false;
            this.codeSort = false;
            this.amountSort = false;
            this.statusSotrt = false;
            break;
          case 'code':
            this.sort = 'code';
            this.codeSort =  this.codeSort == 'ASC' ? 'DESC' : 'ASC';
            this.order = this.codeSort;
            this.idSort = false;
            this.ownerSort = false;
            this.dateOfCreateSort = false;
            this.dateOfExpirationSort = false;
            this.descriptionSort = false;
            this.amountSort = false;
            this.statusSotrt = false;
            break;
          case 'amount':
            this.sort = 'amount';
            this.amountSort =  this.amountSort == 'ASC' ? 'DESC' : 'ASC';
            this.order = this.amountSort;
            this.idSort = false;
            this.ownerSort = false;
            this.dateOfCreateSort = false;
            this.dateOfExpirationSort = false;
            this.codeSort = false;
            this.descriptionSort = false;
            this.statusSotrt = false;
            break;
          case 'status':
            this.sort = 'status';
            this.statusSotrt =  this.statusSotrt == 'ASC' ? 'DESC' : 'ASC';
            this.order = this.statusSotrt;
            this.idSort = false;
            this.ownerSort = false;
            this.dateOfCreateSort = false;
            this.dateOfExpirationSort = false;
            this.codeSort = false;
            this.amountSort = false;
            this.descriptionSort = false;
            break;
          default:
            this.sort = 'id';
            this.idSort =  this.idSort == 'ASC' ? 'DESC' : 'ASC';
            this.order = this.idSort;
            this.descriptionSort = false;
            this.ownerSort = false;
            this.dateOfCreateSort = false;
            this.dateOfExpirationSort = false;
            this.codeSort = false;
            this.amountSort = false;
            this.statusSotrt = false;
        }
        this.changeTable({page: this.page, limit: this.limit});
      },
      changeTable: function(data) {
        this.page = data.page;
        this.limit = data.limit;
        axios({
          method: 'get',
          url: apiURL + '/api/admin/coupons?page='+data.page+
          '&limit='+data.limit+
          '&sort='+this.sort+
          '&order='+this.order+
          '&filter='+this.filter+
          '&criteria='+this.criteria+
          '&type='+this.type+
          this.filterByStatus+
          this.filterByDateAfterCreate+
          this.filterByDateBeforeCreate+
          this.filterByDateAfterExpiration+
          this.filterByDateBeforeExpiration,
          headers: {
            Authorization: 'Bearer ' + this.$cookie.get('user_token'),
          },
        })
          .then(response => {
            this.couponsList = response.data.coupons;
            this.totalRecords = response.data.count;
          })
          .catch(error => {
            // document.location.replace('/admin/login');
          });
      }
    },
    mounted() {
      this.changeTable({page: this.page, limit: this.limit});
    },
  }

</script>

<style scoped>
  .admin-table {
    overflow-x: scroll;
  }
  .btn.btn-round.btn-round--middle {
    padding: 10px 20px !important;
  }
</style>










