<template>
  <div class="admin-page order-page">
    <admin-menu class="order-active" :class="this.$root.hideMenu ? 'w-70' : 'w-240'"></admin-menu>

    <div class="admin-content">
      <AdminHeader :class="this.$root.hideMenu ? 'w-70' : 'w-240'"></AdminHeader>
      <div class="admin-main-section">
        <h1 class="page-title">Orders</h1>

        <div class="admin-main-block">
          <div class="admin-main-block-header">
            <div class="left-block">
              <h3 class="admin-main-title">Orders list</h3>

            </div>
            <div class="right-block">
              <search
                :search-category = "[
                  {title:'All', filter:'all'},
                  {title:'ID', filter:'id'},
                  {title:'Order ID', filter:'shipping_id'},
                  {title: 'Customer', filter:'customer'},
                  {title: 'Email', filter:'email'},
                  {title: 'Total cost', filter:'total_cost'}]"
                :onChange="onChangeSearch"
              ></search>

            </div>
          </div>
          <div class="admin-filter-case">
            <filter-status :onSelect="onFilterChange"
                           :statusList="['Cancelled', 'Pending payment', 'Shipped', 'Processing', 'Paid', 'Products paid']">
            </filter-status>

            <div v-if="showDelete" class="dropdown-bloc">
              <p class="selected-items">{{ itemsText }}</p>
              <div class=" btn btn-round btn-round--middle btn-button--gray"
                   v-bind:class="{'disabled': !activeBtn}"
                   @click="onDelete">
                <span><trash-2-icon class="font-fix"></trash-2-icon> Delete</span>
              </div>
            </div>

          </div>
          <div class="admin-table">
            <table>
              <thead>
              <tr>
                <th v-if="showDelete" class="table-header-th table-checkbox">
                  <label class="radio">
                    <input type="checkbox" v-model="selectAll"/>
                    <div class="radio__text"></div>
                  </label>
                </th>
                <th class="table-header-th ">
                  <a @click="sortTable('id')">ID
                    <i class="fa"
                       :class="{'fa-sort': sort != 'id',
                        'active fa-sort-down': sort == 'id' && idSort=='ASC',
                        'active fa-sort-up': sort == 'id' && idSort=='DESC'}"></i>
                  </a>
                </th>
                <th class="table-header-th">
                  <a @click="sortTable('shipping_id')">Order ID
                    <i class="fa"
                       :class="{'fa-sort': sort != 'shipping_id',
                       'active fa-sort-down': sort == 'shipping_id' && orderIdSort=='ASC',
                       'active fa-sort-up': sort == 'shipping_id' && orderIdSort=='DESC'}"></i>
                  </a>
                </th>
                <th class="table-header-th">
                  <a  @click="sortTable('customer')">Customer
                    <i class="fa"
                       :class="{'fa-sort': sort != 'customer',
                       'active fa-sort-down': sort == 'customer' && customerSort=='ASC',
                       'active fa-sort-up': sort == 'customer' && customerSort=='DESC'}"></i>
                  </a>
                </th>
                <th class="table-header-th">
                  <a  @click="sortTable('email')">Email
                    <i class="fa"
                       :class="{'fa-sort': sort != 'email',
                       'active fa-sort-down': sort == 'email' && emailSort=='ASC',
                       'active fa-sort-up': sort == 'email' && emailSort=='DESC'}"></i>
                  </a>
                </th>
                <th class="table-header-th table-td-right">
                  <a  @click="sortTable('total_cost')">Total cost
                    <i class="fa"
                       :class="{'fa-sort': sort != 'total_cost',
                       'active fa-sort-down': sort == 'total_cost' && costSort=='ASC',
                       'active fa-sort-up': sort == 'total_cost' && costSort=='DESC'}"></i>
                  </a>
                </th>
                <th class="table-header-th">
                  <a @click="sortTable('status')">Status
                    <i class="fa"
                       :class="{'fa-sort': sort != 'status',
                       'active fa-sort-down': sort == 'status' && statusSort=='ASC',
                       'active fa-sort-up': sort == 'status' && statusSort=='DESC'}"></i>
                  </a>
                </th>
                <th class="table-header-th table-td-center last">Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="order in orderList">
                <td v-if="showDelete" class="table-td-left table-checkbox">
                  <label class="radio">
                    <input type="checkbox" v-model="selected" :value="order.id" number
                           :id="'data-' + order.id" @change="clickCheckbox()"/>
                    <div class="radio__text"></div>
                  </label>
                </td>
                <td class="table-td-left item-id tab"><a class="btn btn-link" :href="'/admin/order/' + order.id">{{ order.id }}</a></td>
                <td class="table-td-left tab">{{ order.id }}</td>
                <td class="table-td-left">{{ order.customer }}</td>


                <td class="table-td-left"><a :href="'mailto:' + order.email">{{ order.email}}</a></td>


                <td class="table-td-right tab">$ {{ order.total_cost }}</td>
                <td class="table-td-left">
                  <span class="order-status"
                        v-bind:class="getClassforStatus(order.status)">
                    {{ order.status }}
                  </span>
                </td>
                <td class="table-td-center last">
                  <a :href="'/admin/order/' + order.id" class="btn btn-action m-r-10">
                    <edit-icon class="font-fix"></edit-icon>
                  </a>
                  <a v-if="showDelete"  href="#" class="btn btn-action">
                    <trash-2-icon class="font-fix"></trash-2-icon>
                  </a>
                </td>
              </tr>
              </tbody>

            </table>
          </div>
          <pagination
            :total-records = totalRecords
            :changeTable='changeTable'
            :page="page"
          ></pagination>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
  import AdminMenu from "../general/AdminMenu";
  import AdminHeader from "../general/AdminHeader";
  import Search from "../general/Search";
  import {EditIcon, Trash2Icon, ChevronDownIcon} from 'vue-feather-icons';
  import Pagination from "../general/Pagination";
  import FilterStatus from "../components/filter-status.vue";

  import axios from 'axios';
  import {apiURL} from '@/../config';

  export default {
    name: "order",
    components: {
      FilterStatus,
      Pagination, Search, AdminHeader, AdminMenu, EditIcon, Trash2Icon, ChevronDownIcon},
    data: function () {
      return {
        showDelete: false,
        activeBtn: false,
        selected: [],
        itemsText: '0 item selected:',
        totalRecords: 0,
        page: 1,
        limit: 10,
        sort: 'id',
        order: 'ASC',
        idSort: 'ASC',
        orderIdSort: false,
        customerSort: false,
        emailSort: false,
        costSort: false,
        statusSort: false,
        orderList: [],
        filterByStatus: '',
        criteria: '',
        filter: 'all'
      }
    },
    computed: {
      selectAll: {
        get: function () {
          return this.orderList ? this.selected.length == this.orderList.length : false;
        },
        set: function (value) {
          let selected = [];

          if (value) {
            this.orderList.forEach(function (order) {
              selected.push(order.id);
            });
          }

          this.selected = selected;
          this.itemsText = !selected.length ? '0 item selected:'
            : ((selected.length == 1) ? '1 item selected:' : selected.length + ' items selected:') ;
          this.activeBtn = selected.length ? true : false;
        }
      }
    },
    methods: {
      clickCheckbox: function() {
        this.activeBtn = this.selected.length ? true : false;
        this.itemsText = !this.selected.length ? '0 item selected:'
          : ((this.selected.length == 1) ? '1 item selected:' : this.selected.length + ' items selected:') ;
      },
      onDelete: function () {
      },
      getClassforStatus: function(status) {
        return status.replace(/ /g, '-').toLowerCase();
      },
      onFilterChange: function(data){
        let result = data.filter;
        this.filterByStatus = '';
        if (result.length != 0) {
          result.forEach(item => {
            item = item === 'Processing' ? 'Delivery in Progress' : item;
            this.filterByStatus = '&status[]=' + item;
          });
        }
        this.page = 1;
        this.changeTable({page: this.page, limit: this.limit});
      },
      onChangeSearch:function(data){
        this.filter = data.filter;
        this.criteria = data.criteria;
        this.page = 1;
        this.changeTable({page: this.page, limit: this.limit});
      },
      sortTable: function(param){
        switch (param){
          case 'shipping_id':
            this.sort = 'shipping_id';
            this.orderIdSort =  this.orderIdSort == 'ASC' ? 'DESC' : 'ASC';
            this.order = this.orderIdSort;
            this.idSort = false;
            this.customerSort = false;
            this.emailSort = false;
            this.costSort = false;
            this.statusSort = false;
            break;
          case 'customer':
            this.sort = 'customer';
            this.customerSort =  this.customerSort == 'ASC' ? 'DESC' : 'ASC';
            this.order = this.customerSort;
            this.idSort = false;
            this.orderIdSort = false;
            this.emailSort = false;
            this.costSort = false;
            this.statusSort = false;
            break;
          case 'email':
            this.sort = 'email';
            this.emailSort =  this.emailSort == 'ASC' ? 'DESC' : 'ASC';
            this.order = this.emailSort;
            this.idSort = false;
            this.orderIdSort = false;
            this.customerSort = false;
            this.costSort = false;
            this.statusSort = false;
            break;
          case 'total_cost':
            this.sort = 'total_cost';
            this.costSort =  this.costSort == 'ASC' ? 'DESC' : 'ASC';
            this.order = this.costSort;
            this.idSort = false;
            this.orderIdSort = false;
            this.customerSort = false;
            this.emailSort = false;
            this.statusSort = false;
            break;
          case 'status':
            this.sort = 'status';
            this.statusSort =  this.statusSort == 'ASC' ? 'DESC' : 'ASC';
            this.order = this.statusSort;
            this.idSort = false;
            this.orderIdSort = false;
            this.customerSort = false;
            this.emailSort = false;
            this.costSort = false;
            break;
          default:
            this.sort = 'id';
            this.idSort =  this.idSort == 'ASC' ? 'DESC' : 'ASC';
            this.order = this.idSort;
            this.firstNameSort = false;
            this.lastNameSort = false;
            this.phoneSort = false;
            this.emailSort = false;
        }
        this.changeTable({page: this.page, limit: this.limit});
      },
      changeTable: function(data) {
        this.page = data.page;
        this.limit = data.limit;
        axios({
          method: 'get',
          url: apiURL + '/api/admin/orders?page='+data.page+
          '&limit='+data.limit+
          '&sort='+this.sort+
          '&order='+this.order+
          '&filter='+this.filter+
          '&criteria='+this.criteria+this.filterByStatus,
          headers: {
            Authorization: 'Bearer ' + this.$cookie.get('user_token'),
          },
        })
          .then(response => {
            this.orderList = response.data.orders;
            this.orderList.forEach(item => {
              item.status = item.status === 'Delivery in Progress' ? 'Processing' : item.status;
            });
            this.totalRecords = response.data.count;
          })
          .catch(error => {
            document.location.replace('/admin/login');
          });
      }
    },
    created(){
      this.changeTable({page: this.page, limit: this.limit});
    },
    mounted() {
      setTimeout (() => {
        this.changeTable({page: this.page, limit: this.limit});
      }, 1000)
    },
  }

</script>

<style scoped>

</style>
