<template>
  <div class="admin-page order-page order-page--info">
    <admin-menu class="order-active" :class="this.$root.hideMenu ? 'w-70' : 'w-240'"></admin-menu>
    <div class="admin-content">
      <AdminHeader :class="this.$root.hideMenu ? 'w-70' : 'w-240'"></AdminHeader>
      <div class="admin-main-section">
        <div class="admin-main-section-header">
          <div class="left-block">
            <h1 class="page-title">Order #{{ order.id }}</h1>
          </div>
          <div class="right-block">
            <div class="dropdown-bloc">
              <p class="selected-items">Order Status</p>
              <div class="dropdown-btn"
                   :data-status="orderStatus.optionClass"
                   @click="statusShow = !statusShow">
                <span>{{ orderStatus.optionTitle }}</span><chevron-down-icon class="font-fix"></chevron-down-icon>
              </div>
              <div class="dropdown-list" v-if="statusShow">
                <a v-for="(status, i) in statusList" 
                   :key="i"
                   @click="trychangeStatus(status)" 
                   :data-class="status.optionClass">{{ status.optionTitle }}</a>
              </div>
            </div>
          </div>
        </div>

        <div class="order-info-block">

          <div class="order-info-item">
            <div class="admin-main-block">
              <div class="admin-main-block-header">
                <h3 class="admin-main-title">Order information</h3>
              </div>
              <div class="admin-main-block-body">
                <table>
                  <tr>
                    <td class="table-title">Customer:</td>
                    <td class="table-info user-name">{{ order.customer}}</td>
                  </tr>
                  <tr>
                    <td class="table-title">Customer email:</td>
                    <td class="table-info"><a>{{ order.email }}</a></td>
                  </tr>
                  <tr>
                    <td class="table-title">Phone number:</td>
                    <td class="table-info">{{ order.phone }}</td>
                  </tr>
                  <tr>
                    <td class="table-title">Order creation date:</td>
                    <td class="table-info">{{ order.created }}</td>
                  </tr>
                  <tr>
                    <td class="table-title">Order update date:</td>
                    <td class="table-info">{{ order.updated }}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <div class="order-info-item">
            <div class="admin-main-block">
              <div class="admin-main-block-header">
                <h3 class="admin-main-title">Shipping address</h3>
              </div>
              <div class="admin-main-block-body">
                <table>
                  <tr>
                    <td class="table-title">Address:</td>
                    <td class="table-info">{{ order.address }}</td>
                  </tr>
                  <tr>
                    <td class="table-title">City:</td>
                    <td class="table-info">{{ order.city }}</td>
                  </tr>
                  <tr>
                    <td class="table-title">State/province/region:</td>
                    <td class="table-info">{{ order.state }}</td>
                  </tr>
                  <tr>
                    <td class="table-title">Country:</td>
                    <td class="table-info">{{ order.country }}</td>
                  </tr>
                  <tr>
                    <td class="table-title">ZIP/postal code:</td>
                    <td class="table-info">{{ order.zip }}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <div class="order-info-item">
            <div class="admin-main-block">
              <div class="admin-main-block-header">
                <h3 class="admin-main-title">Order total</h3>
              </div>
              <div class="admin-main-block-body">
                <table>
                  <tr>
                    <td class="table-title">Subtotal:</td>
                    <td class="table-info cost">${{ priceFormat(order.subtotal_cost) }}</td>
                  </tr>
                  <tr>
                    <td class="table-title">Discount:</td>
                    <td class="table-info cost">
                      <span v-if="order.discount_cost">–${{ priceFormat(order.discount_cost) }}</span>
                      <span v-if="!order.discount_cost">$0</span>
                    </td>
                  </tr>
                  <tr>
                    <td class="table-title">Shipping:</td>
                    <td class="table-info cost">${{ priceFormat(order.shipping_cost) }}</td>
                  </tr>
                  <tr>
                    <td class="table-title total-cost">Total cost:</td>
                    <td class="table-info cost total-cost">${{ priceFormat(order.total_cost) }}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

        </div>

        <div class="order-products-block">
          <div class="admin-main-block">
            <div class="admin-main-block-header">
              <h3 class="admin-main-title">Products List</h3>
            </div>
            <table>
              <tr v-for="product in productList">
                <td class="product-info">
                  <div>
                    <div class="product-image">
                      <img :src="product.src"/>
                    </div>
                  </div>
                  <div>
                    <p class="product-title">{{ product.name }}</p>
                    <p class="product-id"><a :href="'/shop/product/' + product.slug" target="_blank">#{{ product.id }}</a></p>
                  </div>
                </td>
                <td class="product-prie">
                  <span v-if="product.old_price" class="old-price">${{ priceFormat(product.old_price) }}</span>
                  <span class="price">${{ priceFormat(product.price) }}</span>
                </td>
                <td class="count">
                  <span>x{{ product.quantity }}</span>
                </td>
                <td class="total-cost">
                  <span class="price">${{ priceFormat(product.total) }}</span>
                </td>
              </tr>

            </table>
          </div>
        </div>

      </div>
    </div>
    <delete-modal v-show="isChangeStatus"
                  :modalConfig="modalConfig"
                  :onSubmit="onchangeStatus"
                  btnTitle="Change"
                  @close="isChangeStatus = false;"></delete-modal>
  </div>

</template>

<script>
  import AdminMenu from "../general/AdminMenu";
  import AdminHeader from "../general/AdminHeader";
  import {ChevronDownIcon} from 'vue-feather-icons';

  import axios from 'axios';
  import {apiURL} from '@/../config';
  import DeleteModal from "../components/modals/delete.vue";

  export default {
    name: "AdminOrderInfo",
    components: {
      DeleteModal,
      AdminHeader, AdminMenu, ChevronDownIcon},
    data () {
      return {
        orderValue: '',
        orderStatus: {
          optionTitle: 'Pending payment',
          optionClass: 'pending-payment'
        },
        orderOptions: [
          {
            optionTitle: 'Shipped',
            optionClass: 'shipped'
          },{
            optionTitle: 'Cancelled',
            optionClass: 'cancelled'
          },{
            optionTitle: 'Processing',
            optionClass: 'delivered'
          },{
            optionTitle: 'Pending payment',
            optionClass: 'pending-payment',
          },{
            optionTitle: 'Paid',
            optionClass: 'paid',
          }

        ],
        statusShow: false,
        isChangeStatus: false,
        modalConfig: null,
        order:{
          id: '',
          customer: '',
          email: '',
          phone: '',
          createdAt: '',
          updateAt: '',
          address: '',
          city: '',
          state: '',
          country: '',
          zip: '',
          subtotal_cost: '',
          discount_cost: '',
          shipping_cost: '',
          total_cost: ''
        },
        productList: [],
        statusList: []
      }
    },
    methods: {
      priceFormat: function(data){
        return Number.prototype.toFixed.call(parseFloat(data) || 0, 2);
      },
      getClassforStatus: function(status) {
        return status.replace(' ', '-').toLowerCase();
      },
      trychangeStatus: function(status){
        let currentStatus = status.optionTitle;
        this.modalConfig = {
          title: 'Change status',
          description: 'Do you really want to change status from "'+this.orderStatus.optionTitle+'" to "'+currentStatus+'"?',
          id: currentStatus
        };
        this.statusShow = false;
        this.isChangeStatus = true;
      },
      onchangeStatus: function(data){
        data.res = data.res === 'Processing' ? 'Delivery in Progress' : data.res;
        axios({
          method: 'put',
          url: apiURL + '/api/admin/order-change-order/' + this.$route.params.id,
          headers: {
            Authorization: 'Bearer ' + this.$cookie.get('user_token'),
          },
          data: {status: data.res}
        })
          .then(response => {
            let order = response.data;
            let status = data.res === 'Delivery in Progress' ? 'Processing' : data.res;
            this.order.updated = order.updateAt ? order.updateAt.substring(0, order.updateAt.indexOf('T')) : '';
            this.orderStatus.optionClass = this.getClassforStatus(status);
            this.orderStatus.optionTitle = status;
            this.statusShow = false;
  
            this.statusList = [...this.orderOptions];
            this.statusList.forEach((item, i) => {
              if(item.optionTitle == status){
                this.statusList.splice(i, 1);
              }
            });
          })
          .catch(err => {
            document.location.replace('/admin/orders');
          });
      },
      getOrderInfo(){
        axios({
          method: 'get',
          url: apiURL + '/api/admin/order/' + this.$route.params.id,
          headers: {
            Authorization: 'Bearer ' + this.$cookie.get('user_token'),
          },
        })
          .then(response => {
            if (response.data) {
              this.order = response.data;
              this.order.created = this.order.createdAt ? this.order.createdAt.substring(0,this.order.createdAt.indexOf('T')) : '';
              this.order.updated = this.order.updateAt ? this.order.updateAt.substring(0,this.order.updateAt.indexOf('T')) : '';
              this.productList = [...this.order.orderDetailed];
              this.productList.forEach(item => {
                item.src = (item.image.length >0) ? apiURL + item.image[0].media.filename : '';
                item.total = item.price * item.quantity;
              });
              this.orderStatus = {
                optionTitle: this.order.status,
                optionClass: this.getClassforStatus(this.order.status)
              };
              this.statusList = [...this.orderOptions];
              this.statusList.forEach((item, i) => {
                if(item.optionTitle == this.order.status){
                  this.statusList.splice(i, 1);
                }
              });
            }
          })
          .catch(err => {
            document.location.replace('/admin/orders');
          });
      },
    },
    mounted() {
      this.getOrderInfo();
    },
  }

</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style scoped>

</style>
