<template>
  <div class="input-group form-control">
    <p class="text-form">Products</p>
    <multiselect v-model="product"
                :options="productList"
                :multiple="true"
                :close-on-select="false"
                :clear-on-select="false"
                :preserve-search="true"
                placeholder="Select products"
                label="name"
                track-by="name"
                @input="onChange"
                :preselect-first="true"
                :disabled="disabled"
                />
  </div>
</template>
<script>
  import Multiselect from 'vue-multiselect';

  import axios from 'axios';
  import {apiURL} from '@/../config';

  export default {
    name: 'product',
    props:['onChangeProduct', 'products', 'errorInput', 'disabled'],
    data() {
      return {
        value: [],
        product: [],
        productsId: [],
        productList: [],
        page: 1,
        limit: 1000,
        sort: 'id',
        order: 'ASC',
      }
    },
    components: {
      Multiselect
    },
    watch: {
      products: function() {
        this.product = this.products;
      } 
    },
    methods: {
      onChange(value){
        this.$emit('onChangeProduct', value);
      },
      getProductList: function(data) {
        let url = '/api/admin/products?' +
            'page='+this.page+
            '&limit='+this.limit+
            '&sort='+this.sort+
            '&order='+this.order
        axios({
          method: 'get',
          url: apiURL + url,
          headers: {
            Authorization: 'Bearer ' + this.$cookie.get('user_token'),
          },
        })
          .then(response => {
            this.productList = response.data.products;
          })
          .catch(error => {
            document.location.replace('/admin/login');
          });
      }
    },
    mounted() {
      this.getProductList();
    },
  }
</script>
<style lang="scss">
  #admin .multiselect {
    .multiselect__tags {
      border: 1px solid #D7E4F0
    }
  }
  #admin .multiselect.error-input{
    .multiselect__tags {
      border-color: #FE0341;
    }
  }
</style>
