<template>
  <div class="shop-page checkout-page">
    <loader v-if="isLoader"></loader>
    <div class="open-shom-menu" v-if="this.$root.openShopMenu"></div>
    <shop-header :hideAllBlock="this.$root.openShopMenu"></shop-header>
    <shop-menu :hideAllBlock="this.$root.openShopMenu"></shop-menu>
    <div class="wrapper">
      <div v-if="!isThanksBlock" class="shop-main-section">
        <p class="shop-title" v-if="!isChangeAddress">Checkout</p>
        <div class="double-block" v-show="!isChangeAddress">
          <div class="left-side border-block">
            <div class="checkout-section">
              <div class="checkout-block">
                <div class="c-tiile">
                  <span class="round">1</span>
                  <p class="checkout-title">Personal information</p>
                </div>
                <div class="account-info" v-if="!isUser">
                  <sign-in
                    v-if="!isSignUp"
                    :client="true"
                    :checkout="true"
                    v-on:onSignUp="onSignUp"
                    @user="onAuth"
                  ></sign-in>
                  <create-account v-if="isSignUp" :checkout="true" v-on:onSignUp="onSignUp" @user="onAuth"></create-account>
                </div>
                <div class="account-info" v-if="isUser">
                  <personal-info-form
                    v-if="isEditPersonalInfo"
                    :userInfo="user"
                    :checkoutPage="true"
                    v-on:savePersonalInfo="savePersonalInfo"
                  />
                  <personal-info
                    v-if="!isEditPersonalInfo"
                    v-on:editPersonalInfo="openEditPersonalForm"
                    :isChangeUser="isChangeUser"
                  />
                </div>
              </div>
              <div class="checkout-block">
                <div class="c-tiile">
                  <span class="round">2</span>
                  <p class="checkout-title">Shipping / Billing address</p>
                </div>
                <div class="account-info" v-show="isUser">
                  <shipping-address-form
                    v-if="!defaultShippingAddress"
                    v-on:saveShippingInfo="saveShippingInfo"
                  />
                  <shipping-address-info
                    v-if="defaultShippingAddress"
                    :class="'checkout-shipping-info'"
                    isChange="true"
                    v-on:changeShippingAddress="changeShippingAddress"
                    :shippingAddress="shippingAddress"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="right-side">
            <div class="checkout-section">
              <cart-info :isUpdateCartInfo=isUpdateCartInfo @totalPrice="getTotalPrice" @productInfo="productInfo"></cart-info>
              <pay-block
                v-if="isUser"
                v-on:trackError="payError"
                v-on:payProcess="payProcess"
                v-on:trackSuccessfully="paySuccessfully"
              ></pay-block>
              <div class="cp-keep">
                <a href="/shop" class="btn btn-link btn-link--modal">Keep shopping</a>
              </div>
            </div>
          </div>
        </div>

        <div class="border-block" v-if="isChangeAddress && isUser">
          <shipping-addrress-list
            title="Select address"
            :haveAddNewAddress="haveAddNewAddress"
            v-on:cancelSelectShippingAddress="cancelSelectShippingAddress"
            v-on:saveSelectShippingAddress="saveSelectShippingAddress"
            isCheckoutPage="true"
          ></shipping-addrress-list>
        </div>
      </div>

      <div v-if="isThanksBlock" class="shop-main-section">
        <thanks-block :orderId="cartId" :totalPrice="totalPrice"></thanks-block>
      </div>
    </div>
    <AppFooter></AppFooter>
  </div>
</template>

<script>
import ShopHeader from "../general/shopHeader";
import ShopMenu from "../general/shopMenu";
import AppFooter from "../../general/Footer";
import ShippingAddressInfo from "../components/shipping-address-info";
import PersonalInfoForm from "../components/personal-info-form";
import PersonalInfo from "./elements/personal-info";
import CartInfo from "./elements/cart-info.vue";
import ShippingAddressForm from "../components/shipping-address-form";
import ShippingAddrressList from "../components/shipping-address-list";
import miniToastr from "mini-toastr";
import axios from "axios";
import { apiURL } from "@/../config";
import PayBlock from "./elements/pay-block.vue";
import ThanksBlock from "./elements/thanks-block.vue";
import Loader from "../components/loader.vue";
import SignIn from "../../general/signInForm.vue";
import CreateAccount from "../login/components/create-account.vue";

export default {
  name: "checkout",
  components: {
    CreateAccount,
    SignIn,
    Loader,
    ThanksBlock,
    PayBlock,
    ShippingAddrressList,
    ShippingAddressForm,
    CartInfo,
    PersonalInfo,
    PersonalInfoForm,
    ShippingAddressInfo,
    AppFooter,
    ShopMenu,
    ShopHeader
  },
  data() {
    return {
      isEditPersonalInfo: false,
      user: null,
      shippingAddress: null,
      isChangeUser: false,
      isChangeAddress: false,
      defaultShippingAddress: false,
      haveAddNewAddress: null,
      isLoader: false,
      isThanksBlock: false,
      cartId: null,
      isSignUp: false,
      isUser: false,
      isUpdateCartInfo: false,
      totalPrice: 0,
      cartInfo: null
    };
  },
  created() {
    this.isUser = !!this.$cookie.get("user_token");
  },
  watch: {
    isUser(){
      if(this.isUser){
        this.getShippingAddress();
      }
    }
  },
  methods: {
    openEditPersonalForm: function(user) {
      this.user = user;
      this.isEditPersonalInfo = true;
    },
    savePersonalInfo: function() {
      this.isChangeUser = true;
      this.isEditPersonalInfo = false;
    },
    changeShippingAddress: function() {
      this.isChangeAddress = true;
      this.$cookie.set("shipping_id_temp", this.$cookie.get("shipping_id"));
    },
    saveShippingInfo: function(id) {
      this.$cookie.set("shipping_id", id);
      this.haveAddNewAddress = id;
      this.$store.commit('setShippingId', id);
      this.getShippingAddress();
    },
    cancelSelectShippingAddress: function() {
      this.isChangeAddress = false;
    },
    saveSelectShippingAddress: function() {
      this.getShippingAddress();
      this.isChangeAddress = false;
    },
    getShippingAddress: function() {
      let shippingId = this.$cookie.get("shipping_id");
      if (shippingId) {
        axios({
          method: "get",
          url: apiURL + "/api/user/address/" + shippingId,
          headers: {
            Authorization: "Bearer " + this.$cookie.get("user_token")
          }
        })
          .then(response => {
            this.shippingAddress = response.data;
            this.defaultShippingAddress = true;
          })
          .catch(error => {
            this.defaultShippingAddress = false;
            if (this.$cookie.get("shipping_id")) {
              this.$cookie.delete("shipping_id");
            }
            if (this.$cookie.get("shipping_id_temp")) {
              this.$cookie.delete("shipping_id_temp");
            }
          });
      } else {
        axios({
          method: "get",
          url: apiURL + "/api/user/address/list",
          headers: {
            Authorization: "Bearer " + this.$cookie.get("user_token")
          }
        })
          .then(response => {
            let shipping = response.data;
            if (shipping.length <= 0) {
              this.defaultShippingAddress = false;
            } else {
              let filter = shipping.filter(item => item.make_default);
              if (filter.length > 0) {
                this.shippingAddress = filter[0];
              } else {
                this.shippingAddress = shipping[0];
              }
              this.$cookie.set("shipping_id", this.shippingAddress.id);
              this.defaultShippingAddress = true;
            }
          })
          .catch(error => {});
      }
    },
    productInfo(data) {
      this.cartInfo = data;
    },
    payProcess: function() {
      this.isLoader = true;
    },
    payError: function() {
      this.isLoader = false;
    },
    paySuccessfully: function(id) {
      this.isLoader = false;
      this.cartId = id;
      this.isThanksBlock = true;
      this.$root.cartCount = 0;
      if (this.$cookie.get("cart_token")) {
        this.$cookie.delete("cart_token");
      }
      if (this.$cookie.get("brain_tree")) {
        this.$cookie.delete("brain_tree");
      }
      if (this.$cookie.get("shipping_id")) {
        this.$cookie.delete("shipping_id");
      }

      let productsNames = this.cartInfo.productList.map(item => item.name);
      let seconds = new Date().getTime() / 1000;

      let _learnq = _learnq || [];

      _learnq.push(['track', 'Checkout', {
        "token" : "pk_b4e7c620a05cc0d29c5471f4e8b7d947ca",
        "event" : "Placed Order",
        "customer_properties" : {
          "$email" : this.$store.state.user.email,
          "$first_name" : this.$store.state.user.first_name,
          "$last_name" : this.$store.state.user.last_name
        },
        "properties" : {
          "$event_id" : this.cartInfo.cart_id,
          "$value" : this.totalPrice,
          "ItemNames" : productsNames,
          "Discount Code": this.cartInfo.discountCode, // Discount code (if applicable)
          "Discount Value": this.cartInfo.discountValue, // Value of discount (if applicable)
          "Items" : this.cartInfo.productList
        },
        "time" : Math.ceil(seconds)
      }]);

      this.$router.push({name:'thank-you'});
    },
    getTotalPrice(price) {
      this.totalPrice = price;
    },
    onSignUp: function(res) {
      this.isSignUp = res;
    },
    onAuth() {
      this.$store.dispatch('getUser', this.$cookie.get("user_token")).then(user => {
          this.isUser = true;
          this.user = user;
          this.isUpdateCartInfo = true;
          miniToastr.success("You successfully logged in", "Success", "3000");
      });
    }
  },
  mounted() {
    if (!this.$cookie.get("cart_token") && !this.$route.query.token) {
      document.location.replace("/shop");
    }
  }
};
</script>

