<template>
    <div>{{$route.query['t']}}</div>
</template>
<script>
export default {
  name: 'login-handler',
  created() {
    if (this.$route.query && this.$route.query.t) {
      this.token = this.$route.query.t;
      if (!opener) {
        console.warn('no opener');
      } else {
        opener.dispatchEvent(
          new CustomEvent('token', {
            detail: {
              token: this.token
            }
          })
        );
      }
    }
    window.close();
  }
};
</script>