<template>
  <div class="admin-product-section">
    <div class="input-group form-control">
      <multiselect v-model="bundles" placeholder="Search a product"
                   label="name" track-by="code" :options="bundlesList"
                   :multiple="false"
                   :taggable="true"
                   :close-on-select="true"
                   @input="onChange"></multiselect>
    </div>
  </div>

</template>



<script>
  import Multiselect from 'vue-multiselect';

  import axios from 'axios';
  import {apiURL} from '@/../config';

  export default {
    name: 'bundles',
    props: ['classBind', 'productBundles', 'changeBundles', 'onChangeBundles','errorInput'],
    data() {
      return {
        bundles: [],
        bundlesId: [],
        bundlesList: [],
        bundlesCreate: [],
        bundlesAdd: [],
        bundlesRemove: [],
        errorBlock: false,
      }
    },
    components: {
      Multiselect
    },
    watch: {
      productBundles: function(newVal, oldVal) {
        let tags = [...newVal];
        this.bundles = [];
        tags.forEach(item =>{
          this.bundles.push({name: item.name, code: item.id});
          this.bundlesId.push(item.id);
        });
      },
      errorInput: function (newVal, oldVal) {
        this.errorBlock = newVal;
      }
    },
    methods: {
        onChange(value){
            if (this.errorBlock) {
                this.errorBlock = false;
            }
            let add = [],
                remove = [...this.bundlesId];
            if(value == null) {
                this.bundlesRemove = remove;
            } else {
                add.push(value.code, value.name);
                this.bundlesAdd = add;
                this.bundlesRemove = remove;
            }
            this.changeBundles({
                add: add,
                remove: remove
            });
        },
      getBundlesList: function () {
        axios({
          method: 'get',
          url: apiURL + '/api/admin/bundled',
          headers: {
            Authorization: 'Bearer ' + this.$cookie.get('user_token'),
          },
        })
          .then(response => {
            let tags = response.data,
              result = [],
              productTags = this.productBundles ? this.productBundles : [],
              productTagsSelected = [];
            tags.forEach(function(item, i, arr) {
              result.push({name: item.name, code: item.id});
              if (productTags.indexOf(item.id) != -1){
                productTagsSelected.push({name: item.name, code: item.id});
              }
            });
            this.bundlesList = result;
            this.bundles = productTagsSelected;
          })
      }
    },
    mounted() {
      this.getBundlesList();

    },
  }
</script>

<style lang="scss">
  .multiselect.error-input{
    .multiselect__tags {
      border-color: #FE0341;
    }
  }
</style>

