<template>
  <div class="input-group form-control">
    <p class="text-form">Product categories</p>
    <multiselect v-model="category" tag-placeholder="Add this as new category"
                 placeholder="Select product categoryes"
                 label="name" track-by="code"
                 :options="categoryList"
                 :class="{'error-input': errorBlock}"
                 :multiple="true"
                 :taggable="false"
                 :close-on-select="false"
                 @input="onChange"
    ></multiselect>
    <p v-if="errorBlock" class="error-text">This field is required.</p>
  </div>

</template>
<script>
  import Multiselect from 'vue-multiselect';

  import axios from 'axios';
  import {apiURL} from '@/../config';

  export default {
    name: 'category',
    props:['onChangeCategory', 'productCategories', 'errorInput'],
    data() {
      return {
        category: [],
        categoriesId: [],
        categoryList: [],
        errorBlock: false,
      }
    },
    components: {
      Multiselect
    },
    watch: {
      productCategories: function(newVal, oldVal) {
        let productCategory = [...newVal];
        this.category = [];
        this.categoriesId = [];
        productCategory.forEach(item =>{
          this.category.push({name: item.name, code: item.id});
          this.categoriesId.push(item.id);
        });
      },
      errorInput: function (newVal, oldVal) {
        this.errorBlock = newVal;
      }
    },
    methods: {
      addCat(newTag) {
        //@TODO add function for create category
        const tag = {
          name: newTag,
          code: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
        };
        this.categoryList.push(tag);
        this.category.push(tag);
      },

      onChange(value){
        if (this.errorBlock) {
          this.errorBlock = false;
        }
        let productCategory = [...this.categoriesId],
          add = [],
          remove = [...this.categoriesId];
        value.forEach(item =>{
          if (productCategory.indexOf(item.code) == -1) {
            add.push(item.code);
          }
          if (productCategory.indexOf(item.code) != -1) {
            remove.splice(remove.indexOf(item.code), 1);
          }
        });
        this.onChangeCategory({
          add: add,
          remove: remove
        });
      },

      getCategoryList: function () {
        axios({
          method: 'get',
          url: apiURL + '/api/admin/category-select',
          headers: {
            Authorization: 'Bearer ' + this.$cookie.get('user_token'),
          },
        })
          .then(response => {
            let categoryes = response.data;
            let result = [];
            categoryes.forEach(function(item, i, arr) {
              result.push({name: item.name, code: item.id})
            });
            this.categoryList = result;
          })
          .catch(error => {
            document.location.replace('/admin/login');
          });
      },
    },
    mounted() {
      this.getCategoryList();
    },
  }
</script>
<style lang="scss">
  #admin .multiselect.error-input{
    .multiselect__tags {
      border-color: #FE0341;
    }
  }
</style>
