<template>
  <div class="admin-main-block">
    <div class="admin-main-block-header">
      <div class="left-block">
        <h3 class="admin-main-title">Delivery periods</h3>
      </div>

      <div class="right-block">
        <div class="product-enable m-b">
          <p class="product-enable--title">Enable</p>
          <custom-checkbox attr-id="delivery_period"
                           v-model="delivaryEnable"
                           :onChange="onChangeDeliveryEnable"></custom-checkbox>
        </div>
      </div>
    </div>
    <div class="admin-main-block-body">
      <div class="admin-product-section">

        <div class="delivery-row" v-for="(item,key) in list">
          <div class="input-group form-control">
            <div class="d-f product-volume">
              <input class="input-form" type="number"
                     :value="item.period"
                     :data-index="key"
                     @change="onChangePeriod">
              <select v-model="item.unit" :value="item.unit" @change="onChangeUnit" :data-index="key">
                <option value="day">Day</option>
                <option value="days">Days</option>
                <option value="week">Week</option>
                <option value="weeks">Weeks</option>
                <option value="month">Month</option>
                <option value="months">Months</option>
              </select>
            </div>
          </div>
          <button type="button" class="btn btn-button btn-button--gray"
                  @click='onDelete(key)'>
            <trash2-icon class="font-fix"></trash2-icon>
          </button>
        </div>

        <button class="btn btn-link" @click="addDelivery">
          <plus-circle-icon class="font-fix"></plus-circle-icon>
          Add delivery period</button>
      </div>

      <div class="d-f">
        <button type="button" class="btn btn-round btn-round--middle btn-button--gray"
                @click="onCancel">Cancel</button>
        <button type="button" class="btn btn-round btn-round--middle btn-button--green m-l"
                :class="{'disabled': !isChangeDeliveryPeriod}" @click="onSave">Save</button>
      </div>
    </div>
  </div>

</template>
<script>
  import {PlusCircleIcon, Trash2Icon} from 'vue-feather-icons';
  import CustomCheckbox from '../../components/custom-checkbox';

  import axios from 'axios';
  import {apiURL} from '@/../config';

  export default {
    name: 'delivery-period',
    props: ['productId', 'enable', 'deliveryList', 'onChange', 'onEnable', 'saveDelivery'],
    data() {
      return {
        list: [],
        remove: [],
        delivaryEnable: false,
        isChangeDeliveryPeriod: false,
      }
    },
    watch:{
      enable: function(newVal, oldVal){
        this.delivaryEnable = newVal ? newVal : false;
      },
      deliveryList: function (newVal, oldVal) {
        this.list = [...newVal];
      }
    },
    methods: {
      onChangeDeliveryEnable(data){
        if (this.productId) {
          this.updateData('status-delivery-period', {status: data.value})
        }
        this.onEnable(data);
      },
      updateDeliveryPeriod: function () {
        let create = [], update = {};
        this.list.forEach(function(item, i, arr){
          if (!item.id) {
            create.push({period: parseInt(item.period), unit: item.unit})
          }
          if (item.id && item.update){
            update[item.id]={period: parseInt(item.period), unit: item.unit};
          }
        });
        return {
          create: create,
          delete: this.remove,
          update: update
        }
      },
      updateForCreate: function(){
        let create = [];
        this.list.forEach(function(item, i, arr){
          create.push({period: parseInt(item.period), unit: item.unit})
        });
        this.onChange({
          create: create,
        });
      },
      onChangePeriod: function (event) {
        let index = event.srcElement.getAttribute('data-index');
        this.list[index].period = event.srcElement.value;
        if (this.list[index].id) {
          this.list[index].update = true;
        }
        if (!this.productId) {
          this.updateForCreate();
        }
      },
      onChangeUnit:function (event) {
        this.isChangeDeliveryPeriod = true;
        let index = event.srcElement.getAttribute('data-index');
        this.list[index].unit = event.srcElement.value;
        if (this.list[index].id) {
          this.list[index].update = true;
        }
        if (!this.productId) {
          this.updateForCreate();
        }
      },
      onDelete(index){
        this.isChangeDeliveryPeriod = true;
        if (this.list[index].id) {
          this.remove.push(this.list[index].id);
        }
        this.list.splice(index, 1);
        if (!this.productId) {
          this.updateForCreate();
        }
      },
      addDelivery: function(){
        this.isChangeDeliveryPeriod = true;
        this.list.push({id: null, period: '', unit: ''});
        if (!this.productId) {
          this.updateForCreate();
        }
      },
      onSave: function () {
        if (!this.productId) {
          this.saveDelivery({text: 'Save product'});
        } else {
          let data = this.updateDeliveryPeriod();
          this.updateData('delivery-periods', data);
          this.isChangeDeliveryPeriod = false;
        }
      },
      onCancel: function() {
        this.list = [...this.deliveryList];
      },
      updateData:function(type, data) {
        axios({
          method: 'put',
          url: apiURL + '/api/admin/product/'+this.productId+'/' + type,
          headers: {
            Authorization: 'Bearer ' + this.$cookie.get('user_token'),
          },
          data: data
        });
      },
    },
    mounted(){
      this.productPublished = this.published ? this.published : false;
      this.list = this.deliveryList ? [...this.deliveryList] : [];
    },
    components: {
      Trash2Icon, PlusCircleIcon,
      CustomCheckbox,
    }
  }
</script>
<style lang="scss">
.delivery-row{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .form-control{
    width: 100%;
    .product-volume{
      width: 100%;
      .input-form{
        flex-basis: auto;
      }
      select{
        width: 100%;
        margin-right: 15px;
      }
    }
  }
  .btn{
    padding: 10px;
  }
}
</style>
