<template>
  <div class="admin-product-section">
    <div class="input-group form-control">
      <multiselect v-model="included" tag-placeholder="Add included product" placeholder="Search a product"
                   label="name" track-by="code" :options="includedList"
                   :multiple="true"
                   :taggable="true"
                   :close-on-select="false"
                   :class="{'error-input': errorBlock}"
                   @input="onChange"></multiselect>
      <p v-if="errorBlock" class="error-text">This field is required.</p>
    </div>
  </div>

</template>
<script>
  import Multiselect from 'vue-multiselect';

  import axios from 'axios';
  import {apiURL} from '@/../config';

  export default {
    name: 'included',
    props: ['classBind', 'productIncluded', 'changeIncluded', 'errorInput'],
    data() {
      return {
        included: [],
        includedId: [],
        includedList: [],
        includedAdd: [],
        includedRemove: [],
        errorBlock: false,
      }
    },
    components: {
      Multiselect
    },
    watch: {
      productIncluded: function(newVal, oldVal) {
        let tags = [...newVal];
        this.included = [];
        tags.forEach(item =>{
          this.included.push({name: item.name, code: item.id});
          this.includedId.push(item.id);
        });
      },
      errorInput: function (newVal, oldVal) {
        this.errorBlock = newVal;
      }
    },
    methods: {
      onChange(value){
        if (this.errorBlock) {
          this.errorBlock = false;
        }
        let productTags = [...this.includedId],
          add = [],
          remove = [...this.includedId];
        value.forEach(item => {
          if (productTags.indexOf(item.code) == -1){
            add.push(item.code);
          }
          if ((productTags.indexOf(item.code) != -1)){
            remove.splice(remove.indexOf(item.code), 1);
          }
        });
        this.includedAdd = add;
        this.includedRemove = remove;
        this.changeIncluded({
          add: add,
          remove: remove
        });
      },
      getIncludesList: function () {
        axios({
          method: 'get',
          url: apiURL + '/api/admin/includes',
          headers: {
            Authorization: 'Bearer ' + this.$cookie.get('user_token'),
          },
        })
          .then(response => {
            let tags = response.data,
              result = [],
              productTags = this.productIncluded ? this.productIncluded : [],
              productTagsSelected = [];
            tags.forEach(function(item, i, arr) {
              result.push({name: item.name, code: item.id});
              if (productTags.indexOf(item.id) != -1){
                productTagsSelected.push({name: item.name, code: item.id});
              }
            });
            this.includedList = result;
            this.included = productTagsSelected;
          })
      }
    },
    mounted() {
      this.getIncludesList();

    },
  }
</script>

<style lang="scss">
  .multiselect.error-input{
    .multiselect__tags {
      border-color: #FE0341;
    }
  }
</style>

