<template>
  <div class="admin-main-block product-setting">
    <div class="admin-main-block-header">
      <h3 class="admin-main-title">Product Settings</h3>
    </div>
    <div class="admin-main-block-body">
      <div class="admin-product-section">
        <div class="input-group form-control">
          <p class="text-form">Product URL</p>
          <p v-if="!productId" class="product-url create">Product not yet added</p>
          <a v-if="productSlug" :href="productUrl + productSlug" class="btn btn-link product-url" target="_blank">{{ productUrl + productSlug }}
            <external-link-icon class="font-fix"></external-link-icon>
          </a>
        </div>
      </div>

      <div class="admin-product-section">
        <div class="product-enable m-b">
          <p class="product-enable--title">Published</p>
          <custom-checkbox attr-id="published" v-model="productPublished" :onChange="onChangePublished"></custom-checkbox>
        </div>

        <div class="product-enable">
          <p class="product-enable--title">Show on shop</p>
          <custom-checkbox attr-id="show_on_shop" v-model="productShowShop" :onChange="onChangeShop"></custom-checkbox>
        </div>
      </div>

      <button v-if="isDuplicate" type="button" class="btn btn-link m-b d-b" :class="{'disabled': !productId}">
        <copy-icon class="font-fix"></copy-icon>
        Duplicate Product
      </button>
      <button type="button" class="btn btn-link btn-link--red d-b" :class="{'disabled': !productId}" @click="deleteProduct">
        <trash-2-icon class="font-fix"></trash-2-icon>
        Delete product
      </button>
    </div>
  </div>
</template>

<script>
  import {ExternalLinkIcon, CopyIcon, Trash2Icon} from 'vue-feather-icons'
  import CustomCheckbox from '../../components/custom-checkbox';

  import axios from 'axios';
  import {apiURL} from '@/../config';

  export default {
    name: 'product-settings',
    components:{
      ExternalLinkIcon, CopyIcon, Trash2Icon,
      CustomCheckbox
    },
    props:['productId', 'productSlug', 'onPublished', 'onShowShop', 'published', 'showShop', 'onDelete'],
    data() {
      return {
        productPublished: false,
        productShowShop: false,
        productUrl: window.location.origin +'/shop/product/',
        isDuplicate: false
      }
    },
    computed: {
    },
    watch:{
      published: function(newVal, oldVal){
        this.productPublished = newVal ? newVal : false;
      },
      showShop: function(newVal, oldVal){
        this.productShowShop = newVal ? newVal : false;
      },
    },
    methods: {
      onChangePublished(data){
        if (this.productId) {
          this.updateStatus(this.productId, 'status-published', {"status" : data.value})
        }
        this.onPublished(data);
      },
      onChangeShop(data){
        if (this.productId) {
          this.updateStatus(this.productId, 'status-show-on-shop', {"status" : data.value})
        }
        this.onShowShop(data);
      },
      deleteProduct(){
        if (this.productId) {
          this.onDelete();
        }
      },

      updateStatus: function (productId, type, data) {
        axios({
          method: 'put',
          url: apiURL + '/api/admin/product/'+productId+'/'+type,
          headers: {
            Authorization: 'Bearer ' + this.$cookie.get('user_token'),
          },
          data: data
        });
      }
    },
    mounted(){
      this.productPublished = this.published ? this.published : false;
      this.productShowShop = this.showShop ? this.showShop : false;
    }

  }
</script>
<style lang="scss">
  .product-setting{
    .product-url{
      display: flex;
      justify-content : space-between;
      align-items : center;
    }
  }
</style>
