<template>
  <div>
    <div class="product-type" v-for="(type, key) in list">
      <div class="input-group form-control">
        <input type="radio" :value="key" :id="key" :data-index="key" :data-id="key" :name="key" v-model="typeId" @change="onChange"/>
        <label for="key">{{type.name}}</label>
      </div>
    </div>
  </div>
</template>

<script>
  import {Trash2Icon, PlusCircleIcon} from 'vue-feather-icons'

  export default {
    name: 'product-type',
    props: ['type', 'productId', 'onChangeProductType', 'typeId'],
    data() {
      return {
        deleteTypes: [],
        updateTypes: {},
        typeId: 0,
        list:[{name:"Physical (default)"},{name:"Digital"},{name:"Physical and digital"}],
      }
    },
    methods: {
      dataForApi(index){
        let create=[];
             create.push(index);
        this.onChangeProductType({
          create: create,
          update: this.updateTypes
        });
      },
      onChange: function(event){
        let index = event.srcElement.getAttribute('data-index');
        this.dataForApi(index);
      },
    },
    components: {
      Trash2Icon, PlusCircleIcon
    },
  }
</script>

<style lang="scss">
  .product-type {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .input-group{
      flex-basis: 100%;
      padding-right: 15px;
    }
    label {
      padding: 10px 0 0 10px;
      font-size: 14px;
    }
    .btn{
      padding: 10px;
    }
    input[type=radio] {
      color: #60686e;
      font-size: 14px;
      line-height: 20px;
      -webkit-appearance: radio;
    }
  }
</style>
