<template>
  <div>
    <div class="input-group form-control">
      <p class="text-form">Video title</p>
      <input v-model="videoTitle"
             class="input-form"
             type="text"
             @input="changeVideoBlock"/>
      <p v-if="((videoTitle == '') && errorBlock)" class="error-text">This field is required.</p>
    </div>

    <div class="input-group form-control">
      <p class="text-form">Video short description</p>
      <input v-model="videoDescription"
             class="input-form"
             type="text"
             @input="changeVideoBlock"/>
      <p v-if="((videoDescription == '') && errorBlock)" class="error-text">This field is required.</p>
    </div>

      <upload-image
        label = "Video preview image"
        name="video_preview"
        :src="previewSrc"
        :errorInput="!preview && errorBlock"
        :onChange="changeVideoPreview"
      ></upload-image>

    <div class="input-group form-control">
      <p class="text-form">Video link</p>
      <!--<div class="icon-input-block upload-btn-wrapper">-->
        <!--<input class="input-form right-icon"-->
               <!--:class="{'error-input': ((videoDescription == '') && errorBlock)}"-->
               <!--type="text"-->
               <!--:value="video" />-->
        <!--<button class="icon-input right-icon">Browse</button>-->
        <!--<input type="file"-->
               <!--name="video"-->
               <!--accept="video/mp4,video/x-m4v,video/*"-->
               <!--@change="uploadVideo"-->
               <!--:class="{'error-input': ((video == '') && errorBlock)}"/>-->
      <!--</div>-->
      <input v-model="video"
             class="input-form"
             :class="{'error-input': ((video == '') && errorBlock)}"
             type="text"
             @change="changeVideoBlock"/>
       <p v-if="((video == '') && errorBlock)" class="error-text">This field is required.</p>
    </div>
  </div>
</template>

<script>
  import UploadImage from '../../components/upload_image';
  import axios from 'axios';
  import {apiURL} from '@/../config';

  export default {
    name: 'video-block',
    components:{
      UploadImage
    },
    props: ['errorInput', 'onChange', 'videoInfoPreview', 'videoInfo', 'videoInfoPreviewAdd'],
    data() {
      return {
        video: '',
        videoTitle: '',
        videoDescription: '',
        media: '',
        preview: '',
        previewSrc: '',
        errorBlock: false,
      }
    },
    computed: {
    },
    watch: {
      errorInput: function(newVal, oldVal){
        this.errorBlock = newVal
      },
      videoInfoPreview: function(newVal, oldVal) {
        if (newVal) {
          this.preview = newVal.id;
          this.previewSrc = apiURL + newVal.filename;
        }
      },
      videoInfo: function(newVal, oldVal) {
        if (newVal) {
          this.video = (newVal.data) ? newVal.data.video_link : '';
          this.videoTitle = (newVal.data) ? newVal.data.video_title : '';
          this.videoDescription = (newVal.data) ? newVal.data.video_description : '';
        }
      }
    },
    mounted(){
      if (this.videoInfoPreview) {
        this.preview = this.videoInfoPreview.id;
        this.previewSrc = apiURL + this.videoInfoPreview.filename;
      }
      if (this.videoInfo) {
        this.video = (this.videoInfo.data) ? this.videoInfo.data.video_link : '';
        this.videoTitle = (this.videoInfo.data) ? this.videoInfo.data.video_title : '';
        this.videoDescription = (this.videoInfo.data) ? this.videoInfo.data.video_description : '';
      }
    },
    methods: {
      changeVideoBlock: function(){
        const videoData = {video_title: this.videoTitle, video_description: this.videoDescription, video_link: this.video};
        this.onChange({
          video: {
            data: (this.video) ? JSON.stringify(videoData) : '',
          },
          preview: this.preview
        })
      },
      changeVideoPreview: function (data) {
        this.preview = data;
        this.changeVideoBlock();
      },
    },

  }
</script>
