<template>
    <div class="section-sitemap-list">
        <ul class="sitemap-list">
            <li><a href="https://www.nexthealth.org/">Home</a></li>
            <li><a href="https://www.nexthealth.org/about">About Us</a></li>
            <li><a href="https://www.nexthealth.org/executive-physical">Executive Physical</a></li>
            <li><a href="https://www.nexthealth.org/preventative-care">Preventative Care</a></li>
            <li><a href="https://www.nexthealth.org/services">Services</a></li>
            <li><a href="https://www.nexthealth.org/contact">Contact US</a></li>
            <li><a href="https://www.nexthealth.org/terms-of-use">Terms Of Use</a></li>
        </ul>
    </div>
</template>
<script>
export default {
    name: 'Sitemap'
}
</script>
<style scoped>
    .section-sitemap-list {
        margin: 50px;
        text-align: center;
    }
    .section-sitemap-list .sitemap-list li {
        padding: 5px;
    }
    .section-sitemap-list .sitemap-list li a {
        color: #273540;
    }
    .section-sitemap-list .sitemap-list li a:hover {
        color: #3e5161;
        text-decoration: underline;
    }
</style>
